// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.contact-btn {
  position: fixed;
  bottom: 0;
  right: $spacer-xs;
  z-index: 9;
}

footer {
  padding: 0 $spacer-xs;
  position: relative;
  z-index: 1;

  h3 {
    border-bottom: solid 2px lighten($mid-grey, 30);
        padding-bottom: 5px;
    margin-bottom: 10px;
  }

  ul.unstyled {
    li {
      font-size: .75em;
      line-height: 1.25;
      margin-bottom: .75rem;
    }
  }

  .hbspt-form form div, .hbspt-form .hs-form-field div {
    padding: 0;
  }

  // nav {
  //   ul.footer-menu {
  //     margin: 0;
  //     list-style-type: none;
  //     padding: 0;

  //     li {
  //       padding-right: $spacer-sm;

  //       a {
  //         border: 0;
  //         display: block;
  //         text-align: center;
  //         text-transform: uppercase;
  //         font-weight: 700;
  //         font-size: .65em;
  //         letter-spacing: 1px;
  //         color: rgba($accent, .75);

  //         i {
  //           display: block;
  //           border: solid 4px transparent;
  //           background: $accent;
  //           color: white;
  //           width: 50px;
  //           height: 50px;
  //           line-height: 43px;
  //           border-radius: 90px;
  //           margin: 0 auto;
  //           transition: ease-in-out all .25s;
  //         }

  //         &:hover {
  //           color: $accent;
  //           i {
  //             background: transparent;
  //             border: solid 4px $accent;
  //             color: $accent;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .hbspt-form {
    > form {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
      width: 100%;

      label {
        display: none;
      }

      .hbspt-form .hs-form-field {
        background-color: red;
      }
    }

    .hs-input, .input {
      width: 100%;
    }
  }

  .hbspt-form .hs-form-field {
    width: 100%;
  }

  h6 {
    margin: 0;
  }
}

.news {
  form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hs-form label, .hs-form .hs-form-field > label {
    display: inline-block;
    margin-bottom: 0 !important;
  }

  .hbspt-form form div, .hbspt-form .hs-form-field div{
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex: 0 1 auto !important;
    -webkit-box-flex: 0 !important;
    flex: 0 1 auto !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding-bottom: 0 !important;
  }

  input.hs-button.primary.large {
    padding: 11px 17px !important;
  }
}
