// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  padding: 0 1rem;
  background-color: #2980B8;
  width: 100%;

  nav {
    > ul.main-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        display: inline-block;
        vertical-align: middle;

        a.btn {
          border-bottom: 0;
          transition: ease-in-out .15s all;
          color: white;
          padding: 1.25rem;

          &:hover {
            color: rgba(255,255,255,.5);
            background: darken($link-color, 5%);
          }
        }

        &.sub-menu {

          ul.sub {
            @extend .unstyled;
            list-style: none;
            padding: 0;
            background-color: white;
            text-align: left;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);            
            min-width: 250px;
            z-index: 1000;

            a {
              color: $link-color;
              padding: .75rem 1rem;
              border-bottom: solid thin $border;

              &:hover {
                background: $light-grey;
              }
            }
          }
        }
      }
    }
  }

  .social {
    img {
      filter: grayscale(100%) brightness(1000%);
    }

    .btn {
      border: solid 2px rgba(255,255,255,.25);
      color: white;
      border-radius: 90px;
      margin: 0 1rem;

      &:hover {
        background: rgba(255,255,255,.1);
      }
    }
  }

  .sub-header {
    // background: $primary-dark;
    padding: 0 3rem;
  }
}


//mobile nav
.mobile-header {
  display: none;
}
.ml-stack-nav-toggle {
  width: 50px;

    &__line {
      background: #fff;
    }
}
.ml-stack-nav {
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  font-size: 16px;

  &__menu {
    list-style: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,.25);
    background: #fff;
  }
  &__link {
    display: block;
    padding: 1.5em 80px 1.5em 1.5em;
  }

  &__item {
    border-bottom: solid thin $border;
  }
  &__item-inner {
    position: relative;
  }
  &__next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    cursor: pointer;
    width: 70px;
    text-align: center;
    background: $link-color;
  }
  &__back {
    width: 100%;
  }
}