// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  border-bottom: solid $info 3px;
  padding: 0 1rem;
  // background: #123;

  nav {
    > ul.main-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        display: inline-block;
        vertical-align: middle;

        a.btn {
          border-bottom: 0;
          transition: ease-in-out .15s all;
          // color: white;
          color: $link-color;
          padding: 1.25rem;
          text-transform: uppercase;
          font-weight: bold;
          font-size: .65em;
          letter-spacing: 1px;

          &:hover {
            color: darken($info, 15%);
          }
        }

        &.sub-menu {

          ul.sub {
            list-style: none;
            padding: 0;
            font-size: .65em;
            background-color: white;
            text-align: left;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
            z-index: 2;
            min-width: 250px;

            a {
              color: $link-color;
              padding: .65rem 1rem;

              &:hover {
                background: $light-grey;
              }
            }
          }
        }
      }
    }
  }

  .social {
    img {
      filter: grayscale(100%) brightness(1000%);
    }

    .btn {
      border: solid 2px rgba(255,255,255,.25);
      color: white;
      border-radius: 90px;
      margin: 0 1rem;

      &:hover {
        background: rgba(255,255,255,.1);
      }
    }
  }

  .sub-header {
    // background: $primary-dark;
    padding: 0 3rem;
  }
}
