///768
@media all and (max-width: map-get($breakpoints, medium)) {
  header {
    display: none;  
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  .mobile-header {
    display: flex;
  }

  .hidden-md {
    display: none;
  }
    .border-right > * {
    border-bottom: solid 2px $light-grey;
    border-right: none;
  }

  .bg-link .border-right > * {
    border-bottom: solid 2px #268bcf;
    border-right: none;
  }

  //spacing
  *[class*="p-"] {
    padding: $spacer-xs;
  }

  *[class*="m-"] {
    margin: $spacer-xs;
  }

  *[class*="text-"] {
    text-align: left;
  }
  
  //homepage
  .add-cluster {
    background-image: url()!important;
  }

  .add-cluster .wrapper .p-v-lg {
    padding: $spacer-sm 0;
  }

  section .wrapper {
    width: 100%;
    padding: $spacer-sm;
  }
}
