///768
@media all and (max-width: map-get($breakpoints, medium)) {
  header {
    display: none;  
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 100%;
    overflow-wrap: normal;
    word-wrap: normal;
  }

  h1 {
    font-size: 4em;
  }

  .mobile-header {
    display: flex;
  }

  .hidden-md {
    display: none;
  }
    .border-right > * {
    border-bottom: solid 2px $light-grey;
    border-right: none;
  }

  .bg-link .border-right > * {
    border-bottom: solid 2px #268bcf;
    border-right: none;
  }

  //spacing
  *[class*="p-a-"],
  *[class*="p-v-"],
  *[class*="p-h-"],
  *[class*="p-t-"],
  *[class*="p-b-"], 
  *[class*="p-l-"],
  *[class*="p-r-"]     {
    padding: $spacer-xs;
  }

  *[class*="m-a-"],
  *[class*="m-v-"],
  *[class*="m-h-"],
  *[class*="m-t-"],
  *[class*="m-b-"], 
  *[class*="m-l-"],
  *[class*="m-r-"]     {
    margin: $spacer-xs;
  }

  *[class^="text-"],
  *[class^="text-"] > *,
  ol,
  ul,
  table {
    font-size: 1.25em;
    line-height: 1.25em;
  }

  .text-right {
    text-align: left;
    > * {
      text-align: left;
    }
  }
  .sticky #TableOfContents{
    display: none;
  }
  //homepage
  .add-cluster {
    background-image: url()!important;
  }

  .add-cluster .wrapper .p-v-lg {
    padding: $spacer-sm 0;
  }

  section .wrapper {
    width: 100%;
    padding: $spacer-sm;
  }

  .logo-bg {
    display: none;
  }
}
