.hero {
  padding: $spacer-lg 0;
  color: white;
  background-image: url(../../img/farm-k8s.svg);
  background-color: #2980B9;
  background-size: cover;
  background-position: center 60px;
  text-align: center;
  background-repeat: no-repeat;

  h1 {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
    margin: 0;
  }
  .byline {
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.homepage {
  .hero {
     background: url(../../img/header-placeholder.svg);
     color: $link-color;
    }
}

//accents
.box {
  border: $light-grey solid 3px;

  h2 {
    font-size: 2em;
    font-family: "Prompt", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
  }

  h3 {
    border-bottom: solid $light-grey 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  >.bg-default {
    background: rgba($light-grey, .35);
  }
}

.border-right > * {
  border-right: solid 2px $light-grey;

  &:last-child {
    border-right: none;
  }
}

.cloud {
  background-image: url(../../img/cloud-band.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 14rem;
}

.cloud-after {
  position: relative;

  &:after {
    content: url(../../img/cloud-band.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
  }

  div {
    position: relative;
    // z-index: 3;
  }
}

.desks {
  background-image: url(../../img/desks.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

//main content
.main-content {
  font-weight: 300;

  p {
    margin-bottom: 1.75em;

    a:link {
      border-bottom: solid 4px $light-grey;
    }
  }

  /* Links: replicate underline that clears descenders */
  a:link {
    color: $link-color;

    &.btn {
      border-bottom: none;
      color: white;
    }
  }

  a:visited  {

  }

  a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
  }

  a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
  }

  h1 a:link,
  h2 a:link,
  h3 a:link,
  h4 a:link,
  h4 a:link,
  h6 a:link {
    border: 0;
  }

  h2 {
    color: $primary;
  }

  > ul {
    list-style-type: none;
    >li {

      &:before {
        font-family: 'Material Icons';
        content: "label";
        color: $link-color;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        float: left;
      }
    }

    li:not(:first-child) {
      margin-top: 0.25rem;
    }

    ul {
      list-style: none;

      > li {
        &:before {
          font-family: 'Material Icons';
          content: "label";
          font-size: .75em;
          color: lighten($link-color, 25%);
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          float: left;
        }
      }
    }

    > ol {
      font-size: 1em;
      list-style-type: upper-alpha;
    }
  }

  ol {
    >li {
      counter-increment: step-counter;
      padding: 5px 5px 5px 0;
      list-style-type: none;


      &:before {
        content: counter(step-counter);
        color: $link-color;
        padding-right: 10px;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
      }

      >ul,
      ol {
        list-style-type: none;
        font-size: 1em;
        border-left: solid;
        border-color: $light-grey;
        padding: 0 $spacer-sm;
        margin: 1rem $spacer-sm;

        li {
          position: relative;

          &:before {
            content: "";
            height: 3px;
            width: 15px;
            background: $light-grey;
            position: absolute;
            left: -28px;
            top: 12px;
          }
        }
      }
    }
  }

  blockquote {
    background: lighten($light-grey, 4%);
    border-bottom-right-radius: 2px;
    border-left: 4px solid $link-color;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative;


    strong {
      display: block;
      color: $mid-grey;
      padding-bottom: .75em;
      border-bottom: $light-grey solid 2px;
      font-weight: 100;
      font-style: initial;
      margin: 0 0 1em 0;
      font-family: $text-font-header;
      font-weight: 400;

    }

    p {
      font-size: 1em;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

code {
  background-color: rgba($success, .15);
  padding: 2px 4px;
}

table {
  border-spacing: 0;
  border-top: solid $light-grey 2px;
  border-bottom: solid $light-grey 2px;
  min-width: 100%;
  margin: 0 auto;

  thead {
    color: $dark-grey;

    tr {
      th {
        text-align: left;
        padding: 10px 5px;
      }
    }
  }

  tbody {
    background: $light-grey;

    tr {
      &:nth-child(even) {
        background: lighten($light-grey, 5%);
      }

      td {
        text-align: left;
        padding: 12px 9px;
      }
    }
  }
}

//lists
ul {
  &.checklist {
    list-style-type: none;
    color: $text-color;
    font-weight: 300;
    text-align: left;
    margin: 0;

    li {
      @extend .p-v-xs;
      display: flex;
      align-items: center;

      &:before {
        content: "check";
        font-family: 'Material Icons';
        color: $accent;
        font-size: 1.5em;
        padding-right: .25em;
      }

      strong {
        color: $accent;
      }
    }
  }
}

//styling helpers
.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

//pagination
.pagination {
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;

  li {
    @extend .btn;
    @extend .bg-default;
    margin: 0 3px;

    &.active {
      @extend .bg-link;
    }
  }
}
