// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

aside {
  .aside-item {
    background: rgba(255,255,255,.5);
    margin-bottom: 1rem;
    padding: $spacer-xs;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    .thumbnail {
      width: 100px;
      height: 100px;

      img {
        overflow: hidden;
        height: 100px;
        width: 265px;
        max-width: 666px;
        margin: -89px -82px;
      }
    }

    .aside-info {
      padding: 1rem;
        h3 {
          margin: 0 0 5px 0;
          font-family: $text-font-header;
          text-transform: none;
          font-weight: 300;
          font-size: 1.35em;
        }

        a {
          display: block;
          color: $link-color;
        }

      + ul {
        display: block;
      }
    }
  }

  //docs
  &.docs-sidebar {
    nav {
      ul {
        font-size: 1em;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;

        li {

        }

        ul {
          list-style: none;
        }
      }
    }
  }

  nav#TableOfContents {
    .active {
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      &:first-child {
        padding: 0;
        margin: 0;
        border: none;
      }

      li {
        a {
          display: block;
          font-size: .75em;
          line-height: 1.25em;
          text-transform: capitalize;
          border-bottom: solid thin $light-grey;
          padding: .5em 0;
        }
      }

      ul {
        margin-left: .5em;
      }
    }
  }
}

.bio {
  img {
    display: inline-block;
    vertical-align: middle;
  }
}
