// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

aside {
  .aside-item {
    background: rgba(255,255,255,.5);
    margin-bottom: 1rem;
    display: flex;

    .bg-accent {
      padding: 10px;
      transition: ease-in-out all .25s;
      text-align: center;
      max-width: 50px;
      margin-right: 1rem;
      margin-left: 0;
    }

    .aside-info {
      padding: 1rem;
        h3 {
          margin: 0 0 5px 0;
          font-family: $text-font-stack;
          text-transform: none;
          font-weight: 300;
          font-size: 1.35em;
        }

        a {
          display: block;
          color: $link-color;
        }

      + ul {
        display: block;
      }
    }
  }

  //docs
  &.docs-sidebar {
    nav {
      ul {
        font-size: 1em;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;

        li {

        }

        ul {
          list-style: none;
        }
      }
    }
  }

  nav#TableOfContents {
    ul {
      list-style-type: none;
      margin: 0;
      padding-left: $spacer-xs;

      li {
        a {
          font-size: .95em;
        }
      }
    }
  }
}
