/*695-959*/
@media all and (max-width: map-get($breakpoints, small)) {
  .hidden-sm {
    display: none;
  }

  .col-reverse-sm {
    flex-direction: column-reverse;
  }

  .map {
    display: none;
  }

  .multipleelements li, .multislides li, .ease li {
    flex-basis: 100%;
    max-width: 100%;
  }
}
