// Color set.
$c-blue: #0075a8;
$c-blue-hover: #0086c1;
$c-blue-gray: #8b959d;
$c-blue-gray-dark1: #454a4e;
$c-blue-light: #e6ebec;
$c-blue-dark1: #34485d;
$c-blue-dark2: #2c3d4f;
$c-blue-dark3: #00374f;
$c-blue-dark4: #2f4154;

$c-sky-blue: #78c9cf;
$c-sky-blue-light: #e5f1f6;

$c-green: #8dc63f;
$c-emerald: #78c9cf;

$c-gray: #3d3d3d;
$c-gray-light: #ecf0f1;
$c-gray-base-light: white;
$c-gray-mid-light: #d0d4d7;

$c-disabled-default: #777;

$cs--blue-default: #3161aa;
$cs--blue-light: #3491f0;
$cs--blue-dark: #21406f;

$cs--sky-blue-default: #36a6e0;
$cs--sky-blue-light: #4ec3ff;
$cs--sky-blue-dark: #1a85bb;

$cs--link-default: #0071f0;

$cs--red-light: #f67474;
$cs--red-default: #ee5656;
$cs--red-dark: #e43f3f;

$cs--orange-light: #fe7f2a;
$cs--orange-default: #f68017;
$cs--orange-dark: #ea660f;

$cs--yellow-default: #f5d647;
$cs--yellow-dark: #f6af49;

$cs--green-default: #95da5e;
$cs--green-dark: #66aa2f;

$cs--emerald-default: #00a99d;

$cs--gray-default: #777;
$cs--gray-light: #ddd;
$cs--gray-dark: #333;
$cs--gray: #aaa;
