// Color set.
$c-black: #000000;

$c-white: #ffffff;
$c-dark-grey: #0c322c;
$c-blue: #2453FF;
$c-blue-hover: #0086c1;
$c-blue-gray: #8b959d;
$c-blue-gray-dark1: #454a4e;
$c-blue-light: #e6ebec;
$c-blue-30: #bdcbff;
$c-blue-light2: #D9E8ED;
$c-blue-dark1: #192072;
$c-blue-dark2: #2c3d4f;
$c-blue-dark3: #00374f;
$c-blue-dark4: #2f4154;
$c-blue-dark5: #192072;


$c-sky-blue: #78c9cf;
$c-sky-blue-light: #e5f1f6;

$c-green: #30BA78;
$c-emerald: #90ebcd;

$c-gray: #3d3d3d;
$c-gray-light: #ecf0f1;
$c-gray-base-light: #f2f5f5;
$c-gray-mid-light: #d0d4d7;
$c-gray-mid-light1: #efefef;
$c-disabled-default: #777;
$c-gray-border: #f7f7f7;
$c-gray-text:#6B7280;
$c-button-grey: #F3F3F3;
$c-grey-table: #E8E8E8;
$c-grey-table-light: #F5F5F5;
$c-grey-bkg-light: #FCFCFC;
$c-grey-products-banner: #dddddd;

$cs--blue-default: #3161aa;
$cs--blue-light: #3491f0;
$cs--blue-dark: #21406f;
$cs--blue-dark1: #0007B0;
$cs--sky-blue-default: #36a6e0;
$cs--sky-blue-light: #4ec3ff;
$cs--sky-blue-dark: #1a85bb;

$cs--link-default: #0071f0;

$cs--red-light: #f67474;
$cs--red-default: #ee5656;
$cs--red-dark: #e43f3f;

$cs--orange-light: #FE7C3F;
$cs--orange-default: #f68017;
$cs--orange-dark: #ea660f;

$cs--yellow-default: #f5d647;
$cs--yellow-dark: #f6af49;

$cs--green-default: #95da5e;
$cs--green-dark: #66aa2f;

$cs--emerald-default: #00a99d;

$cs--gray-default: #777;
$cs--gray-light: #ddd;
$cs--gray-dark: #333;
$cs--gray: #aaa;
