// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

@import "variable/variable";
@import "variable/color";

// 2. Vendors
@import "vendor/normalize", "vendor/loryslider", "vendor/flexboxgrid";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/colors",
"base/helpers";

@import "base/animations";

// 4. Layout-related sections
@import "layout/grid", "layout/header", "layout/footer";

@import "vendor/grid";
@import "vendor/slick";
@import "layout/general";


@import "components/general";
@import "components/tweet-box";

// 6. Page-specific styles
@import "pages/common";
@import "pages/hero";
@import "pages/index";
@import "pages/why-rancher";
@import "pages/why-kubernetes";
@import "pages/rancheros";
@import "pages/rancher-difference";
@import "pages/customers";
@import "pages/products";
@import "pages/products-rancher-control-all";
@import "pages/products-rancher-take-control-of-the-api";
@import "pages/products-rancher-makes-clusters-immediately-usetful";
@import "pages/products-rancher-easy-provisioning";
@import "pages/products-rancher-os";
@import "pages/products-training";
@import "pages/products-support";
@import "pages/products-support-cta";
@import "pages/products-pricing-cta";
@import "pages/products-request-a-demo-cta";
@import "pages/community";
@import "pages/community-tutorials";
@import "pages/community-training";
@import "pages/community-events-and-meetups";
@import "pages/community-ebooks";
@import "pages/community-videos-and-podcasts";
@import "pages/community-blog";
@import "pages/community-getstarted";
@import "pages/company-about-us";
@import "pages/company-careers";
@import "pages/company-partners";
@import "pages/company-partners-contact";
@import "pages/company-press";
@import "pages/company-contact-us";
@import "pages/writing-program";
@import "pages/writing-program-research-assistant";
@import "pages/writing-program-research-writer";
@import "pages/rodeo";
@import "pages/legal-documents";
@import "pages/docs";
