// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: ease-in-out all .25s;

  @include on-event {
    // color: $text-color;
    opacity: .5;
    text-decoration: underline;
  }

  &:hover {
    opacity: .5;
  }
}

a:hover {
  text-decoration: none;
  border-bottom-color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}
