.darken {
  background: $darken-helper;
}

.lighten {
  background: $lighten-helper;
}

.text-default {
  color: $text-color;
}

.text-disabled, .text-muted, .text-muted A {
  color: mix($mid-grey, $light-grey);
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

.text-white {
  color: white;
}

.text-black {
  color: $black;
}
.help-block {
  @extend .text-muted;
  @extend .text-sm;
  margin: 5px 0 0 0;

  a {
    color: $link-color;
  }
}

.bg-body {
  background: $body-bg;
}

.bg-default {
  background-color: lighten($bg-default, 2%);
}

.bg-accent {
  background-color: $accent;
  color: white;
}

.bg-disabled {
  background-color: $bg-disabled;
  color: darken($bg-disabled, 30);
}

.bg-primary {
  background-color: $bg-primary;
}
.bg-secondary {
  background-color: $bg-secondary;
  color: white;

  h1, h2, h3, h4, h5, h6 {
    color: $info;
  }
}
.bg-success {
  background-color: $bg-success;
}
.bg-info {
  background-color: $bg-info;
}
.bg-warning {
  background-color: $bg-warning;
}
.bg-error {
  background-color: $bg-error;
}
.bg-link {
  background-color: $link-color;
  color: white;

  * {
    color: white;
  }

  .border-right > * {
    border-right: solid 2px darken($link-color, 5%);
  }
}
.bg-white {
  background-color: white;
  color: $text-color;
}

.bg-white-transparent {
  background-color: rgba(255,255,255,.3);
}

.bg-transparent {
  background-color: transparent;

  a {
    &:before {
      display: none;
    }

    border-bottom: none;
    padding: 0;
  }
}
