/**
 * Basic typography style for copy text
 */


/* Tufte CSS styles */

html {
  font-size: 13px;
}

body {
  font-family: $text-font-stack;
  color: $text-color;
  counter-reset: sidenote-counter;
  font-weight: 300;
  letter-spacing: .03em;
}

.wrapper {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $text-font-header;
  font-weight: 600;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 5rem;
  line-height: 1;
  text-transform: capitalize;

}

h2 {
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 1;
  text-transform: capitalize;
}

h3 {
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: .5px;
  font-family: $text-font-stack;
  color: $mid-grey;
  // font-weight: 100;
  text-transform: uppercase;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $light-grey;
  margin: 2em auto;
  padding: 0;
  clear: both;
}

article {
  position: relative;
}

// section {
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

p,
ol,
ul,
table {
  // font-size: 1.4rem;
  // line-height: 2rem;
  font-size: 18px;
}

p {
  vertical-align: baseline;
  // font-size: 1.4rem;
  // line-height: 2rem;
  font-size: 18px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  letter-spacing: .03em;
}

blockquote {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
}

cite {
  display: block;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 10px;
  letter-spacing: .5px;
  color: $mid-grey;
  font-size: 1.5em;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}



/* Sidenotes, margin notes, figures, captions */

img {
  max-width: 100%;
}


code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
}

.sans>code {
  font-size: 1.2rem;
}

h1>code,
h2>code,
h3>code {
  font-size: 0.80em;
}

pre {
  background-color: $bg-default;
  padding: $spacer-sm;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.8em;
}

code {
  color: $success;
  font-style: initial;
}

pre code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  background: transparent;
}

//icons
.material-icons {
  vertical-align: middle;
  font-size: inherit;

  &.dot {
    border: solid 3px;
    border-radius: 50%;

  }
}


//list helpers
ul {
  &.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@media screen and (max-width: 720px) {}

//text helpers
.text-sm {
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 300;
}

.text-md {
  font-size: 2rem;
  line-height: 3rem;
}

.text-lg {
  font-size: 3rem;
  line-height: 4rem;
}

//alternative styles
.lead {
  font-size: 2em;
  line-height: 3rem;
  color: $info;
}

.light {
  font-weight: light;
}

//text
.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-normal {
  font-weight: normal;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: $bold-weight;
}
