/**
 * Basic typography style for copy text
 */

html {
  font-size: 13px;
}

body {
  font-family: $text-font-stack;
  color: $text-color;
  counter-reset: sidenote-counter;
  font-weight: 300;
  letter-spacing: .03em;
}

h1, h2 {
  font-family: $text-font-header;
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-family: $text-font-header;
  color: $mid-grey;
  // margin-top: 3rem;
  // margin-bottom: 1rem;

}

h1 {
  // margin-bottom: 1.5rem;
  font-size: 5rem;
  line-height: 1;
  text-transform: capitalize;

}

h2 {
  font-size: 2em;
  line-height: 1.05em;
  margin-top: 4rem;
  margin-bottom: .7rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.14384615;
  margin-top: 2rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.4rem;
  line-height: 2rem;
  color: $mid-grey;
}

h5, h6 {
  font-size: 1.3rem;
  line-height: 2rem;
  color: $mid-grey;
  text-transform: uppercase;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid $light-grey;
  margin: 2em auto;
  padding: 0;
  clear: both;
}

article {
  position: relative;
}

p,
ol,
ul,
table {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  vertical-align: baseline;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: .7rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  letter-spacing: .03em;
}

blockquote {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
}

cite {
  display: block;
  font-family: $text-font-header;
  font-weight: 300;
  font-style: normal;
  padding-top: 10px;
  letter-spacing: .5px;
  color: $mid-grey;
  font-size: 1.5em;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;

  h4 {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: normal;
    font-style: italic;
  }
}

figure.fullwidth figcaption {
  margin-right: 24%;
}



/* Sidenotes, margin notes, figures, captions */

img {
  max-width: 100%;
}


code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.42;
}

.sans>code {
  font-size: 1.2rem;
}

h1>code,
h2>code,
h3>code {
  font-size: 0.80em;
}

pre {
  background-color: $dark-grey;
  padding: $spacer-xs;
  // white-space: pre-wrap;
  white-space: pre;
  overflow: scroll;
  word-wrap: break-word;
  border-radius: 3px;
  font-size: $base-font-size;
  line-height: $base-line-height;

  code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: $spacer-xs;
    overflow-x: auto;
    background: transparent;
  }
}

code {
  color: $success;
  font-style: initial;
}

//icons
.material-icons {
  vertical-align: middle;
  font-size: inherit;

  &.dot {
    border: solid 3px;
    border-radius: 50%;

  }
}


//list helpers
ul {
  &.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: calc($spacer-xs / 2);
  }
}

@media screen and (max-width: 720px) {}

//text helpers
.text-sm {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.text-md {
  font-size: 2rem;
  line-height: 3rem;
}

.text-lg {
  font-size: 3rem;
  line-height: 4rem;
}

.text-huge {
  font-size: 8rem;
  margin: 0;
}

//alternative styles
.lead {
  font-size: 2em;
  line-height: 3rem;
  color: $info;
}

.light {
  font-weight: light;
}

//text
.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-normal {
  font-weight: normal;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: $bold-weight;
}
