.pull-up-100 {
	margin-top: -100px;
}

.pull-up-50 {
	margin-top: -50px;
}

.border-radius {
	border-radius: $border-radius-default;
	overflow: hidden;
}

.ndvr {
	.card-container	{
		display: flex;

		.card {
			box-sizing: content-box;
			margin: 1.5rem;
			display: flex;
			flex-direction: column;
			overflow: visible;
			padding: 1.5rem;
			flex: 1;
			box-shadow: $box-shadow;
			background-color: white;
			border-radius: $border-radius-default;
      color: $c-gray;

			&-header {
				margin-bottom: 10px;
			}

			&-img {
				width: 100%;
				height: auto;
			}

			&-body {
				flex: 1;
				margin: 1rem 0;
			}

			&-footer {
				display: flex;
				justify-self: flex-end;
				align-content: center;
			}
		
			&.video,
			&.whitepaper,
			&.ebook {
			    padding: 0;
			    overflow: hidden;
			    align-items: stretch;
				height: calc(100% - 1.5rem);
			    margin: 1.5rem 0;
				
				img {
				    max-height: 200px;
				    width: 100%;
				    object-fit: cover;
				    object-position: top;
				}

				.title-label {
				    font-size: 16px;
				    font-weight: 500;
				}
				
				.video-wrap {
					box-shadow: none;
				}

				.subject-label {
					box-sizing: border-box;
					position: relative;
					color: inherit;
					padding: 1rem;
					padding-bottom: 0;
				}
				
				.information-container {
					padding: 1rem;
				    display: flex;
				    flex-direction: column;
				    height: 100%;
				    flex: 1;

				    .description-label {
				    	flex: 1;
				    }
				}
			}
		}
	}
}
