.ais-search-box {
  max-width: 100%;
}

.ais-search-box--input {
  box-shadow: none;
}

.ais-infinite-hits--item {
  h3 {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: $spacer-sm 0 0 0;
    padding-top: $spacer-sm;
    border-top: solid $border thin;

    em {
      font-style: normal;
      text-decoration: underline;
      font-weight: bold;
      background-color: rgba($warning, .2);
    }
  }

  .body {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $secondary;

    em {
      font-style: normal;
      text-decoration: underline;
      font-weight: bold;
      background-color: rgba($warning, .2);
    }
  }
}
