.tabs-container {
  margin-top: 2rem;

  .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid $c-gray-light;
    padding: 0;

    .tab-item {
      background: $c-gray-base-light;
      text-align: center;
      margin: 0 2px;
      transition: all 300ms ease-in-out;
      flex: 1 1 100px;

      a {
        display: block;
        padding: 1rem 0;
      }

      &:hover {
        background: $c-gray-light;
      }

      &.active {
        box-shadow: 0 -2px 0 $c-blue;
        background: $c-gray-light;
      }
    }
  }
}


.tab-content {
   .row:not(:first-of-type) {
      border-bottom: 1px solid $c-gray-light;
      padding-bottom:  3rem;
      margin-bottom: 3rem;
  }
  .row:last-child {
    border: none;
  }
}

.product-logo {
  @extend .col-md-3;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 66%;
  }
}

.product-description {
  @extend .col-md-9;
  padding-top: 2rem;
}
