.twitter-box-container {
  position: relative;

  ul {
    li {
      display: flex;
      flex-direction: column-reverse;

      + li {
        margin-top: 50px;

        @media (max-width: 575.98px) {
          margin-top: 25px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          margin-top: 32px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-top: 45px;
        }
      }
    }

    :nth-child(even) {
      .user {
        flex-direction: row-reverse;

        > div[data-scribe="component:author"] {
          margin-right: 25px;
          margin-left: 0;
          text-align: right;
        }
      }
    }

    .interact,
    .timePosted {
      display: none !important;
    }

    .user {
      display: flex;
      align-items: center;

      > a {
        line-height: 0;

        img {
          position: relative;
          width: 100%;
          max-width: 75px;
          height: auto;
          background-color: $c-green;
          border-radius: 50%;
        }
      }

      > div[data-scribe="component:author"] {
        margin-left: 25px;

        span[data-scribe="element:name"] {
          font-size: 18px;
          display: block;
          color: white;

          @media (max-width: 575.98px) {
            font-size: 12px;
          }
        }

        span[data-scribe="element:screen_name"] {
          display: block;
          margin-top: 10px;
          color: $c-green;
          font-family: 'Poppins';
          font-size: 12px;
          font-weight: 700;
          letter-spacing: .75px;

          @media (max-width: 575.98px) {
            margin-top: 5px;
          }
        } 
      }
    }

    .tweet {
      position: relative;
      margin-bottom: 25px;
      font-weight: 400;
      padding: 20px;
      color: $c-gray;
      font-size: 15px;
      line-height: 1.665;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 25px 25px 75px rgba($c-blue, .1);

      @media (max-width: 575.98px) {
        padding: 10px;
        font-size: 12px;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 12px;
      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 14px;
        font-size: 1em;
        line-height: 1.3;
      }

      @media (min-width: 992px) and (max-width: 1199.98px) {
        padding: 16px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 20px;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #fff;

        @media (max-width: 575.98px) {
          top: calc(100% - 1px);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #fff;
        }
      }
    }
  }
}
