// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  position: relative;
  display: block;
  overflow-x: hidden;

  width: 100%;

  scroll-behavior: smooth;
}

body {
  position: relative;
  display: block;
  overflow-x: hidden;

  // color: $cs--gray-dark;
  // font-family: $font-list;
  // font-size: 1em;
  // font-weight: normal;
  // line-height: 1.6;

  width: 100%;

  padding: 0;

  color: $c-gray;
  font-family: $font-set;

  background-color: #fff;

  // -webkit-user-select: none;
  //    -moz-user-select: none;
  //     -ms-user-select: none;
  //         user-select: none;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;

  -webkit-touch-callout: none;
  -khtml-user-select: none;

  -webkit-overflow-scrolling: touch;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

// default linkage.
a {
  text-decoration: underline;
  text-decoration: none;

  color: #3e6ee5;

  cursor: pointer;

  &:hover,
  &:focus {
    color: #4460a6;
  }

  &.a-underline {
    position: relative;

    color: $c-blue;

    text-decoration: none;

    span:before {
      content: "";
      position: absolute;

      bottom: -2px;

      width: 100%;
      height: 10px;

      background-color: rgba($c-blue, 0.1);

      @include transition(all 0.25s);
    }
    &:hover {
      span:before {
        bottom: -3px;

        height: 1px;

        background-color: rgba($c-blue, 0.2);
      }
    }

    &.normal {
      font-weight: normal;
    }

    &.c-emerald {
      color: $c-emerald;

      span:before {
        background-color: rgba($c-emerald, 0.1);
      }
      &:hover span:before {
        background-color: rgba($c-emerald, 0.2);
      }
    }
  }

  &.disabled,
  &[disabled] {
    pointer-events: none;

    opacity: 0.5;

    cursor: default;
  }
}
