// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

.main {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: ease-in-out all .25s;
}

a:hover {
  opacity: .5;
  text-decoration: none;
  border-bottom-color: $link-color;
}

img {
  max-width: 100%;
  height: auto;
}
