// default heading.
h1 {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Poppins";
  font-size: 60px;
  font-weight: 200;

  line-height: 1.167;

  @media (max-width: 575.98px) {
    margin-bottom: 14px;

    font-size: 2em;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-bottom: 16px;

    font-size: 2.4em;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-bottom: 18px;

    font-size: 2.9em;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    margin-bottom: 20px;

    font-size: 3.3em;
  }
}

h2 {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Poppins";
  font-size: 40px;
  font-weight: 200;

  line-height: 1.125;

  @media (max-width: 575.98px) {
    font-size: 1.75em;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 1.9em;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 2.1em;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 2.4em;
  }
}

h3 {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Poppins";
  font-size: 30px;
  font-weight: 100;

  line-height: 1.5;

  @media (max-width: 575.98px) {
    font-size: 0.9em;
    line-height: 1.6;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 1.2em;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 1.8em;
    line-height: 1.35;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 2em;
    line-height: 1.4;
  }
}

h4 {
  position: relative;

  margin: 0.25em 0;

  font-size: 25px;
  font-weight: lighter;
  font-weight: 200;
  font-weight: 100;

  @media (max-width: 575.98px) {
    font-size: .9em;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 1em;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 1.2em;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 1.3em;
  }
  @media (min-width: 1200px) and (max-width: 1279px) {
    font-size: 1.4em;
  }
}

h5 {
  font-size: 11px;
  font-weight: lighter;
  font-weight: 200;
  font-weight: 100;

  @media (max-width: 1279px) {
    font-size: 0.9em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  &.light {
    font-weight: lighter;
    font-weight: 100;
  }

  &.normal {
    font-weight: normal;
    font-weight: 300;
  }

  &.bold {
    font-weight: bold;
    font-weight: 500;
  }

  &.heavy,
  .heavy {
    font-weight: bolder;
    font-weight: 900;
    letter-spacing: -0.025em;
  }

  .small {
    font-size: 50%;
  }
}
