{{ define "hero" }}
  <section class="hero">
    <div class="wrapper row center-xs">
    <div class="col-md-7">
      {{ with .Title }}
        <h1>{{ . }}</h1>
      {{end}}

      {{ with .Params.description }}
        <p class="p-t-sm">{{ . }}</p>
        {{end}}
      </div>
    </div>
  </section>
{{ end }}

{{ define "main" }}
  <!--cta banner-->
  {{ if and (.Params.ctaBanner) }}
    {{ with index .Site.Data.cta .Params.ctaBanner }}
      <div class="wrapper">
        <div class="cta-banner row center-xs middle-xs bg-info shadow rounded-corners">
          <h3 class="m-v-sm m-r-sm text-white">{{ .header }}</h3>
          <a href="{{ .link }}" target="_blank" class="btn border-btn">{{ .button }}</a>
        </div>
      </div>
    {{end}}
  {{end}}

  {{ .Content }}
{{ end }}


