{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
  <!-- theme/layouts/_default/list.html-->
  <section class="hero">
    {{ with .Title }}
      <h1>{{ . }}</h1>
    {{end}}

    {{ with .Params.description }}
      <p class="p-t-sm">{{ . }}</p>
    {{end}}
  </section>
{{ end }}

{{ define "main" }}

<section class="tags-contents">
    <div class="grid-container">
        <div class="row max-sized set-lines set-ground">
            <div class="col-xl-4"></div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4"></div>
        </div>

        <div class="row max-sized contents-container">
            <div class="col-xl-8 offset-xl-2">

              <div class="head-container">
                  <h2 class="title-label">Tags</h2>
              </div>

      {{ .Content }}

      {{ if eq .Section "events" }}
        <!-- event list -->
        {{ range (where .Data.Pages.ByDate ".Date.Unix" "ge" now.Unix)}}
          <div class="p-v-xs">
            <h2 class="m-t-0"><a href="{{.URL}}">{{.Title}}</a></h2>
            {{ if .Params.image }}
              <div class="thumbnail"><img src="{{ .Params.image }}" alt="{{ .Params.title }}"></div>
            {{end}}

            <p>
              {{ .Description | default .Summary | safeHTML }}
          </p>

            <div class="row">
              {{ with .Params.author }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">person_outline</i> By: {{ . }}</div>
              {{end}}

              {{ with .Params.date }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">event</i> {{ .Format "January 2, 2006" }}</div>
              {{end}}

              {{ with .Params.location }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">location_on</i> {{ . }}</div>
              {{end}}
            </div>
            <hr/>
          </div>
        {{ end }}

      {{else}}

        <!-- non event lists -->
        <div class="tag-list-container">
        {{ $paginator := .Scratch.Get "paginator" }}
        {{ range $paginator.Pages }}

            <div class="tag-item">
                <a href="{{.URL}}" class="tag-linkage">{{.Title}}</a>
            </div>

          {{ end }}
          </div>
        {{ template "_internal/pagination.html" . }}
      {{end}}

      </div>
    </div>

  </div>
</section>

  {{ partial "footer-cta.html" }}
{{ end }}
