{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
  <section class="hero">
    {{ with .Params.title }}
      <h1>{{ . }}</h1>
    {{end}}

    {{ with .Params.author }}
      <span class="byline bg-link">{{ . }}</span>
    {{end}}
  </section>
{{ end }}

{{ define "main" }}
  <h1>Docs list</h1>
  <div class="wrapper">
    <div class="row">
      <aside class="docs-sidebar col-lg-4 col-xs-12">
        Docs Side Nav
        {{ $sectionPages := where .Site.Pages "Section" .Section }}
        {{ if ge (len $sectionPages) 1 }}
          <ul>
            {{ range $sectionPages }}
              <li><a href="{{.URL}}">{{.Title}}</a></li>
            {{ end }}
          </ul>
        {{ end }}

        or

        <ul>
        {{ range where .Site.Pages "Section" .Section }}
          <li><a href="{{.URL}}">{{.Title}}</a></li>
        {{ end }}
        </ul>
      </aside>

      <article class="main-content col-sm-8 col-xs-12 p-r-lg">
      {{ partial "breadcrumbs.html" . }}
      {{ .Content }}
        {{ range .Pages }}
          <div class="box m-b-md">
              <div class="p-a-sm">
                <h3><a href="{{.URL}}">{{.Title}}</a></h3>
                {{.Summary | safeHTML}}
              </div>
              <div class="bg-default">
                <div class="row">
                  <div class="text-muted p-a-sm"><i class="material-icons">person_outline</i> By: {{ .Params.author }}</div>
                  <div class="text-muted p-a-sm"><i class="material-icons">timer</i> Read Time: {{.ReadingTime}} minutes</div>
                </div>
              </div>
          </div>
        {{ end }}
      </article>
    </div>
  </div>
{{ end }}
