{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
  <!-- theme/layouts/_default/list.html-->
  <section class="hero">
    {{ with .Title }}
      <h1>{{ . }}</h1>
    {{end}}

    {{ with .Params.subTitle }}
      <p class="p-t-sm">{{ . }}</p>
    {{end}}
  </section>
{{ end }}

{{ define "main" }}
  <!--cta banner-->
  {{ if and (.Params.ctaBanner) }}
    {{ with index .Site.Data.cta .Params.ctaBanner }}
      <div class="wrapper">
        <div class="cta-banner row center-xs middle-xs bg-info shadow rounded-corners">
          <h3 class="m-v-sm m-r-sm text-white">{{ .header }}</h3>
          <a href="{{ .link }}" target="_blank" class="btn border-btn">{{ .button }}</a>
        </div>
      </div>
    {{end}}
  {{end}}

  <div class="wrapper">
    <div class="row center-xs">

<!--     <div class="col-md-8">
      {{ partial "breadcrumbs.html" . }}
    </div> -->

    <article class="col-md-8">
      {{ .Content }}

      {{ if eq .Section "events" }}
        <!-- event list -->
        {{ range (where .Data.Pages.ByDate ".Date.Unix" "ge" now.Unix)}}
          <div class="p-v-xs">
            <h2 class="m-t-0"><a href="{{.URL}}">{{.Title}}</a></h2>
            {{ if .Params.image }}
              <div class="thumbnail"><img src="{{ .Params.image }}" alt="{{ .Params.title }}"></div>
            {{end}}

            <p>
              {{ .Summary | safeHTML }}
              {{ if .Truncated }}
                <a href="{{ .RelPermalink }}">Read More…</a>
              {{ end }}
            </p>

            <div class="row">
              {{ with .Params.author }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">person_outline</i> By: {{ . }}</div>
              {{end}}

              {{ with .Params.date }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">event</i> {{ .Format "January 2, 2006" }}</div>
              {{end}}

              {{ with .Params.location }}
                <div class="p-h-xs p-v-xs col-xs-12"><i class="material-icons text-muted">location_on</i> {{ . }}</div>
              {{end}}
            </div>
            <hr/>
          </div>
        {{ end }}

      {{else}}

        <!-- non event lists -->
        {{ $paginator := .Scratch.Get "paginator" }}
        {{ range $paginator.Pages }}
          <div class="p-v-xs">
            <h2 class="m-t-0"><a href="{{.URL}}">{{.Title}}</a></h2>
              <!--list tags-->
              {{ if eq .Section "events" }}
                {{ else }}

                {{ partial "tag-list.html" . }}
              {{ end }}

              {{ if .Params.image }}
                <div class="thumbnail"><img src="{{ .Params.image }}" alt="{{ .Params.title }}"></div>
              {{end}}

              <p class="m-t-0">
                {{ .Summary | safeHTML }}
                {{ if .Truncated }}
                  <a href="{{ .RelPermalink }}">Read More…</a>
                {{ end }}
              </p>

              <div class="row middle-xs">
                {{ if and (.Params.author) (eq .Section "blog") }}
                  {{ with index .Site.Data.authors .Params.author }}
                    <div class="p-l-xs p-a-xs"><img src="{{.pic}}" class="circle" alt="{{.name}}" height="35" width="35" /></div>
                    <div class="p-r-xs p-v-xs"><span class="">{{ .name }}</span></div>
                  {{end}}
                {{end}}

                {{ if eq .Section "careers" }}
                  {{else}}
                    {{ with .Params.date }}
                      <div class="p-h-xs p-v-xs"><i class="material-icons text-muted">event</i> {{ .Format "January 2, 2006" }}</div>
                    {{end}}
                {{end}}

                {{ if eq .Section "blog" }}
                  <div class="p-h-xs p-v-xs"><i class="material-icons text-muted">timer</i> Read Time: {{.ReadingTime}} minutes</div>
                {{end}}

                {{ with .Params.location }}
                  <div class="p-h-xs p-v-xs"><i class="material-icons text-muted">location_on</i> {{ . }}</div>
                {{end}}

                {{ if eq .Section "careers" }}
                  <div class="p-h-xs p-v-xs"><i class="material-icons text-muted">work</i>{{ .Params.Department }}</div>
                {{end}}
              </div>
             </div>
           <hr/>
          {{ end }}

        {{ template "_internal/pagination.html" . }}
      {{end}}

        <div class="box m-v-lg">
          <div class="row middle-xs">
            <div class="col-md-4 p-a-md">
              <img src="/img/spot/spot-training.svg" alt="training">
            </div>
            <div class="col-md-8 p-a-md">
              <p class="text-md">Get <strong>free training</strong> from an expert through our classes on Kubernetes and Rancher</p>
              <a href="{{ .Site.BaseURL }}/training" class="btn bg-accent">Sign Up Now</a>
            </div>
          </div>
        </div>
      </div>
    </article>

<!-- <aside class="col-sm-4 col-xs-12 hidden-md">
        {{ partial "sidebar.html" . }}
      </aside> -->
    </div>
  </div>
{{ end }}
