{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}

{{ define "hero" }}
<!-- theme/layouts/_default/list.html-->
<section class="hero">
    {{ with .Params.title }}
      <h1>{{ . }}</h1>
    {{end}}
    
    {{ with .Params.subTitle }}
      <p class="p-t-sm">{{ . }}</p>
    {{end}}

    {{ with .Params.author }}
      <span class="byline bg-link">{{ . }}</span>
    {{end}}
  </section>
{{ end }}

{{ define "main" }}
  <div class="wrapper">
    {{ partial "breadcrumbs.html" . }}

    <div class="row">
      <article class="col-sm-8 col-xs-12 p-r-lg">
        <div class="main-content ">

      {{ .Content }}
        {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse ".Date.Unix" "<" now.Unix) 10 }}
        {{ range $paginator.Pages }}
          <div class="box m-b-md">
              <div class="p-a-sm">
                <h3><a href="{{.URL}}">{{.Title}}</a></h3>

                {{ if .Params.image }}
                  <div class="thumbnail"><img src="{{ .Params.image }}" alt="{{ .Params.title }}"></div>
                {{end}}

                <p>{{ .Summary | safeHTML }}</p>
                {{ if .Truncated }}
                <div>
                  <a href="{{ .RelPermalink }}">Read More…</a>
                </div>
                {{ end }}
              </div>

              <div class="bg-default">
                <div class="row">
                 
                  {{ with .Params.author }}
                    <div class="p-h-sm p-v-xs"><i class="material-icons">person_outline</i> By: {{ . }}</div>
                  {{end}}
      
                  {{ if eq .Section "careers" }}

                  {{else}}
                    {{ with .Params.date }}
                    <div class="p-h-sm p-v-xs"><i class="material-icons">event</i> {{ .Format "January 2, 2006" }}</div>
                    {{end}}
                  {{end}}  
                  
                  {{ if eq .Section "blog" }}
                    <div class="p-h-sm p-v-xs"><i class="material-icons">timer</i> Read Time: {{.ReadingTime}} minutes</div>
                  {{end}}

                  {{ with .Params.location }}
                    <div class="p-h-sm p-v-xs"><i class="material-icons">location_on</i> {{ . }}</div>
                  {{end}}

                  {{ if eq .Section "careers" }}
                    <div class="p-h-sm p-v-xs"><i class="material-icons">work</i>{{ .Params.Department }}</div>
                  {{end}}

                </div>
              </div>
          </div>
        {{ end }}
      </div>
      {{ template "_internal/pagination.html" . }}
      </article>

      <aside class="col-sm-4 col-xs-12 hidden-md">
        {{ partial "sidebar.html" . }}
      </aside>
    </div>
  </div>
{{ end }}
