{{ define "main" }}

<section class="community-blog-view">
    <div class="grid-container">
        <div class="row max-sized set-lines set-ground">
            <div class="col-xl-4"></div>
            <div class="col-xl-4"></div>
            <div class="col-xl-4"></div>
        </div>

        <div class="row max-sized">
            <div class="col-xl-8 offset-xl-2 contents-container">
                {{ with .Params.youtubeId }}
                  <div class="thumbnail-container large">
                      <div class="thumbnail-wrap">
                      <!-- video or image-->
                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;" class="thumbnail">
                          <iframe src="//www.youtube.com/embed/{{.}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="YouTube Video"></iframe>
                        </div>
                      </div>
                  </div>
                {{else}}
                  {{ if .Params.image }}
                  <div class="thumbnail-container">
                      <div class="thumbnail-wrap">                    
                        <img class="thumbnail" src="{{ .Params.image }}" alt="{{ .Params.title }}">
                      </div>
                  </div>
                  {{end}}
                {{end}}

                {{ with .Params.title }}
                  <h2 class="title-label">{{.}}</h2>
                {{end}}

                <div class="user-container">
                    <!--event details or author and date-->
                    {{ if eq .Section "events" }}
                      <div class="row middle-xs">
                        {{ with .Params.date }}
                          <span class="detail p-h-xs">
                          {{.Format "Monday January 2, 2006"}}

                            {{end}}
                          {{ with .Params.enddate }}
                            - {{ . | dateFormat "Monday, Jan 2, 2006" }}
                          {{end}}
                          </span>

                        <span class="detail p-h-xs">{{ .Params.time }}</span>

                        {{ with .Params.location }}
                          <span class="detail p-h-xs">{{ . }}</span>
                        {{end}}
                      </div>

                    {{ else }}
                      <div class="user-thumbnail">
                          {{ if and (.Params.author) (eq .Section "blog") }}
                            {{ with index .Site.Data.authors .Params.author }}
                              <div class="user-thumbnail-wrap">
                                  <img class="thumbnail" src="{{.pic}}" alt="{{.name}}">
                              </div>
                              <span class="name-label">{{.name}}</span>
                            {{end}}
                          {{end}}

                      </div>

                      {{ $published := time (.Date.Format "2006-01-02") }}
                      {{ $updated := time (.Lastmod.Format "2006-01-02") }}

                      <div class="date-label"><img class="icon" src="/imgs/community/blog/icon-calendar-gray.svg"> Published: {{ $published.Format "January 2, 2006" }}</div>
                      {{ if and ( $updated.After $published) (eq .Section "blog")}}
                        <div class="date-label"><img class="icon" src="/imgs/community/blog/icon-calendar-gray.svg"> Updated: {{ $updated.Format "January 2, 2006" }}</div>
                      {{end}}
                    {{end}}
                    
                    <!--list tags-->
                    {{ if eq .Section "events" }}
                      {{ else }}

                      {{ partial "tag-list.html" . }}
                    {{ end }}
                </div>

                <div class="article-contents">

                    <!--cta defined in front matter-->
                    {{ if and (.Params.cta) (eq .Section "blog") }}
                      {{ with index .Site.Data.cta .Params.cta }}

                        <div class="wrap">
                            <div class="cta-container">
                                <div class="row align-items-center">
                                    <div class="col-xl-9">
                                        <div class="label">{{ .header }}</div>
                                        <div class="title">{{ .copy }}</div>
                                    </div>
                                    <div class="col-xl-3">
                                        <a href="{{ .link }}" target="_blank" class="button c-blue">
                                            {{ .button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                      {{end}}
                    {{end}}

                    <div class="wrap">
                    {{ with .Content }}
                      {{ . }}
                    {{ else }}
                      <p>{{ .Description }}</p>
                    {{ end }}
                    </div>


                    {{ if eq .Section "events" }}
                      {{ with .Params.link }}
                          <a href="{{ . }}" class="button c-blue" target="_blank">Register Here</a>
                      {{end}}
                    {{ end }}

                    {{ if eq .Section "careers" }}
                      <a class="button c-blue" href="mailto:jobs@rancher.com?subject={{ .Title }}">Apply Now</a>
                    {{end}}

                    {{ if eq .Section "events" }}
                      <!--[if lte IE 8]>
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                      <![endif]-->
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                        portalId: "468859",
                        formId: "{{ .Params.formId }}",
                        css: "",
                        sfdcCampaignId: "{{ .Params.sfdcCampaignId }}"
                      });
                      </script>
                    {{end}}       
                                 

                    <!--cta defined in front matter-->
                    {{ if and (.Params.cta) (eq .Section "blog") }}
                      {{ with index .Site.Data.cta .Params.cta }}
                        <div class="wrap">
                            <div class="cta-container">
                                <div class="row align-items-center">
                                    <div class="col-xl-9">
                                        <div class="label">{{ .header }}</div>
                                        <div class="title">{{ .copy }}</div>
                                    </div>
                                    <div class="col-xl-3">
                                        <a href="{{ .link }}" target="_blank" class="button c-blue">
                                            {{ .button }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {{end}}
                    {{end}}
                </div>

                <div class="share-container">
                    <div class="share-wrap">
                      {{ partial "addthis" . }}
                    </div>
                </div>
            </div>
        </div>


        {{ if and (.Params.author) (eq .Section "blog") }}
        <div class="row author-container">
            {{ with index .Site.Data.authors .Params.author }}
            <div class="col">
                <div class="row max-sized">
                    <div class="col-10 offset-1 author-wrap">
                        <div class="author-item">
                            <div class="thumbnail-container">
                                <img class="thumbnail" src="{{.pic}}" alt="{{.name}}">
                            </div>

                            <div class="information-container">
                                <div class="profile-container">
                                    {{ with .git }}
                                      <a href="https://github.com/{{.}}" target="_blank">
                                        <img src="/imgs/icon-github.svg" class="service-icon" alt="github">
                                      </a>
                                    {{ end }}
                                    {{ with .twitter }}
                                      <a href="https://twitter.com/{{.}}" target="_blank">
                                        <img class="service-icon" src="/imgs/icon-twitter.svg">
                                      </a>
                                    {{ end }}
                                    <div class="user-name">{{.name}}</div>
                                    <div class="user-position">{{.title}}</div>
                                </div>

                                {{ with .bio }}
                                  <div class="description-label small">{{.}}</div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="decoration">
                    <img class="cloud" src="/imgs/community/blog/author-container-bottom-ground.svg">
                </div>
            </div>
            {{end}}
        </div>
        {{ end }}
        
        
    </div>
</section>


  <!-- related content -->
  {{ partial "related-content.html" . }}
  {{ partial "footer-cta.html" (dict "theme" "grey")}}
{{ end }}
