ol.breadcrumbs {
  display: flex;
  list-style: none;
  font-size: .75em;
  margin: 0;
  line-height: 0;
  padding-left: 0;

  li {
    list-style-type: none;
    &:before {
      display: none;
    }

    &:after {
      content: "keyboard_arrow_right";
      font-family: 'Material Icons';
      padding: 0 5px;
      font-size: 1em;
      line-height: 1;
      display: inline-block;
    }

    &:last-child:after {
      color: transparent;
    }
  }
}
