.dropdown {
  position: relative;
  z-index: 1001;

  .dropdown-menu {
    display: none;

    &.dropdown-show {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
ul.dropdown-menu {
  border: solid thin $light-grey;
  display: block;
  font-size: .85em;

  &.hidden {
    display: none;
  }
  li {
    margin-bottom: 0;
    a {
      text-decoration: none;
      display: block;
      padding: $spacer-xs 0;
      border-bottom: solid thin $light-grey;
    }
  }
}

.main {
  .dropdown {
    z-index: 999 !important;
  }
}
