.container-search {
  display: none;

  &.open {
    display: block;

  }

  .search-input-group {
    position: relative;

    i {
      color: white;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }


  .search-input {
    border: 0;
    border-color: white;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 50%;
    float: right;


    &:focus {
      background-color: transparent;
      outline: none;
    }
  }
}

.overlay-search {
  &.open {
    display: block;
  }
  background-color: rgba(255, 255, 255,0.79);
  display: none;
  // min-height: 100%;
  left: 0;
  // overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // width: 100%;
  z-index: 1000;

  > .search-results {
    border: 0;

    tr {
      > h3 {
        margin: $spacer-md;
        text-align: center;
      }
    }
    td {
      padding: $spacer-md;

      h3 {
        margin-top: 0;
      }

      .date {
        display: none;
      }
    }
  }
}
