.container-search {
  display: none;

  &.open {
    display: block;

  }

  .ais-search-box, {
    position: relative;
    max-width: 100%;
  }


  .ais-search-box--input {
    border: 0;
    border-color: white;
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 50%;
    float: right;


    &:focus {
      background-color: transparent;
      outline: none;
    }
  }
}

.overlay-search {
  &.open {
    display: block;
  }
  background-color: rgba(255, 255, 255,0.79);
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .search-results {
    border: 0;

    .ais-infinite-hits--item {
      background-color: #ecf0f1;
      padding: $spacer-md;

      h3 {
        margin-top: 0;
      }
      &:nth-child(even) {
        background-color: white;
      }

      .body,
      h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        em {
          font-weight: bold;
          background-color: rgba($accent, .5);
          font-style: normal;
        };
      }
     font-size: 1.4rem;
    line-height: 2rem;
    }
  }
  .ais-infinite-hits__empty {
    h3 {
      text-align: center;
    }
  }
}

.ais-infinite-hits--showmore {
  background-color: #ecf0f1;
  width: 100%;
  text-align: center;

  button {
    @extend .btn;
    @extend .bg-link;
    margin: 15px 0;
  }
}
