ul.tabs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  // background-color: $light-grey ;
  // background-size: 100% 2px;
  // background-position: bottom;
  box-shadow: 0 2px 0 $light-grey;

  li {
    a {
      padding: 10px;
      display: block;
    }

    &.active {
      box-shadow: 0 2px 0 $link-color;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 5px);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $link-color;
      }
    }
  }
}
