ul.tabs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: solid $light-grey ;

  li {
    a {
      padding: 10px;
      display: block;
    }

    &.active {
      font-weight: bold;
      border: 2px solid $light-grey;
      border-radius: 4px;
    }
  }
}
