.tree-nav {

  &.invisible {
    visibility: hidden;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .tree-nav-item {
    cursor: pointer;
    cursor: hand;
    position: relative;
    border-bottom: 1px $light-grey solid;
    border-radius: 3px;
    transition: ease-in-out all .25s;
    font-size: 14px;

    a {
      max-width: calc(100% - 40px);
    }
    i {
      opacity: .5;
      transition: ease-in-out all .25s;
      font-size: .95em;
      margin-top: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .tree-nav-item {
      border-bottom: none;

      a {
        padding: .25em 0 .25em $spacer-sm;
      }

      &:before {
        content: "";
        position: absolute;
        top: 16px;
        width: $spacer-xs;
        height: 2px;
        background-color: $light-grey;
      }
    }

    &.open > i {
      opacity: 1;
    }

    &.active {
      background-color: rgba($accent, .05);
      border-color: $accent;

      > a {
        color: $accent;
      }
      &:before {
        background-color: $accent;
      }
    }

    a, i {
      display: inline-block;
      vertical-align: middle;
      padding: $spacer-xs;
      color: $link-color;
    }


    .tree-nav-sublist {
      // font-size: .85em;
      border-left: 1px $light-grey solid;
      margin-left: $spacer-sm;
      margin-bottom: $spacer-sm;

      &.hide {
        display: none;
      }
    }

    &.open {
      border-left-color: $accent;

      >.expand-more {
        transform: rotate(180deg);
      }
    }
  }
}
