.tree-nav {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .tree-nav-item {
    margin-bottom: $spacer-xs;
    position: relative;
    background-color: $light-grey;
    border-left: 2px $link-color solid;

    a, i {
      display: inline-block;
      vertical-align: middle;
      padding: $spacer-xs;
      color: $link-color;
    }

    .tree-nav-item {
      a, i {
        padding: calc ($spacer-xs / 2);
      }

      &:before {
          content: "";
          position: absolute;
          left: -1.25rem;
          top: 2rem;
          width: 1.25rem;
          height: 2px;
          background-color: $link-color;
        }
      }

    .tree-nav-item {
      background-color: mix($light-grey, $mid-grey, 95%);
      .tree-nav-item {
        background-color: mix($light-grey, $mid-grey, 85%);
        .tree-nav-item {
          background-color: mix($light-grey, $mid-grey, 75%);
        }
      }
    }

    .tree-nav-sublist {
      margin: $spacer-xs 0 $spacer-xs $spacer-xs;

      &.hide {
        display: none;
      }
    }

    &.open {
      >.expand-more {
        transform: rotate(180deg);
      }
    }
  }
}