// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.add-cluster {
    background-image: url(../img/dashboard.png);
    background-size: 60%;
    background-position: 125% center;
    background-repeat: no-repeat;

   .wrapper .p-v-lg {
      padding: 15rem 0;
   }
  }

.logo-bg {
  background-image: url(../img/testimonial-bg.png);
  background-size: contain;
}

.testimonial:before {
  content: "";
}

.announcment-sticker {
    background-color: $info;
    padding: 6em 0;
    width: 300px;
    border-radius: 50%;
    left: 10%;
    position: absolute;
    margin-top: -200px;
    box-shadow: 0 0 60px rgba(0,0,0,.3);
    transform: rotate(-10deg);

    h3 {
      color: white;
    }
  }

  .homepage-slider {
   .slides img {
      max-height: 65px;
    }
  }