// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.add-cluster {
    background-image: url(../img/dashboard.png);
    background-size: 60%;
    background-position: 125% center;
    background-repeat: no-repeat;

   .wrapper .p-v-lg {
      padding: 15rem 0;
   }
  }

.logo-bg {
  background-image: url(../img/testimonial-bg.png);
  background-size: contain;
}

.testimonial:before {
  content: "";
}