// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.add-cluster {
    background-image: url(../img/browser-cluster.png);
    background-size: 60%;
    background-position: 125% center;
    background-repeat: no-repeat;
  }