// -----------------------------------------------------------------------------
// This file contains styles that are specific to list pages
// -----------------------------------------------------------------------------

//lists
.thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: $light-grey;
    float: left;
    margin: 0 $spacer-xs $spacer-xs 0;
    border-radius: 4px;

    img {
      overflow: hidden;
      height: 200px;
      width: 533px;
      max-width: 533px;
      margin: -188px -165px;
    }
}

// .thumbnail {
//     width: 250px;
//     float: left;
//     margin-right: 20px;

//     img {
//       max-width: 100%;
//     }
// }

//single
img.feat-img {
  width: 100%;
}
