// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack          : 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-header         : 'Poppins', sans-serif !default;
$bold-weight              : bold;
$base-font-size           : 15px;
$base-line-height         : 1.4em;

/// Code (monospace) font family
/// @type List
$code-font-stack          : Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier,  monospace !default;

/// Theme colors
$primary                  : #0075A8 !default;
$secondary                : #34495E !default;
$accent                   : #a5c63b;

///State colors
$success                  : #27AA5E !default;
$warning                  : #F1C40F !default;
$error                    : #F15354 !default;
$info                     : #78C9CF !default;

//Contrast colors
$contrasted-dark-default  : #3d3d3d !default;
$contrasted-light-default : white !default;


/// Copy text color
/// @type Color
$text-color               : #454545 !default;
$link-color               : #3497DA !default;

/// Light grey
/// @type Color
$light-grey               : #ecf0f1 !default;

/// Medium grey
/// @type Color
$mid-grey                 : #8B959C !default;

/// Dark grey
/// @type Color
$dark-grey                : #3d3d3d !default;

$black                    : #313131;

/// Main brand color
/// @type Color
$color                    : $primary !default;
$accent                   : $light-grey !default;

///theme colors
// Background color for `<body>`.
$body-bg                             : white !default;

// Global text color on `<body>`.
$text-color                          : $secondary !default;
$text-muted                          : $mid-grey !default;

$primary                             : $primary !default; //button non state
$primary-dark                        : darken($primary, 5%) !default;

$darken-helper                       : rgba($black, .3) !default;
$lighten-helper                      : rgba(white, .3) !default;

// States
$success                             : $success !default; //good
$info                                : $info !default; //transitioning
$warning                             : $warning !default; //orange degraded
$error                               : $error !default; //red stopped inactive bad

$bg-default                          : $light-grey !default;
$bg-disabled                         : lighten($mid-grey, 25) !default;
$bg-primary                          : $primary !default;
$bg-secondary                        : $secondary !default;
$bg-success                          : $success !default;
$bg-info                             : $info !default;
$bg-warning                          : $warning !default;
$bg-error                            : $error !default;

// // Global textual link color.
$link-color                          : $link-color !default;

// Link hover color set via `darken()` function.
$link-hover-color                    : lighten($link-color, 15%) !default;

// Accent colors
$accent-one                          : $light-grey !default;
$accent-two                          : $mid-grey !default;
$accent-three                        : $dark-grey !default;

$accent-bg                           : lighten($light-grey, 2) !default;
$accent-border                       : darken($light-grey, 5) !default;

$footer                              : $light-grey !default;

// Horizontal line color.
$border                              : $light-grey !default;

$shadow                              : rgba($mid-grey, 0.35) !default;


///spacers
$spacer: 2rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: ();

$spacer-xs : 1rem;
$spacer-sm : 2rem;
$spacer-md : 4rem;
$spacer-lg : 6rem;

/// Container's maximum width
/// @type Length
$max-width                : 1280px !default;
$min-width                : 75% !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints              : (
'small'                   : 414px, //small max
'medium'                  : 767px, //med max
'large'                   : 1440px, //large min
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url           : 'http://cdn.example.com/assets/';
$base-url                 : '/assets/' !default;
