// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// default footer.
.footer-container {
  z-index: 5;
  position: relative;

  color: #fff;

  background-color: $c-blue-dark1;

  .label {
    height: 22px;
    margin-bottom: 0;
    color: #30ba78;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.17px;
    text-transform: uppercase;
  }

  .informations {
    padding: 100px 0;

    background-size: 42.5% auto;
    background-image: url("/imgs/footer-background.svg");
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (max-width: 575.98px) {
      padding: 40px 0 160px;

      background-size: 90% auto;
      background-position: -140% bottom;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      padding: 50px 0;
    }
  }
}

.footer-side-items {
  position: relative;

  @media (min-width: 576px) and (max-width: 767.98px) {
    display: flex;

    margin-bottom: 50px;
  }
}

.footer-news-letter-form {
  position: relative;

  .hs-button {
    font-size: 0 !important;
  }

  .legal-consent-container {
    // display: none;
    position: absolute;
    bottom: -10px;

    a {
      color: white;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .hs-form {
    position: relative;
    display: flex;
    padding-bottom: 50px;

    .label {
      display: none;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 50%;
    margin-right: 0;
  }

  @media (max-width: 575.98px) {
    .hs_email {
      width: 100%;
    }
  }

  .hbspt-form form .input,
  .hbspt-form .hs-form-field .input {
    width: 100% !important;
  }

  .hs-input {
    position: relative;
    display: inline-block;
    border-radius: 0;

    flex: 0 0 auto;

    width: 100%;
    max-width: 260px;
    height: 50px;

    padding: 0 20px;

    font-size: 15px;

    border: 0;

    box-sizing: border-box;

    @media (max-width: 575.98px) {
      max-width: 100%;
      height: 46px;

      padding: 0 15px;
    }
  }

  .hs-button {
    position: relative;
    display: inline-block;

    flex: 0 0 auto;

    width: 50px;
    height: 50px;

    margin-top: 0;
    padding: 0;

    background-color: $c-blue !important;
    border-radius: 0 !important;

    border: 0;

    @media (max-width: 575.98px) {
      width: 46px;
      height: 46px;
    }

    &:hover {
      .icon {
        width: 46px;
        height: 46px;

        margin: 2px;
      }
    }
  }

  .actions {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      background: url("/imgs/button-arrow.png") center no-repeat;

      width: 36px;
      height: 36px;

      margin: 7px;

      @include transition(all 0.04s);

      @media (max-width: 575.98px) {
        transform: translate3d(-2px, -2px, 0);
      }

      .svg-linear {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;

        @include transition(all 0.04s);
      }
    }
  }

  .hs_error_rollup {
    display: none;
  }

  .hs-error-msgs {
    position: absolute;
    top: 65px;
    left: 0;
  }
}

.footer-connect-sns {
  position: relative;

  margin-top: 80px;

  @media (max-width: 575.98px) {
    margin-top: 50px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    flex: 1;

    margin-top: 0;
  }

  ul {
    position: relative;

    @media (max-width: 575.98px) {
      display: flex;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      display: flex;

      height: 50px;

      align-items: center;
    }

    li {
      position: relative;
      display: inline-block;

      margin-right: 17px;

      @media (max-width: 575.98px) {
        flex: 0 0 auto;

        width: 16.6666%;
        margin-right: 0;

        text-align: center;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        flex: 0 0 16.6666%;
        max-width: 16.6666%;

        margin-right: auto;

        text-align: center;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      width: 22px;
      height: 22px;

      @media (max-width: 575.98px) {
        width: 46%;
        height: auto;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        width: 100%;
        max-width: 30px;
        height: auto;
      }
    }
  }
}

.footer-sitemaps {
  position: relative;

  ul {
    position: relative;
    display: inline-block;
    vertical-align: top;

    margin-bottom: 50px;

    li {
      position: relative;
      display: block;
      padding-bottom: 12px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      font-family: "Poppins",sans-serif;

      &:last-child {
        height: auto;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 1.17px;


    &:hover {
      color: #fff;
    }
  }

  @media (max-width: 575.98px) {
    // display: none;

    margin-top: 40px;

    ul {
      margin-bottom: 20px;
    }
  }
}

.footer-copyright {

  .text {
    color: rgba(#fff, 0.5);
    font-size: 12px;
  }

  ul {
    position: relative;

    width: 100%;

    text-align: right;

    li {
      position: relative;
      display: inline-block;

      margin-left: 40px;

      color: rgba(#fff, 0.5);
      font-size: 12px;
      line-height: 75px;

      &.text {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  a {
    color: rgba(#fff, 0.5);
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.25px;
    line-height: 75px;

    &:hover {
      color: rgba(#fff, 1);
    }
  }

  @media (max-width: 575.98px) {
    .text {
      padding: 25px 10px 10px;

      text-align: center;
    }
    .sub-menus ul {
      padding-bottom: 5px;

      text-align: center;

      li {
        margin-left: 15px;

        line-height: 1;

        a {
          line-height: 45px;
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .text {
      padding: 25px 10px 10px;

      text-align: center;
    }
    .sub-menus ul {
      padding-bottom: 5px;

      text-align: center;

      li {
        line-height: 1;

        a {
          line-height: 45px;
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}
