// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

// default footer.
.footer-container {
  z-index: 5;
  position: relative;

  color: $c-black;

  background-color: $c-grey-products-banner;

  .label {
    height: 22px;

    margin-bottom: 0;

    color: $c-blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.17px;

    text-transform: uppercase;
  }

  .informations {
    position: relative;
    padding: 75px 0 30px;   
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      max-width: 820px;
      height: 100%;
      max-height: 282px;
      bottom: 9%;
      right: 0;
      opacity: 0.8;
      background-image: url('https://www.rancher.com/assets/img/banners/clouds.png');
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat;
      user-select: none;
      z-index: -1;
    }

    @media (min-width: 1800px) {
      background-size: 35% auto;
    }

    @media (max-width: 1440px) {
      &:before {
        top: 0;
      }
      &:before,
      &:after {
        background-size: 35%;
      }
    }

    @media (max-width: 1200px) {
      padding: 75px 0 200px;

      background-size: 40% auto;
      background-position: 0 bottom;

      &:after {
        bottom: 25%;
      }
    }
    @media only screen and (max-width: 1200px) and (orientation: landscape){
      padding: 75px 0 20px;
    }
    @media (max-width: 767.98px) {
      padding: 50px 0 160px;
    }
    @media (max-width: 576px) {
      padding: 40px 0 120px;

      &:after {
        bottom: 20%;
      }
    }
  }
}

.footer-side-items {
  position: relative;

  @media (min-width: 576px) and (max-width: 767.98px) {
    display: flex;

    margin-bottom: 50px;
  }
  .button.c-pine{
    color: $c-white;
    display: inline-block;
  }
}

.footer-news-letter-form {
  position: relative;

  .label {
    height: unset;
    margin-bottom: 21px;
  }

  .button {
    @media (max-width: 575.98px) {
      display: block;
      text-align: center;
      font-size: 13px;
      height: unset;
    }
  }

  .hs-button {
    font-size: 0 !important;
  }

  .legal-consent-container {
    // display: none;
    position: absolute;
    bottom: -10px;

    a {
      color: $c-black;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .hs-form,
  .news-form-main {
    position: relative;
    display: flex;
    padding-bottom: 30px;

    .label {
      display: none;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 50%;
    margin-right: 0;
  }

  @media (max-width: 575.98px) {
    .hs_email {
      width: 100%;
    }
  }

  .hbspt-form form .input,
  .hbspt-form .hs-form-field .input {
    width: 100% !important;
  }

  .hs-input,
  #news-letter-email {
    position: relative;
    display: inline-block;
    border-radius: 0;

    flex: 0 0 auto;

    width: 85%;
    // max-width: 260px;
    height: 60px;

    padding: 0 20px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    border: 0;

    outline: none;

    box-sizing: border-box;
    
    &::placeholder {
      color: #C0C2C4;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #C0C2C4;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #C0C2C4;
    }


    @media (max-width:1200px){
      width: 78%;
    }

    @media (max-width:991px){
      height: 45px;
      width: 80%;
    }

    @media (max-width: 575.98px) {
      max-width: 100%;
      height: 46px;

      padding: 0 15px;
    }
  }

  .hs-button,
  .news-letter-btn {
    position: relative;
    display: inline-block;

    flex: 0 0 auto;

    width: 60px;
    height: 60px;

    margin-top: 0;
    padding: 0;

    background-color: $c-blue !important;
    border-radius: 0 !important;

    border: 0;

    @media (max-width: 991px) {
      width: 45px;
      height: 45px;
    }

    @media (max-width: 575.98px) {
      width: 46px;
      height: 46px;
    }

    &:hover {
      .icon {
        width: 46px;
        height: 46px;

        margin: 2px;
      }
    }
  }

  .actions {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      background: url('https://www.rancher.com/assets/img/icons/button-arrow.png') center no-repeat;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 11px;
      margin: 0;
      @include transition(all 0.04s);

      .svg-linear {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;

        @include transition(all 0.04s);
      }
    }
  }

  .hs_error_rollup {
    display: none;
  }

  .hs-error-msgs {
    position: absolute;
    top: 65px;
    left: 0;
  }
}

.footer-connect-sns {
  position: relative;
  margin-bottom: 20px;

  @media (max-width: 575.98px) {
    margin-top: 45px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    flex: 1;

    margin-top: 0;
    margin-left: 2%;
  }

  ul {
    position: relative;
    margin-top: 9px;
    display: flex !important;
    @media (min-width: 576px) and (max-width: 767.98px) {
      height: 50px;
      align-items: center;
    }

    li {
      position: relative;
      display: inline-block;

      margin-right: 17px;
      @media (max-width: 1024px) {
        margin-right: 14px;
      }
      @media (max-width: 575.98px) {
        flex: 0 0 auto;

        width: 16.6666%;
        margin-right: 0;

        text-align: center;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        flex: 0 0 16.6666%;
        max-width: 16.6666%;

        margin-right: auto;

        text-align: center;
      }

      &:last-child {
        margin-right: 0;
      }
      &.twitter{
        img{
          scale: 0.8;
        }
      }
    }

    img {
      width: 22px;
      height: 22px;
       filter: invert(1);
      fill: #000;
      @media (max-width: 991px) {
        width: 20px;
        height: 20px;
      }
      @media (max-width: 575.98px) {
        width: 46%;
        height: auto;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        width: 100%;
        max-width: 30px;
        height: auto;
      }
    }
  }
  .label{
    margin-bottom: 10px;
  }
}

.footer-sitemaps {
  position: relative;

  ul {
    position: relative;
    display: inline-block;
    vertical-align: top;

    margin-bottom: 50px;

    li {
      position: relative;
      display: block;
      padding-bottom: 12px;
      color: $c-white;
      font-size: 14px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;

      &:last-child {
        height: auto;
      }
    }
  }

  a {
    color: $c-black;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 1.17px;
    &:hover {
      color: $c-blue;
    }
    .icon{
      background-image: url('https://www.rancher.com/assets/img/icons/external-link-green.svg');
      display: inline-block;
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      background-size: contain;
      filter: brightness(0) saturate(100%) invert(28%) sepia(97%) saturate(2413%) hue-rotate(222deg) brightness(93%) contrast(119%);
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 40px;

    ul {
      margin-bottom: 20px;
    }
  }
}

.footer-copyright {
  @media (min-width: 1280px) {
    padding-top: 130px;
  }

  .text {
    color: $c-black;
    font-size: 11px;
    line-height: 18px;
  }

  ul {
    position: relative;

    width: 100%;

    text-align: left;

    font-family: "Poppins", sans-serif;

    li {
      position: relative;
      display: inline-block;

      margin-left: 40px;

      color: rgba(#fff, 0.5);
      font-size: 12px;
      line-height: 75px;

      &.text {
        margin-right: auto;
        margin-left: 0;
        @media (max-width: 767.98px) {
          width: 100%;
          margin: 0 !important;
        }
      }
    }
  }

  a {
    color: $c-black;
    font-size: 11px;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 700;

    &:hover {
      color: $c-blue;
    }
  }

  @media (max-width: 575.98px) {
    .text {
      padding: 25px 10px 10px;

      text-align: center;
    }
    .sub-menus ul {
      padding-bottom: 5px;

      text-align: center;

      li {
        margin-left: 15px;

        line-height: 1;

        a {
          line-height: 45px;
        }
      }

      li:nth-child(2) {
        margin-left: 0;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .text {
      padding: 25px 10px 10px;
    }
    .sub-menus ul {
      padding-bottom: 5px;

      li {
        line-height: 1;

        a {
          line-height: 45px;
        }
      }

      li:nth-child(2) {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    .sub-menus ul {
      text-align: center; 
    }
  }
  @media (min-width: 1280px) {
    .sub-menus ul {
      li:nth-child(2) {
        margin-left: 85px;
      }
    }
  }
}
