// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  padding: 0 1rem;
  // background-color: #2470A2;
  background-color: darken($link-color, 5%);
  width: 100%;
  z-index: 1001;

  * {
    font-family: $text-font-header;
  }

  nav {
    &.sticky-header {
      // background-color: #1F608B;
      background-color: darken($link-color, 10%);
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 $spacer-sm;
      z-index: 10;
    }

    .secondary-nav {
      margin: 46px 0 0 0;
      padding: $spacer-xs;
      list-style-type: none;
    }
  }
}

//nav
nav[role="navigation"] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  .dropdown .dropdown-menu {
    min-width: 200px;

    li {
      display: block;
    }
  }
}

.js nav[role="navigation"] {
  // overflow: hidden;
  // max-height: 0;
  // min-height: 47px;
}

nav[role="navigation"] ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav[role="navigation"] li a {
  display: block;
  color: white;
  padding: $spacer-xs;

  + .sub li a {
    color: $link-color;
  }
}

.main-nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media all and (min-width: map-get($breakpoints, medium)) {

  a.menu-link {
    display: none;
  }
  .js nav[role="navigation"] {
    max-height: none;
  }
  nav[role="navigation"] ul {
    // margin: 0 0 0 -0.25em;
    border: 0;
  }

  nav[role="navigation"] li {
    display: inline-block;
    // margin: 0 0.25em;
  }
  nav[role="navigation"] li a {
    border: 0;
  }
}

.only-small {
  display: none;
}


//small screens
@media all and (max-width: map-get($breakpoints, medium)) {
  header {
    padding: 0;

    nav {
      &.sticky-header {
        position: relative;
      }
    }
  }

  .only-small {
    display: block;
  }

  .secondary-nav {
    display: none;
  }

// start menu //

a.menu-link {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  transition: 0.3s;
  span {
    position: absolute;
    top: 25px;
    left: 12.5px;
    height: 0;
    width: 30px;
    border: 1.5px solid white;
    border-radius: 30px;
    margin: -2px 0 0 -3px;
    transition: 0.3s;
    &:before, &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: white;
      border-radius: 30px;
      margin: 0 0 0 -1.5px;
      transition: 0.3s;
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 6px;
    }
  }
  &.active span {
    height: 30px;
    margin: -15px 0 0 -6px;
    border-width: 3px;
    &:before, &:after {
      top: 10px;
      width: 20px;
      margin: 0 0 0 1.65px;
    }
    &:before {
      transform: rotate(-135deg);
    }
    &:after {
      transform: rotate(135deg);
    }
  }
}

// end menu //

  .nav-logo {
    order: 1;
  }
  .toggle-search {
    order: 2;
  }

  nav[role="navigation"] ul {
    display: none;
  }

  nav[role="navigation"] li a {
    padding: $spacer-xs 0;

    .keyboard_arrow_down {
      display: none;
    }
  }

  nav[role="navigation"].active {
    max-height: 100vh;

    ul, .dropdown .dropdown-menu {
      display: block;
      background: transparent;
      color: $link-color;
      border: 0;
      position: relative;
      font-size: 1.5rem;

      li a {
        border: 0;
        color: $link-color;
        padding: $spacer-xs;

        i {
          display: none;
        }
      }
    }

    .dropdown .dropdown-menu li a {
      padding: $spacer-xs 0 $spacer-xs $spacer-sm;
    }

    > ul {
      display: block;
      flex: 1 0 100%;
      order: 3;
      padding: $spacer-sm;
      background-color: white;
      border-radius: 6px;
      position: relative;
      margin-top: 20px;

      &:before {
        content: "";
        position: absolute;
        right: 20px;
        top: -20px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: white;
        border-width: 10px;

      }

      > li {
        border-top: solid thin $border;
        padding: $spacer-xs 0;

        &:first-of-type {
          border-top: 0;
          padding: 0 $spacer-xs 0 0;
        }
      }
    }
  }
}
