
{{- if not .Site.Params.disableHomeIcon}}
    <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
    <a href="{{"/" | relLangURL}}"><i class="fa fa-fw fa-home"></i></a>
    </li>
{{- end}}

{{- partial "docs-nav.html" . }}

{{- with .Site.Menus.shortcuts}}
    <section id="shortcuts">
        {{- range sort . "Weight"}}
            <li class="" role="">
                {{- .Pre -}}
                <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                {{- .Post -}}
            </li>
        {{- end}}
    </section>

    {{- if $.Site.Params.showVisitedLinks}}
        <a id="clear-history" class="" href="#" data-clear-history-toggle=""><i class="fa  fa-history"></i> {{T "Clear-History"}}</a>
    {{- end}}

{{- end}}

<hr />
<li>{{- partial "language-selector.html" . }}</li>

