<div
  class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 col-12 card-container"
>
  <a href="{{ .link }}" target="_blank" class="card-item box-hover card-{{ $.sectionName }}">
    <div class="card-image">
      <img src="{{ .image }}" alt="{{ .title }}" />
    </div>
    <div class="card-body">
      <div class="texts-wrap">
        <div class="text-label">{{ .title }}</div>
        <hr />
        <p class="date-label">
          <img
            class="icon"
            src="/imgs/products/training/icon-calendar-green.svg"
          />
          <span>{{ .dateText }}</span>
        </p>
        <p class="date-label">
          <img class="icon" src="/imgs/company/press/icon-time-green.svg" />
          <span>{{ .timeText}}</span>
        </p>
      </div>
    </div>
    <div class="card-footer">
      <div class="buttons-container">
        <button class="button text c-emerald">
          <span>Register here</span>
        </button>
      </div>
    </div>
  </a>
</div>
