

    <footer>

        <div class="footer-container">
            <div class="grid-container informations">
                <div class="row max-sized">
                    <div class="
                        col-xl-3
                        col-lg-3
                        col-md-4
                        col-sm-12
                        col-12">
                        <div class="footer-side-items">
                            <div class="footer-news-letter-form">
                                <div class="label">Get the latest news</div>

                                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                                <script>
                                  hbspt.forms.create({
                                    css: '',
                                    portalId: '468859',
                                    formId: '8beed251-ecf0-49fc-93a1-fa9b1446110f',
                                    translations: {
                                      en: {
                                        submitText: " "
                                      }
                                    }
                                  });
                                </script>
                            </div>

                            <div class="footer-connect-sns">
                                <div class="label">Connect with us</div>

                                <ul>
                                    <li>
                                        <a href="https://twitter.com/Rancher_Labs" target="_blank"><img src="/imgs/icon-twitter.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/rancher" target="_blank"><img src="/imgs/icon-linkedin.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/rancherlabs/" target="_blank"><img src="/imgs/icon-facebook.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCh5Xtp82q8wjijP8npkVTBA" target="_blank"><img src="/imgs/icon-youtube.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/rancher/rancher" target="_blank"><img src="/imgs/icon-github.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://slack.rancher.io/" target="_blank"><img src="/imgs/icon-slack.svg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="
                        col-xl-8 offset-xl-1
                        col-lg-9 offset-lg-0
                        col-md-8 offset-md-0
                        col-sm-12 offset-sm-0
                        col-12">
                        <div class="row footer-sitemaps">
                            <ul class="
                                col-xl-3
                                col-lg-3
                                col-md-3
                                col-sm-6
                                col-xs-6
                                col-6
                                ">
                                <div class="label">Products</div>
                                <li><a href="/products/rancher/">Rancher</a></li>
                                <li><a href="/products/rke/">RKE</a></li>
                                <li><a href="http://k3s.io" target="_blank">k3s</a></li>
                                <li><a href="https://rio.io/" target="_blank">Rio</a></li>
                                <li><a href="/support/request/">Get Support</a></li>
                                <li><a href="/pricing/">Pricing</a></li>
                                <li><a href="/request-a-demo/">Request a Demo</a></li>
                            </ul>
                            <ul class="
                                col-xl-3
                                col-lg-3
                                col-md-3
                                col-sm-6
                                col-xs-6
                                col-6
                                ">
                                <div class="label">Community</div>
                                <li><a href="/events/">Events</a></li>
                                <li><a href="/online-meetups/">Online Meetups</a></li>
                                <li><a href="/training/">Training</a></li>
                                <li><a href="/tutorials/">Tutorials</a></li>
                                <li><a href="/kubernetes-master-class/">Kubernetes Master Classes</a></li>
                                <li><a href="/writing-program/">Rancher Writing Program</a></li>
                                <li><a href="https://forums.rancher.com/">Forums</a></li>
                                <li><a href="http://slack.rancher.io/">Slack</a></li>
                                <li><a href="https://github.com/rancher/">GitHub</a></li>
                            </ul>
                            <ul class="
                                col-xl-3
                                col-lg-3
                                col-md-3
                                col-sm-6
                                col-xs-6
                                col-6
                                ">
                                <div class="label">Resources</div>
                                <li><a href="/docs/rancher/v2.x/en/">Rancher 2.x Docs</a></li>
                                <li><a href="/docs/rancher/v1.6/en/">Rancher 1.6 Docs</a></li>
                                <li><a href="/docs/rke/latest/en/">RKE Docs</a></li>
                                <li><a href="/docs/k3s/latest/en/">k3s Docs</a></li>
                                <li><a href="/docs/os/v1.x/en/">RancherOS Docs</a></li>
                                <li><a href="/ebooks-and-whitepapers/">eBooks and White Papers</a></li>
                                <li><a href="/videos-and-podcasts/">Videos and Podcasts</a></li>
                                <li><a href="/quick-start/">Getting Started Guide</a></li>
                                <li><a href="/kubernetes/">Why Kubernetes</a></li>
                            </ul>
                            <ul class="
                                col-xl-3
                                col-lg-3
                                col-md-3
                                col-sm-6
                                col-xs-6
                                col-6
                                ">
                                <div class="label">Company</div>
                                <li><a href="/about/">About Us</a></li>
                                <li><a href="/customers/">Customers</a></li>
                                <li><a href="/partners/">Partners</a></li>
                                <li><a href="/careers/">Careers</a></li>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="/press/">Press</a></li>
                                <li><a href="/contact/">Contact Us</a></li>
                                <li><a href="https://www.rancher.cn/">China Site</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-container footer-copyright">
                <div class="row align-items-center grid-row max-sized footer-copyright-wrap">
                    <div class="
                        col-xl-6
                        col-lg-6
                        col-md-6
                        col-sm-12
                        col-xs-12
                        col-12
                        text">
                        © Copyright {{ now.Format "2006" }} Rancher. All Rights Reserved.
                    </div>
                    <div class="
                        col-xl-6
                        col-lg-6
                        col-md-6
                        col-sm-12
                        col-xs-12
                        col-12
                        sub-menus">
                        <ul>
                            <li><a href="/privacy/">Privacy Policy</a></li>
                            <li><a href="/agreements/">Agreements</a></li>
                            <li><a href="/support-maintenance-terms/">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div><!--end of container that starts in header.html-->

<script>
// vars.
var VAR_DATAS = {
    SPEED_SLIDE:         1000,
    SPEED_SLIDE_DELAYED: 1200,
    SPEED_AUTOPLAY:      4000
};


// funcs.
function sliderProgressPlay(slider, progressBar, duration, repeatable, syncedsliders) {
    // initialize progress bar.
    progressBar.stop().css('width', 0);

    progressBar.animate({
        width: '100%'
    }, duration || 5000, function() { // complete.
        // initialize progress bar.
        progressBar.animate({width: '0%'}, 100);

        // request next slide.
        slider.slick('slickNext');

        if(syncedsliders)
        {
          syncedsliders.forEach(function(item, index){
            item.slick('slickNext');
          })
        }

        if (repeatable) sliderProgressPlay(slider, progressBar, duration, repeatable);
    });
}

function scrollPage(hash) {
    var hash = hash.substring(1),
        objt = $('#' + hash),
        objt_mt = Number(objt.css('margin-top').replace(/[^0-9]/g,"")),
        depth = 80,
        scrn = $(window).width();
        scrn_check = 1025;

    if (scrn < scrn_check) {
        depth = 160;
    }

    if (objt_mt > 0) {
        depth = depth + objt_mt
    }

    setTimeout(function() {
        $('html').animate({
            'scrollTop': objt.offset().top - depth
        }, 400);
    }, 100);

    // console.debug('scroll to :', objt.offset().top - depth);
}


$(document).ready(function() {
    // Mobile menu script
    ;(function ( $, window, document, undefined ) {
        var pluginName = "jqueryAccordionMenu";
        var defaults = {
                speed: 300,
                showDelay: 0,
                hideDelay: 0,
                singleOpen: true,
                clickEffect: true
            };

        function Plugin ( element, options ) {
            this.element = element;
            this.settings = $.extend( {}, defaults, options );
            this._defaults = defaults;
            this._name = pluginName;
            this.init();
        };

        $.extend(Plugin.prototype, {

            init: function () {
                this.openSubmenu();
                this.submenuIndicators();
                if(this.settings.clickEffect){
                    this.addClickEffect();
                }
            },

            openSubmenu: function () {
                var opts = this.settings; //to differ from local variable "this"
                $(this.element).children("ul").find("li").bind("click", function(e){
                    e.stopPropagation();
                    e.preventDefault();

                    if ($(this).attr('class') === 'back-to-the-top') {
                        $('.mobile-header-container').scrollTop(0);
                    }

                    if($(this).children(".submenu").length > 0){
                        if($(this).children(".submenu").css("display") == "none"){
                            $(this).children(".submenu").delay(opts.showDelay).slideDown(opts.speed);
                            $(this).children(".submenu").siblings("a").addClass("submenu-indicator-minus");
                            $(this).addClass("activate");
                            if(opts.singleOpen){
                                $(this).siblings().children(".submenu").slideUp(opts.speed);
                                $(this).siblings().children(".submenu").siblings("a").removeClass("submenu-indicator-minus");
                                $(this).removeClass("activate");
                            }

                            return false;
                        }else {
                            $(this).children(".submenu").delay(opts.hideDelay).slideUp(opts.speed);
                        }

                        if($(this).children(".submenu").siblings("a").hasClass("submenu-indicator-minus")){
                            $(this).children(".submenu").siblings("a").removeClass("submenu-indicator-minus");
                            $(this).removeClass("activate");
                        }
                    }

                    window.location.href = $(this).children("a").attr("href");
                });
            },

            submenuIndicators: function () {
                if($(this.element).find(".submenu").length > 0){
                    $(this.element).find(".submenu").siblings("a").append("<span class='submenu-indicator'><span class='object1'></span><span class='object2'></span><span class='object3'></span></span>");
                }
            },

            addClickEffect: function () {
                var ink, d, x, y;

                $(this.element).find("a").bind("click", function(e){

                    $(".ink").remove();

                    if($(this).children(".ink").length === 0){
                        $(this).prepend("<span class='ink'></span>");
                    }

                    ink = $(this).find(".ink");
                    ink.removeClass("animate-ink");

                    if(!ink.height() && !ink.width()){
                        d = Math.max($(this).outerWidth(), $(this).outerHeight());
                        ink.css({height: d, width: d});
                    }

                    x = e.pageX - $(this).offset().left - ink.width()/2;
                    y = e.pageY - $(this).offset().top - ink.height()/2;

                    ink.css({top: y+'px', left: x+'px'}).addClass("animate-ink");
                });
            }

        });

        $.fn[ pluginName ] = function ( options ) {
            this.each(function() {
                if ( !$.data( this, "plugin_" + pluginName ) ) {
                    $.data( this, "plugin_" + pluginName, new Plugin( this, options ) );
                }
            });
            return this;
        };
    })( jQuery, window, document );

    // Mobile menu activator.
    var mobileNavActivator = $('.mobile-menu-opener'),
        mobileNavContainer = $('.mobile-header-container'),
        mobileNavMenus     = $('.nav-mobile-menus');

    mobileNavMenus.jqueryAccordionMenu();

    mobileNavActivator.click(function() {
        if (mobileNavContainer.hasClass('active')) {
            mobileNavContainer.removeClass('active');
        } else {
            mobileNavContainer.addClass('active');
        }
    });


    // Decoration: animation.
    ScrollReveal().reveal('.decoration.cloud.right', {
        delay: 400,
        origin: 'right',
        duration: 1500,
        distance: '50%'
    });


    // Get started - footer: animation.
    // ScrollReveal().reveal('footer .get-started-container', {
    //     opacity: 1,
    //     origin: 'bottom',
    //     distance: '100%'
    // });
    ScrollReveal().reveal('footer .get-started-container .rancher-logo', {
        delay: 200,
        origin: 'bottom',
        distance: '20%',
        opacity: 0,
        viewFactor: .5,
        mobile: false
    });


    if(window.location.hash) {
        scrollPage(window.location.hash);
    }

    $('.docs-wrap .accordion > label').click(function() {
        if ($(this).parent().hasClass('active')) {
            $(this).parent().removeClass('active');
        } else {
            $(this).parent().addClass('active');
        }
    });

    var mobileNavContainer = $('.mobile-header-container');

    if ($(this).scrollTop() > 50) {
        mobileNavContainer.addClass('add-blinder');
    } else {
        mobileNavContainer.removeClass('add-blinder');
    }

    var stkNav = $('.header-container');

    if ($(window).scrollTop() > 50) {
        stkNav.addClass('sticky');
    } else {
        stkNav.removeClass('sticky');
    }
}).on("scroll", function(e) {
    var mobileNavContainer = $('.mobile-header-container');

    if ($(this).scrollTop() > 50) {
        mobileNavContainer.addClass('add-blinder');
    } else {
        mobileNavContainer.removeClass('add-blinder');
    }

    var stkNav = $('.header-container');

    if ($(window).scrollTop() > 50) {
        stkNav.addClass('sticky');
    } else {
        stkNav.removeClass('sticky');
    }
});
</script>

{{ partial "tracking.html" . }}
{{ partial "addthis-script" . }}

</body>
</html>
