

    <footer>

        <div class="footer-container">
            <div class="grid-container informations">
                <div class="row max-sized">
                    <div class="col-xl-3 col-12">
                        <div class="footer-side-items">
                            <div class="footer-news-letter-form">
                                <label>
                                    Get the latest news
                                </label>
    
                                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                                <script>
                                  hbspt.forms.create({
                                    css: '',
                                    portalId: '468859',
                                    formId: '8beed251-ecf0-49fc-93a1-fa9b1446110f',
                                    translations: {
                                      en: {
                                        submitText: " "
                                      }
                                    }
                                  });
                                </script>
                            </div>
                            
                            <div class="footer-connect-sns">
                                <label>
                                    Connect with us
                                </label>
    
                                <ul>
                                    <li>
                                        <a href="https://twitter.com/Rancher_Labs" target="_blank"><img src="/imgs/icon-twitter.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/groups/6977008/profile" target="_blank"><img src="/imgs/icon-linkedin.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/rancherlabs/" target="_blank"><img src="/imgs/icon-facebook.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCh5Xtp82q8wjijP8npkVTBA" target="_blank"><img src="/imgs/icon-youtube.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/rancher/rancher" target="_blank"><img src="/imgs/icon-github.svg"></a>
                                    </li>
                                    <li>
                                        <a href="https://slack.rancher.io/" target="_blank"><img src="/imgs/icon-slack.svg"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 offset-xl-1 col-12 hidden-xs-down">
                        <div class="row footer-sitemaps">
                            <ul class="col-xl-4">
                                <label>
                                    The Rancher advantage
                                </label>
                                <li><a href="#">Open source adoption</a></li>
                                <li><a href="#">DevOps</a></li>
                                <li><a href="#">IT Ops</a></li>
                                <li><a href="/what-is-rancher/how-is-rancher-different">The Rancher Difference</a></li>
                                <li><a href="/kubernetes">Why Kubernetes</a></li>
                            </ul>
                            <ul class="col-xl-4">
                                <label>
                                    Product
                                </label>
                                <li><a href="https://rancher.com/what-is-rancher/overview/">Rancher</a></li>
                                <li><a href="https://rancher.com/rancher-os">RancherOS</a></li>
                                <li><a href="https://rancher.com/training">Training</a></li>
                                <li><a href="https://rancher.com/support">Support</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Request a Demo</a></li>
                            </ul>
                            <ul class="col-xl-4">
                                <label>
                                    Feature
                                </label>
                                <li><a href="#">Hybrid &amp; Multi Cloud</a></li>
                                <li><a href="#">Workload Management</a></li>
                                <li><a href="#">Security &amp; Complianve</a></li>
                                <li><a href="#">Open Source</a></li>
                                <li><a href="#">K8s Cluster Management</a></li>
                            </ul>
                            <ul class="col-xl-4">
                                <label>
                                    Community
                                </label>
                                <li><a href="#">Forums</a></li>
                                <li><a href="#">Slack</a></li>
                                <li><a href="#">Github</a></li>
                                <li><a href="#">Events &amp; Meetups</a></li>
                                <li><a href="#">Tutorials</a></li>
                            </ul>
                            <ul class="col-xl-4">
                                <label>
                                    Resouces
                                </label>
                                <li><a href="http://rancher.com/docs/rancher/v2.x/en/">Rancher 2.0 Docs</a></li>
                                <li><a href="https://rancher.com/docs/rancher/v1.6/en/">Rancher 1.6 Docs</a></li>
                                <li><a href="https://rancher.com/docs/rke/v0.1.x/en/">RKE Docs</a></li>
                                <li><a href="#">eBooks</a></li>
                                <li><a href="#">Reports</a></li>
                                <li><a href="#">Getting Started Guide</a></li>
                                <li><a href="#">What is Kubernetes</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                            <ul class="col-xl-4">
                                <label>
                                    Company
                                </label>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-container footer-copyright">
                <div class="row align-items-center grid-row max-sized">
                    <div class="col text">
                        © Copyright {{ now.Format "2006" }} Rancher. All Rights Reserved.
                    </div>
                    <div class="col hidden-xs-down sub-menus">
                        <ul>
                            <li>
                                <a href="https://rancher.com/privacy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://rancher.com/eula">EULA</a>
                            </li>
                            <li>
                                <a href="https://rancher.com/eula">Terms of Service</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div><!--end of container that starts in header.html-->

<script>
// vars.
var VAR_DATAS = {
    SPEED_SLIDE:         1000,
    SPEED_SLIDE_DELAYED: 1200,
    SPEED_AUTOPLAY:      4000
};


// funcs.
function sliderProgressPlay(slider, progressBar, duration, repeatable) {
    // initialize progress bar.
    progressBar.stop().css('width', 0);

    progressBar.animate({
        width: '100%'
    }, duration || 5000, function() { // complete.
        // initialize progress bar.
        progressBar.animate({width: '0%'}, 100);

        // request next slide.
        slider.slick('slickNext');

        if (repeatable) sliderProgressPlay(slider, progressBar, duration, repeatable);
    });
}


$(document).ready(function() {
    // Mobile menu script
    ;(function ( $, window, document, undefined ) {
        var pluginName = "jqueryAccordionMenu";
        var defaults = {
                speed: 300,
                showDelay: 0,
                hideDelay: 0,
                singleOpen: true,
                clickEffect: true
            };

        function Plugin ( element, options ) {
            this.element = element;
            this.settings = $.extend( {}, defaults, options );
            this._defaults = defaults;
            this._name = pluginName;
            this.init();
        };
        
        $.extend(Plugin.prototype, {
            
            init: function () {
                this.openSubmenu();
                this.submenuIndicators();
                if(this.settings.clickEffect){
                    this.addClickEffect();
                }
            },
            
            openSubmenu: function () {
                var opts = this.settings; //to differ from local variable "this"
                $(this.element).children("ul").find("li").bind("click touchstart", function(e){
                    e.stopPropagation(); 
                    e.preventDefault();

                    if ($(this).attr('class') === 'back-to-the-top') {
                        $('.mobile-header-container').scrollTop(0);
                    }

                    if($(this).children(".submenu").length > 0){
                        if($(this).children(".submenu").css("display") == "none"){
                            $(this).children(".submenu").delay(opts.showDelay).slideDown(opts.speed);
                            $(this).children(".submenu").siblings("a").addClass("submenu-indicator-minus");
                            $(this).addClass("activate");
                            if(opts.singleOpen){
                                $(this).siblings().children(".submenu").slideUp(opts.speed);
                                $(this).siblings().children(".submenu").siblings("a").removeClass("submenu-indicator-minus");
                            }
                            return false;
                        }
                        else{
                            $(this).children(".submenu").delay(opts.hideDelay).slideUp(opts.speed);
                        }
                        if($(this).children(".submenu").siblings("a").hasClass("submenu-indicator-minus")){
                            $(this).children(".submenu").siblings("a").removeClass("submenu-indicator-minus");
                            $(this).removeClass("activate");
                        }
                    }
                    window.location.href = $(this).children("a").attr("href");
                });
            },
            
            submenuIndicators: function () {
                if($(this.element).find(".submenu").length > 0){
                    $(this.element).find(".submenu").siblings("a").append("<span class='submenu-indicator'><span class='object1'></span><span class='object2'></span><span class='object3'></span></span>");
                }
            },
            
            addClickEffect: function () {
                var ink, d, x, y;
                $(this.element).find("a").bind("click touchstart", function(e){
                    
                    $(".ink").remove();
                    
                    if($(this).children(".ink").length === 0){
                        $(this).prepend("<span class='ink'></span>");
                    }
                    
                    ink = $(this).find(".ink");
                    ink.removeClass("animate-ink");
                    
                    if(!ink.height() && !ink.width()){
                        d = Math.max($(this).outerWidth(), $(this).outerHeight());
                        ink.css({height: d, width: d});
                    }
                    
                    x = e.pageX - $(this).offset().left - ink.width()/2;
                    y = e.pageY - $(this).offset().top - ink.height()/2;
        
                    ink.css({top: y+'px', left: x+'px'}).addClass("animate-ink");
                });
            }
            
        });

        $.fn[ pluginName ] = function ( options ) {
            this.each(function() {
                if ( !$.data( this, "plugin_" + pluginName ) ) {
                    $.data( this, "plugin_" + pluginName, new Plugin( this, options ) );
                }
            });
            return this;
        };
    })( jQuery, window, document );

    // Mobile menu activator.
    var mobileNavActivator = $('.mobile-menu-opener'),
        mobileNavContainer = $('.mobile-header-container'),
        mobileNavMenus     = $('.nav-mobile-menus');

    mobileNavMenus.jqueryAccordionMenu();

    mobileNavActivator.click(function() {
        if (mobileNavContainer.hasClass('active')) {
            mobileNavContainer.removeClass('active');
        } else {
            mobileNavContainer.addClass('active');
        }
    });


    // Decoration: animation.
    ScrollReveal().reveal('.decoration.cloud.right', {
        delay: 400,
        origin: 'right',
        duration: 1500,
        distance: '50%'
    });


    // Get started - footer: animation.
    // ScrollReveal().reveal('footer .get-started-container', {
    //     opacity: 1,
    //     origin: 'bottom',
    //     distance: '100%'
    // });
    ScrollReveal().reveal('footer .get-started-container .rancher-logo', {
        delay: 200,
        origin: 'bottom',
        distance: '20%',
        opacity: 0,
        viewFactor: .5,
        mobile: false
    });
}).on("scroll", function(e) {
    var mobileNavContainer = $('.mobile-header-container');

    if ($(this).scrollTop() > 50) {
        mobileNavContainer.addClass('add-blinder');
    } else {
        mobileNavContainer.removeClass('add-blinder');
    }
});
</script>

{{ partial "tracking.html" . }}
{{ partial "addthis-script" . }}
</body>
</html>
