<div class="grid-container get-started-container theme-{{.theme}}">
    <div class="row align-items-center max-sized">
        <div class="
            col-xl-4 
            col-lg-3 
            col-md-3 
            col-sm-3 
            col-6 
            rancher-logo">
            <img src="/imgs/rancher-logo-only-color.svg">
        </div>

        <div class="
            col-xl-8 
            col-lg-9 
            col-md-9 
            col-sm-9  
            col-12 
            get-started-wrap">
            <div class="grid-container">
                <div class="row">
                    <div class="col title-label">
                        Get started with Rancher
                    </div>

                    <div class="col buttons-container">
                        <a href="/docs/rancher/v2.x/en/quick-start-guide/">
                            <button class="button c-blue btn-deploy-rancher">Deploy Rancher</button>
                        </a>
                        <a href="/contact/">
                            <button class="button linear btn-contact-sales">Contact Sales</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>