<footer class="bg-default p-v-xs p-h-sm">
    <div class="">
      <div class="row">
          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>Products</h3>
            <ul class="unstyled">
              <li><a href="/what-is-rancher/overview/">Rancher</a></li>
              <li><a href="/rancher-os">RancherOS</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>Docs</h3>
            <ul class="unstyled">
              <li><a href="http://rancher.com/docs/rancher/v2.x/en/" target="blank">Rancher 2.0 Docs</a></li>
              <li><a href="https://rancher.com/docs/rancher/v1.6/en/" target="blank">Rancher 1.6 Docs</a></li>
              <li><a href="https://rancher.com/docs/os/v1.x/en/" target="blank">RancherOS</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>Learn</h3>
            <ul class="unstyled">
              <li><a href="https://info.rancher.com/schedule-a-rancher-demo" target="blank">Schedule a demo</a></li>
              <li><a href="/training">Rancher Kubernetes Training</a></li>
          </ul>
          </div>


          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>About</h3>
            <ul class="unstyled">
              <li><a href="/about">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>Support</h3>
            <ul class="unstyled">
              <li><a href="/contact">Contact</a></li>
              <li><a href="/support">Get Support</a></li>
              <li><a href="http://slack.rancher.io/" target="blank">Slack</a></li>
              <li><a href="https://forums.rancher.com/" target="blank">Forums</a></li>
              <li><a href="https://github.com/rancher" target="blank">GitHub</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-4 col-xs-12">
            <h3>Legal</h3>
            <ul class="unstyled">
              <li><a href="/eula">EULA</a></li>
              <li><a href="/support-maintenance-terms">Terms of Service Agreement</a></li>
              <li><a href="/privacy">Privacy</a></li>
            </ul>
          </div>
      </div>

      <div class="row news between-xs middle-xs p-v-sm">
        <div class="col-md row social">
          <a class="p-h-xs" href="https://www.youtube.com/channel/UCh5Xtp82q8wjijP8npkVTBA" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-youtube.svg" alt="youtube" height="30" width="30">
          </a>
          <a class="p-r-xs" href="https://github.com/rancher/rancher" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-github.svg" alt="github" height="30" width="30">
          </a>
          <a class="p-r-xs" href="https://twitter.com/Rancher_Labs" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-twitter.svg" alt="twitter" height="30" width="30">
          </a>
          <a class="p-r-xs" href="https://www.facebook.com/rancherlabs/" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-facebook.svg" alt="facebook" height="30" width="30">
          </a>
          <a class="p-r-xs" href="https://www.linkedin.com/groups/6977008/profile" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-linkedin.svg" height="30" alt="linkedin" width="30">
          </a>
          <a class="p-r-xs" href="https://slack.rancher.io/" target="_blank">
            <img src="{{ .Site.BaseURL }}/img/icon-slack.svg" alt="slack" height="30" width="30">
          </a>
        </div>


        <div class="col-md-4">
          <p class="m-a-0">Get the latest news</p>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                css: '',
                portalId: '468859',
                formId: '8beed251-ecf0-49fc-93a1-fa9b1446110f'
              });
            </script>
        </div>
      </div>

      <!-- copyright -->
      <div class="row end-md">
          <div class="text-small text-muted text-center p-a-sm">© 2014-{{ now.Format "2006" }} RANCHER LABS, INC. ALL RIGHTS RESERVED.</div>
      </div>
    </div>


  </footer>
</div><!--end of container that starts in header.html-->

{{ partial "tracking.html" . }}
{{ partial "addthis-script" . }}
</body>
</html>
