<head>
  {{ $cache :=  now.Unix }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }} | Rancher Labs</title>
  
  <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">

  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/app.css?{{ $cache}}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,900" rel="stylesheet">
  <!--icons https://material.io/icons/-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet" />

  <script charset="utf-8" type="text/javascript" src="{{ .Site.BaseURL }}/js/vendor.js?{{ $cache}}"></script>
  <script charset="utf-8" type="text/javascript" src="{{ .Site.BaseURL }}/js/app.js?{{ $cache}}"></script>

  {{ partial "seo.html" . }}
</head>
