  <head>
    {{ $cache :=  now.Unix }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Title }} | Rancher Labs</title>
    <link rel="icon" href="{{ .Site.BaseURL }}/img/favicon.png">

    <link rel="canonical" href="{{ .Permalink }}"> {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}  | Rancher Labs" />{{ end }}

    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/app.css?{{ $cache}}" />
    <link href="https://fonts.googleapis.com/css?family=Prompt:300,600|Barlow:400,600" rel="stylesheet" />
    <!--icons https://material.io/icons/-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet" />

    <script charset="utf-8" type="text/javascript" src="{{ .Site.BaseURL }}/js/vendor.js?{{ $cache}}"></script>
    <script charset="utf-8" type="text/javascript" src="{{ .Site.BaseURL }}/js/app.js?{{ $cache}}"></script>

    {{ partial "seo.html" . }}
  </head>
