<head>
  {{ $cache :=  now.Unix }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">


  {{ partial "seo.html" . }}

  <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">

  {{- $opt := (dict "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "/theme" "../../node_modules")) -}}
  {{- $appCss := resources.Get "sass/app.scss" | toCSS $opt }}
  <link rel="stylesheet" type="text/css" href="{{ $appCss.Permalink }}?{{ $cache }}"/>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lax.js"></script>


  {{ $jquery := resources.Get "js/jquery.js" }}
  {{ $lory := resources.Get "js/jquery.lory.js" }}
  {{ $tingle := resources.Get "js/tingle.js" }}
  {{ $moment := resources.Get "js/moment.js" }}
  {{ $timezone := resources.Get "js/moment-timezone.js" }}
  {{ $empty := resources.Get "js/empty.js" }}
  {{ $scrollreveal := resources.Get "js/scrollreveal.js" }}
  {{ $vendors := resources.Get "js/vendors.js" }}

  {{ $vendorJs := slice $jquery $empty $lory $empty $tingle $empty $moment $empty $timezone $empty $scrollreveal $empty $vendors  | resources.Concat "js/vendor.js" | minify }}
  <script charset="utf-8" type="text/javascript" src="{{ $vendorJs.Permalink}}?{{ $cache }}"></script>

 {{ $instantsearch := resources.Get "js/instantsearch.js" | minify }}
  <script defer charset="utf-8" type="text/javascript" src="{{ $instantsearch.Permalink}}?{{ $cache }}"></script>

  {{ $base := resources.Get "js/base.js" }}
  {{ $local := resources.Get "js/app.js" }}
    {{ $appJs := slice $base $local  | resources.Concat "js/app.js" | minify }}
  <script charset="utf-8" type="text/javascript" src="{{ $appJs.Permalink}}?{{ $cache}}"></script>

  <!-- OneTrust Cookies Consent Notice start for rancher.com -->
  <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="0f98beb0-fc4c-417d-a42e-564e2cae42d2" ></script>
  <script type="text/javascript">
  function OptanonWrapper() { }
  </script>
  <!-- OneTrust Cookies Consent Notice end for rancher.com -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-57KS2MW');</script>
  <!-- End Google Tag Manager -->
</head>
