<!DOCTYPE html>
<html class="" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{{ partial "head.html" . }}

{{- $.Scratch.Set "topLevel" . -}}
{{ range $page := $.Site.Sections }}
  {{- if $.CurrentSection -}}
    {{- if $page.IsAncestor $.CurrentSection -}}
      {{- $.Scratch.Set "topLevel" . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<body lang="en" class="{{ replaceRE "/.*" "" ($.Scratch.Get "topLevel").Dir }}">
  <a name="top"></a>


<div class="main"> <!--container ends in footer html-->


    <header>
        <nav>
            <div class="mobile-header-container">
                <div class="mobile-nav-header">
                    <div class="logo">
                        <img class="logo-image" src="/imgs/rancher-logo-horiz-color.png">
                    </div>
        
                    <div class="mobile-menu-opener">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    <div class="grid-container mobile-header-lower-container">
                        <div class="row">
                            <div class="col-5 mobile-search-button /mobile-search-form">
                                <a href="#">
                                    <button class="button">
                                        <svg class="icon left" enable-background="new 0 0 100 100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                            <path class="svg-face" d="m41.7 60.4c-10.4 0-18.8-8.3-18.8-18.8s8.3-18.8 18.8-18.8 18.8 8.3 18.8 18.8c-.1 10.5-8.4 18.8-18.8 18.8zm43.5 19-21.7-21.7c3.3-4.4 5.2-10 5.2-16 0-15-12.1-27.1-27.1-27.1s-27 12.1-27 27.1 12.1 27.1 27.1 27.1c6 0 11.5-1.9 16-5.2l21.7 21.7c.8.8 1.9 1.2 2.9 1.2s2.1-.4 2.9-1.2c1.7-1.8 1.7-4.3 0-5.9z"/>
                                        </svg>
                                        Search
                                    </button>
                                </a>
                                <!-- <div class="search-container">
                                    <input class="search-input" type="text" placeholder="SEARCH" />
                                </div> -->
                            </div>
                            <div class="col-7 mobile-rancher-button">
                                <a href="#">
                                    <button class="button">
                                        Rancher 2.x
                                        <svg class="icon right" enable-background="new 0 0 12 7" viewBox="0 0 12 7" xmlns="http://www.w3.org/2000/svg">
                                            <path class="svg-linear" d="m11 1.1-5 5-5-5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"/>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-mobile-menus jquery-accordion-menu">
                    <ul class="mobile-menus-wrap">
                        <li class="in-contents">
                            <a href="#">Quick start guides</a>

                            <ul class="submenu submenus-wrap">
                                <li class="contents-container">
                                    Quick <br>
                                    Start <br>
                                    Guides
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Overview</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                                <li class="">
                                    <a href="#">Deploying Workloads</a>

                                    <ul class="submenu submenus-wrap">
                                        <li class="submenu">
                                            <a href="#">Workload with Ingress Quick Start</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">Workload with NodePort Quick Start</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Quick start guides</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                                <li class="">
                                    <a href="#">Deploying Workloads</a>

                                    <ul class="submenu submenus-wrap">
                                        <li class="submenu">
                                            <a href="#">Workload with Ingress Quick Start</a>
                                        </li>
                                        <li class="submenu">
                                            <a href="#">Workload with NodePort Quick Start</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Installation</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Upgrades and Rollbackas</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Administration</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Provisioning Kubernetes Clusters</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Kubernetes in Rancher</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Catalog and Charts</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Rancher Tools</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Rancher CLI</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">User Settings</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">API</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">FAQ</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Troubleshooting</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Contributing to Rancher</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#">Migrating from Rancher <br>v1.6 Cattle to v2.x</a>

                            <ul class="submenu submenus-wrap">
                                <li class="">
                                    <a href="#">Deploying Rancher Server</a>
                                </li>
                            </ul>
                        </li>
                        <li class="back-to-the-top">
                            <a href="#" class="submenu-indicator-close">
                                Back to the top 
                                <svg class="svg-icon" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                    <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                        <path d="m12 14.5 5-5 5 5"/><path d="m17 9.5v15"/>
                                    </g>
                                </svg>

                                <span class="submenu-indicator"><span class="object1"></span><span class="object2"></span><span class="object3"></span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-container">
                <div class="header-wrap">
                    <div class="header-option-menus">
                        <ul>
                            <li>
                                <a href="#">Request a demo</a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="header-primary-menus">
                        <div class="logo">
                            <a href="/"><img class="logo-image" src="/imgs/rancher-logo-horiz-color.png"></a>
                        </div>
            
                        <div class="primary-menus">
                            <ul class="primary-menus-wrap">
                                <li class="menu-why_rancher">
                                    <a href="/what-is-rancher/overview">Why RANCHER?</a>
                                    <ul class="primary-menus-sub">
                                        <li class="articles-container">
                                            <div class="label">The Rancher Advantage</div>

                                            <div class="article-item">
                                                <div class="article-thumbmail">
                                                    <img class="image" src="/imgs/___test-square.svg">
                                                </div>
                                                <div class="article-texts">
                                                    <h1 class="title-label">
                                                        Multi-cluster management
                                                    </h1>
                                                    <p class="description-label">
                                                        Lucidus malesuada vero sudo appellatio facilisi iaceo
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="article-item">
                                                <div class="article-thumbmail"></div>
                                                <div class="article-texts">
                                                    <h1 class="title-label">
                                                        Centralized authentication
                                                    </h1>
                                                    <p class="description-label">
                                                        Saepius tortor consectetuer meus abigo pneum cursus
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="article-item">
                                                <div class="article-thumbmail"></div>
                                                <div class="article-texts">
                                                    <h1 class="title-label">
                                                        Enterprise support
                                                    </h1>
                                                    <p class="description-label">
                                                        Letalis urna quisque amet est minim reprobo multo dictum
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="menus-container">
                                            <a href="/kubernetes">
                                                <span>Why Kubernetes</span>
                                                <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                    <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                        <path d="m19.5 12 5 5-5 5"/>
                                                        <path d="m24.5 17h-15"/>
                                                    </g>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-products /active">
                                    <a href="/products">Products</a>

                                    <ul class="primary-menus-sub">
                                        <div class="grid-container">
                                            <div class="row">
                                                <div class="col left">
                                                    <li class="articles-container split-half">
                                                        <div class="label">Rancher</div>

                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Hybrid and multi cloud
                                                                </h1>
                                                                <p class="description-label">
                                                                    Lucidus malesuada vero sudo appellatio facilisi iaceo
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Workload management
                                                                </h1>
                                                                <p class="description-label">
                                                                    Lucidus malesuada vero sudo appellatio facilisi iaceo
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Security and compliance
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Open source
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Kubernetes cluster management
                                                                </h1>
                                                                <p class="description-label">
                                                                    Letalis urna quisque amet est minim reprobo multo dictum abdo
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                                <div class="col right">
                                                    <li class="menus-container">
                                                        <a href="/rancher-os">
                                                            <span>RancherOS</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="/training">
                                                            <span>Training</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="/support">
                                                            <span>Support</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="/support/pricing">
                                                            <span>Pricing</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a class="box" href="#">
                                                            <span>Request a demo</span>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="menu-customers">
                                    <a href="/customers">Customers</a>

                                    <ul class="primary-menus-sub">
                                        <div class="grid-container">
                                            <div class="row">
                                                <div class="col left">
                                                    <li class="feature-container single split-half">
                                                        <div class="label">Featured</div>

                                                        <div class="article-item">
                                                            <div class="article-thumbmail">
                                                                <div class="text-for-thumbnail">Imagery</div>
                                                            </div>

                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Illuminia
                                                                </h1>
                                                                <p class="description-label">
                                                                    Illumina Innovates with Rancher and Kubernetes

                                                                    <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                        <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                            <path d="m19.5 12 5 5-5 5"/>
                                                                            <path d="m24.5 17h-15"/>
                                                                        </g>
                                                                    </svg>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                                <div class="col right">
                                                    <li class="menus-container">
                                                        <div class="label">Content Library</div>

                                                        <a href="#">
                                                            <span>Customers #1</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Customers #2</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Customers #3</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a class="box" href="#">
                                                            <span>See all customers</span>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="menu-community">
                                    <a href="/learn">Community</a>

                                    <ul class="primary-menus-sub">
                                        <div class="grid-container">
                                            <div class="row">
                                                <div class="col left">
                                                    <li class="articles-container split-half">
                                                        <div class="label">The Rancher Community
                                                            <ul class="sns-services set-right">
                                                                <li><a href="#"><img src="/imgs/icon-twitter.svg"></a></li>
                                                                <li><a href="#"><img src="/imgs/icon-linkedin.svg"></a></li>
                                                                <li><a href="#"><img src="/imgs/icon-facebook.svg"></a></li>
                                                                <li><a href="#"><img src="/imgs/icon-youtube.svg"></a></li>
                                                            </ul>
                                                        </div>

                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Forums
                                                                </h1>
                                                                <p class="description-label">
                                                                    Lucidus malesuada vero sudo appellatio facilisi iaceo
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Docs
                                                                </h1>
                                                                <p class="description-label">
                                                                    Lucidus malesuada vero sudo appellatio facilisi iaceo
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Slack
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Training
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Github
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="article-item">
                                                            <div class="article-thumbmail"></div>
                                                            <div class="article-texts">
                                                                <h1 class="title-label">
                                                                    Event & Meetups
                                                                </h1>
                                                                <p class="description-label">
                                                                    Saepius tortor consectetuer meus abigo pneum cursus
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                                <div class="col right">
                                                    <li class="menus-container">
                                                        <div class="label">Content Library</div>

                                                        <a href="#">
                                                            <span>eBooks</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Reports</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Getting Started Guide</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>What is Kubernetes</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="menu-company">
                                    <a href="#">Company</a>

                                    <ul class="primary-menus-sub">
                                        <div class="grid-container">
                                            <div class="row">
                                                <div class="col">
                                                    <li class="menus-container">
                                                        <a href="#">
                                                            <span>About us</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Careers</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Partners</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Press</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                        <a href="#">
                                                            <span>Contact us</span>
                                                            <svg class="icon right" enable-background="new 0 0 34 34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                                                <g class="svg-linear" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                                    <path d="m19.5 12 5 5-5 5"/>
                                                                    <path d="m24.5 17h-15"/>
                                                                </g>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="menu-get_started get-started">
                                    <a href="#">Get started</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>



<div class="modal-content" id="open-search">
  <div class="content search-modal">
    <!--search input-->
    <div class="container-search">
      <form id="searchForm"><input type="search" id="search-box" autocomplete="off"></input></form>
    </div>

    <!--search results-->
    <div class="overlay-search">
      <div class="search-results" id="hits"></div>
    </div>
  </div>
</div>
