<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}"> {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css?family=Prompt:300,400,600|Roboto+Condensed:300,700" rel="stylesheet" />
    <!--icons https://material.io/icons/-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet" />

    {{ partial "seo.html" . }}
  </head>

<body lang="en">
<div> <!--container ends in footer html-->
  <header class="p-h-lg bg-link">
    <div class="row middle-md"><!--top row-->
        <div class="col-md-2">
          <a href="/"><img src="/img/rancher-logo-horiz-white.svg" width="250" height="37"></a>
        </div>
        <div class="col-md">
          {{ partial "main-nav.html" . }}
        </div>
    </div>
  </header>
