<header>
  <div class="">
    <nav>
      <div class="sticky-header row middle-xs between-xs">
        <ul class="main-menu row">
          <a href="/"><img src="/img/rancher-logo-horiz-white.svg" width="150" height="22" alt="rancher logo"></a>

          {{ $currentPage := . }} {{ range .Site.Menus.main }} {{ if .HasChildren }}
          <li class="dropdown sub-menu {{ if $currentPage.HasMenuCurrent " main " . }}active{{ end }}">
            <a href="{{ .URL }}" class="text-white p-a-xs"><span>{{ .Name }} {{ .Pre }}</span></a>
            <ul class="sub dropdown-menu">
              {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent " main " . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }} {{ .Pre }}</a>
                {{ end }}
            </ul>
            {{else}}
            <li class="">
              <a href="{{.URL}}" class="text-white p-a-xs"><span>{{ .Name }} {{ .Pre }}</span></a>
            </li>
            {{end}}
          {{end}}
        </ul>
        <div>
          <a class="text-white" href="#" id="button-search"><i class="material-icons">search</i></a>
        </div>
      </div>


      <ul class="cta-header row middle-xs end-xs unstyled">
        <li><a href="/support#pricing" class="btn">Pricing</a></li>
        <li><a href="/quick-start" class="btn">Deploy</a></li>
        <li><a href="/support" class="btn">Support</a></li>
        <li><a href="/contact" class="btn border-btn p-a-xs">Request a Demo</a></li>
      </ul>
    </nav>
  </div>

  <div class="container-search">
    <form id="searchForm"><input type="search" class='' id='search-box' autocomplete="off"></input></form>
  </div>
</header>
<div class="overlay-search">
  <div class="search-results" id="hits"></div>
</div>
