<nav>
  <ul class="main-menu row middle-md">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="dropdown sub-menu {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}" class="btn">
            <span>{{ .Name }} {{ .Pre }}</span>
          </a>
          <ul class="sub dropdown-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }} {{ .Pre }}</a>
            {{ end }}
          </ul>
      {{else}}
        <li class="">
          <a href="{{.URL}}" class="btn">
            <span>{{ .Name }} {{ .Pre }}</span>
          </a>
        </li>
      {{end}}
    {{end}}
  </ul>
</nav>

