<div class="row middle-xs m-b-sm">
  <div class="col-sm-3">
    <img src="{{ .Site.BaseURL }}/img/spot-training.svg" />
  </div>
  <div class="col-sm-9 p-a-xs">
    <p>Get <strong>free training</strong> from an expert through our classes on Kubernetes and Rancher</p>
    <p><a href="{{ .Site.BaseURL }}/training">Sign Up Now</a></p>
  </div>
</div>

<!-- <div class="bg-default p-h-md p-v-sm">
  <ul class="box-list">
    {{range (where .Site.Pages.ByDate ".Date.Unix" "ge" now.Unix)}}
      {{if (eq .Params.subtype "training")}}
      <li class="box-list-item">
        <div class="box box-list-content">
          <h4 class="bg-default m-a-0 p-a-xs">{{ .Date.Format "Jan 2, 2006" }}</h4>
          <h3 class="">{{ .Title }}</h3>
          {{ with .Params.technician }}
            <span class="text-muted">Technician:</span> {{ . }}
          {{end}}
          <br/>
          {{ with .Params.host }}
            <span class="text-muted">Host:</span> {{ . }}
          {{end}}
        </p>
        {{ with .Params.link }}
            <a href="{{ . }}" class="btn bg-link" target="_blank">Register Here</a>
        {{end}}
        </div>
      </li>
      {{end}}
    {{end}}
  </ul>
</div> -->

<div class="bg-default p-h-md p-v-sm">
  <h3 class="m-t-0 m-b-sm">Recent Posts</h3>
  {{ range first 5 (where .Site.Pages "Section" "blog") }}
      <div class="row aside-item">
        <div class="bg-accent col-md row middle-md center-md"><i class="material-icons">question_answer</i></div>
        <div class="col-md aside-info">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{ .Date.Format "Jan 02, 2006" }}
        </div>
      </div>
  {{ end }}
</div>


<div class="bg-default p-h-md p-v-sm m-t-sm">
  <h3 class="m-t-0 m-b-sm">Upcoming Events</h3>
  <div id="events-list-injected"> </div>

  {{ range first 5 (where .Site.Pages "Section" "events") }}
      <div class="row aside-item">
        <div class="bg-accent col-md row middle-md center-md"><i class="material-icons">event</i></div>
        <div class="col-md aside-info">
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          {{ .Date.Format "Jan 02, 2006" }}
        </div>
      </div>
  {{ end }}
</div>
