.company-press-screen1 {
  background-color: $c-gray-base-light;

  .decoration {
    position: relative;

    width: 100%;

    line-height: 0;
  }

  .texts-container {
    padding-left: 0;

    line-height: 0;

    .texts-wrap {
      z-index: 1;

      margin-top: 220px;
      margin-bottom: 200px;

      .title-label {
        margin-bottom: 35px;
        color: #000;
        font-size: 50px;
        font-weight: 200;
      }

      .description-label {
        color: #000;
        line-height: 1.4;
      }
    }
  }

  .lower-container {
    height: 150px;

    margin-top: -150px;

    line-height: 0;

    .decoration {
      position: relative;

      height: 100%;

      &.ground {
        .ground-lower {
          position: relative;

          width: auto;
          height: 75px;

          margin-top: 75px;
          margin-left: 30%;
        }

        .ground-upper {
          position: absolute;

          bottom: 0;
          left: 46.5%;

          width: auto;
          height: 130px;
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    margin-top: 135px;

    .decoration {
      &.cloud-big {
        min-height: 135px;
      }
      &.cloud-big .image {
        top: 95%;
        left: 10%;

        width: auto;
        height: 100px;

        @include transform(translateX(0));
      }
    }

    .texts-container {
      padding-right: 25px;
      padding-left: 25px;

      .texts-wrap {
        margin-top: 40px;
        margin-bottom: 150px;

        .title-label {
          margin-bottom: 10px;
          padding-right: 0;

          font-size: 30px;
          line-height: 1.334;
        }

        .description-label {
          font-size: 14px;
          line-height: 1.715;
        }
      }
    }

    .lower-container {
      height: 120px;

      margin-top: -120px;

      .decoration.ground .ground-lower {
        height: 70px;

        margin-top: 50px;
        margin-left: 5%;
        margin-bottom: 0;
      }
      .decoration.ground .ground-upper {
        left: 50%;

        height: 120px;
      }
      .decoration .floating1-1 {
        right: 5%;
        bottom: 250%;
        left: initial;

        max-width: 56px;
      }
      .decoration .floating1-2 {
        display: none;
      }
      .decoration .floating2-1 {
        max-width: 30px;

        left: 35%;
        bottom: 40%;
      }
      .decoration .floating2-2 {
        right: 20%;
        bottom: 375%;
        left: initial;

        max-width: 26px;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .texts-container .texts-wrap {
      margin-bottom: 180px;
      padding-right: 25px;
      padding-left: 25px;

      .title-label {
        margin-bottom: 16px;
      
        font-size: 2.4em;
      }
    }

    .lower-container .decoration.ground .ground-lower {
      margin-left: -30%;
    }
    .lower-container .decoration.ground .ground-upper {
      left: 60%;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .texts-container .texts-wrap {
      padding-right: 25px;
      padding-left: 25px;

      .title-label {
        margin-bottom: 18px;
      
        font-size: 2.9em;
      }
    }

    .lower-container .decoration.ground .ground-lower {
      margin-left: 15%;
    }
    .lower-container .decoration.ground .ground-upper {
      left: 36.5%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .texts-container .texts-wrap {
      padding-right: 25px;
      padding-left: 25px;

      .title-label {
        margin-bottom: 20px;
      
        font-size: 3.3em;
      }
    }

    .lower-container .decoration.ground .ground-lower {
      margin-left: 15%;
    }
    .lower-container .decoration.ground .ground-upper {
      left: 36.5%;
    }
  }
}

.cta-ribbon {
  background-color: #0075a8;
  color: white; 
  padding: 1rem 0 0;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }

  .cta-field-label {
    @extend h3;
    float: left;
    margin-right: 20px;
  }

  .hs-form {
      display: flex;
      margin-bottom: 1rem;
  }

  .hs-input {
      display: inline-block;
      position: relative;
  }

  .hs-button {
      position: relative;
      display: inline-block;
      flex: 0 0 auto;
      width: 50px;
      height: 50px;
      margin-top: 0;
      padding: 0;
      background-color: $cs--blue-dark ;
      border-radius: 0!important;
      border: 0;
  }

.actions {
  position: relative;
}

 .actions:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      background: url(/imgs/button-arrow.png) 50% no-repeat;
      width: 36px;
      height: 36px;
      margin: 7px;
      -webkit-transition: all .04s;
      -moz-transition: all .04s;
      -o-transition: all .04s;
      transition: all .04s;
  }

  .hs-input {
      position: relative;
      display: inline-block;
      border-radius: 0;
      flex: 0 0 auto;
      // width: 400px;
      max-width: 100%;
      height: 50px;
      padding: 0 20px;
      font-size: 15px;
      background-color: #f2f5f5;
      border: 0;
      box-sizing: border-box;
  }
}


.company-press-note-item {
  position: relative;

  .background-white-side-right {
    &:before {
      margin-left: 0;
    }
  }

  .content-container {
    position: relative;
  }

  .texts-container {
    display: flex;

    flex-wrap: wrap;

    margin-top: 10px;
    padding: 50px 40px 40px;

    box-shadow: $box-shadow;

    &:before {
      display: none;
    }

    .icon-container {
      position: relative;

      flex: 0 0 80px;

      .icon {
        position: relative;

        width: 50%;
        height: auto;
      }
    }

    .texts-wrap {
      position: relative;

      flex: 1;

      .label {
        margin-bottom: 20px;
      }

      .description-label {
        margin-bottom: 0;

        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 400;
        line-height: 1.5;

        @include textElipsis(3, 1.5);
      }
    }

    .arrow {
      position: absolute;

      top: 50%;
      right: -30px;

      width: 36px;
      height: 36px;

      margin-top: 16px;

      @include transform(translateY(-50%));

      .icon {
        position: relative;

        width: 100%;
        height: auto;
      }

      .svg-linear {
        fill: none;
        stroke: $c-blue;
        stroke-width: 1.25px;
      }
    }

    .buttons-container {
      margin-top: 45px;

      white-space: nowrap;

      .button {
        display: inline-block;

        box-shadow: 10px 15px 30px rgba($c-blue-dark1, .25);
      }

      .button.text {
        margin-left: 10px;
        box-shadow: none;
      }
    }

    .sns-container {
      position: absolute;
      display: flex;

      flex-wrap: nowrap;

      justify-items: flex-start;
      align-items: center;

      bottom: 100%;
      left: 25px;

      width: 100%;

      .label {
        flex: 0 0 auto;

        margin-bottom: 0;
        margin-right: 15px;
      }

      .sns-item {
        position: relative;
        display: inline-block;

        flex: 0 0 36px;

        max-width: 36px;

        padding: 16px 6px;

        line-height: 0;
        text-align: center;

        .icon {
          width: 80%;
          height: auto;
        }
      }
    }
  }

  &.floating {
    .content-container {
      position: absolute;

      bottom: 0;

      width: 100%;
    }
  }

  @media (max-width: 575.98px) {
    &.floating .content-container {
      position: relative;

      margin-top: -40px;
      padding-right: 16px;
      padding-left: 16px;

      &:before {
        content: '';
        position: absolute;

        top: 10px;
        right: $mobile-side-space;
        left: $mobile-side-space;

        height: 30px;

        background-color: #fff;
      }
    }

    .texts-container {
      padding: 30px;

      background-color: transparent;

      .texts-wrap {
        .label {
          margin-bottom: 15px;
        }
        .description-label {
          color: $c-gray;
          font-size: 16px;
        }
        .description-label br {
          display: none;
        }
      }

      .arrow {
        top: 56%;
        right: -25px;

        width: 30px;
        height: 30px;
      }

      .icon-container {
        flex: 0 0 40px;
      }

      .buttons-container {
        margin-top: 20px;

        .button {
          width: auto;
          min-width: 0;
          height: 40px;

          padding: 0 15px;

          font-size: 14px;
          line-height: 1.2;
        }
        .button.text {
          margin-top: 0;
          margin-left: 10px;
          padding: 0;
        }
      }

      .sns-container {
        position: relative;

        left: initial;
        bottom: initial;

        flex-wrap: wrap;

        width: calc(100% + 60px);

        margin-top: 50px;
        margin-left: -30px;
        margin-right: -30px;

        .label {
          flex: 0 0 100%;
        }

        .sns-item {
          flex: 0 0 15%;
          max-width: 15%;

          margin-right: 1.25%;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    &.floating .content-container {
      position: relative;

      margin-top: -70px;

      .texts-container {
        background-color: transparent;

        &:before {
          
        }
        &:after {
          content: '';
          position: absolute;

          top: 0;
          left: 0;

          width: 100%;
          height: 70px;

          background-color: #fff;
        }

        .icon-container,
        .texts-wrap,
        .buttons-container {
          z-index: 1;
        }
      }
    }

    .texts-container .texts-wrap .description-label {
      padding-right: 15px;

      br {
        display: none;
      }
    }
    .texts-container .buttons-container {
      flex: 0 0 100%;
      margin-left: 80px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .texts-container .icon-container {
      flex: 0 0 70px;
    }
    .texts-container .texts-wrap .description-label {
      padding-right: 15px;

      br {
        display: none;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .texts-container .icon-container {
      flex: 0 0 70px;
    }
    .texts-container .texts-wrap .description-label {
      padding-right: 15px;

      br {
        display: none;
      }
    }
  }
}

.company-press-screen2 {
  .contents-container {
    padding-top: 150px;
    padding-bottom: 250px;
  }

  .contents-wrap {
    padding-right: 0;
    padding-left: 0;

    .tab-container {
      position: relative;
      display: flex;

      flex-wrap: wrap;

      .tab-item {
        position: relative;
        display: inline-block;
        cursor: pointer;

        flex: 0 0 250px;

        max-width: 250px;

        color: #fff;
        font-size: 12px;
        font-family: 'Poppins';
        font-weight: 900;
        line-height: 75px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;

        background-color: $c-gray-mid-light;

        &.active {
          background-color: $c-blue;
        }
      }
    }
  }

  .articles-container {
    padding: 75px;
    background-color: $c-gray-base-light;

    &.hidden {
      display: none;
    }
  }

  .article-item {
    margin-top: 50px;
    padding-top: 50px;

    border-top: 1px solid rgba($c-blue-dark1, .25);

    &.hidden {
      display: none;
    }

    &:first-child {
      margin-top: 0;
      padding-top: 0;

      border-top: 0;
    }

    .title-label {
      color: $c-blue-dark1;
      font-family: 'Poppins';
      font-size: 25px;
      font-weight: 400;
      line-height: 1.4;
    }

    .user-container {
      position: relative;
      display: flex;

      justify-content: flex-start;
      align-items: center;

      align-self: flex-end;

      flex: 0 0 100%;

      margin-top: 20px;

      .date-label,
      .user-label,
      .read-time-label {
        position: relative;
        display: inline-block;

        margin-right: 30px;

        color: $c-blue-gray;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;

        .icon {
          position: relative;
          display: inline-block;
          vertical-align: middle;

          width: 16px;
          height: 16px;

          margin-top: -3px;
          margin-right: 5px;
        }
      }

      // .read-time-label {
      //     position: relative;
      //     display: inline-block;

      //     margin-right: 30px;

      //     color: $c-blue-gray;
      //     font-size: 12px;
      //     font-weight: 800;
      //     letter-spacing: 1px;
      //     text-transform: uppercase;

      //     .icon {
      //         position: relative;
      //         display: inline-block;
      //         vertical-align: middle;

      //         width: 16px;
      //         height: 16px;

      //         margin-top: -3px;
      //         margin-right: 5px;
      //     }
      // }
    }

    .description-label {
      margin-top: 22px;
      margin-bottom: 0;

      color: $c-blue-dark1;
    }

    .button-container {
      margin-top: 22px;
    }

    .category-label {
      position: relative;
      display: block;

      width: 100%;

      margin-top: 28px;

      justify-content: flex-start;
      align-content: flex-start;

      .category-item {
        position: relative;
        display: inline-block;

        margin-right: 25px;

        color: $c-green;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .buttons-container {
    margin-top: 70px;
    margin-bottom: 40px;

    text-align: left;

    .button {
      max-width: 310px;

      .icon.right {
        right: 20px;
      }

      .svg-linear {
        stroke-width: 2px;
      }
    }
  }

  .side-bar-wrap {
    padding-top: 75px;
    padding-right: 40px;
    padding-left: 50px;

    .side-bar {
      position: relative;

      &.sticky {
        position: fixed;

        top: 50px;

        width: 100%;
        max-width: 323px;
      }
    }
  }

  .hs-form {
    position: relative;
    display: flex;

    .label {
      display: none;
    }
  }

  @media (max-width: 575.98px) {
    .hs_email {
      width: 100%;
    }
  }

  .hbspt-form form .input,
  .hbspt-form .hs-form-field .input {
    width: 100% !important;
  }

  .hs-input {
    position: relative;
    display: inline-block;
    border-radius: 0;

    flex: 0 0 auto;

    width: 100%;
    max-width: 260px;
    height: 50px;

    padding: 0 20px;

    font-size: 15px;

    background-color: $c-gray-base-light;
    border: 0;

    box-sizing: border-box;

    @media (max-width: 575.98px) {
      max-width: 100%;
      height: 46px;

      padding: 0 15px;
    }
  }

  .hs-button {
    position: relative;
    display: inline-block;

    flex: 0 0 auto;

    width: 50px;
    height: 50px;

    margin-top: 0;
    padding: 0;

    background-color: $c-blue !important;
    border-radius: 0 !important;

    border: 0;

    @media (max-width: 575.98px) {
      width: 46px;
      height: 46px;
    }

    &:hover {
      .icon {
        width: 46px;
        height: 46px;

        margin: 2px;
      }
    }
  }

  .actions {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      background: url("/imgs/button-arrow.png") center no-repeat;

      width: 36px;
      height: 36px;

      margin: 7px;

      @include transition(all 0.04s);

      @media (max-width: 575.98px) {
        transform: translate3d(-2px, -2px, 0);
      }

      .svg-linear {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;

        @include transition(all 0.04s);
      }
    }
  }

  @media (max-width: 575.98px) {
    .contents-container {
      padding-top: 10px;
      padding-bottom: 60px;
    }

    .contents-wrap {
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;

      .tab-container {
        .tab-item {
          flex: 0 0 50%;
          max-width: 50%;

          font-size: 14px;

          line-height: 50px;
        }
      }
    }

    .side-bar-wrap {
      padding-top: 0;
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;

      .side-bar.sticky {
        position: relative;

        top: initial;

        max-width: 100%;
      }

      .title-label {
        margin-bottom: 20px;

        line-height: 1.4;

        br {
          display: none;
        }
      }

      .buttons-container {
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }

    .articles-container {
      padding: 40px 25px;

      .buttons-container {
        margin-top: 50px;
        margin-bottom: 20px;

        .button {
          width: auto;
          max-width: 100%;
          min-width: 0;
          height: 40px;

          padding: 0 20px;
          padding-right: 80px;
          
          font-size: 14px;
        }
      }
    }
    .article-item {
      .title-label {
        margin-top: 0;

        font-size: 16px;
      }

      .user-container {
        flex-wrap: wrap;
      }
      .user-container .date-label,
      .user-container .user-label {
        flex: 0 0 100%;

        margin-bottom: 15px;
        margin-right: 0;

        .icon {
          width: 24px;
          height: 24px;

          margin-right: 10px;
        }
      }

      .description-label {
        margin-top: 15px;
      }

      .button-container {
        font-size: 14px;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .contents-container {
      padding-top: 0;
    }

    .side-bar {
      .title-label {
        br {
          display: none;
        }
      }
    }

    .buttons-container {
      margin-top: 15px;
      margin-bottom: 50px;
    }

    .tab-container {
      justify-content: center;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

}
