.company-about-us-screen1 {
    .contents-container {
        background-color: $c-blue-dark1;
        background-image: url('/imgs/company/about-us/screen1-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .texts-container {
        padding-top: 130px;
        padding-bottom: 230px;

        .title-label {
            color: #fff;
            text-align: center;
        }

        .description-label {
            margin-bottom: 0;

            color: #fff;
            font-size: 25px;
            font-weight: 100;
            text-align: center;
            line-height: 1.4;
        }
    }

    @media (max-width: 575.98px) {
        .contents-container {
            margin-top: 135px;
        }

        .texts-container {
            padding-top: 80px;
            padding-bottom: 80px;

            .texts-wrap {
                .title-label {
                    margin-bottom: 14px;

                    font-size: 2em;
                }

                .description-label {
                    font-size: .95em;
                }
                .description-label br {
                    display: none;
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .texts-container {
            padding-top: 130px;
            padding-bottom: 130px;

            .description-label {
                font-size: 1.15em;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .texts-container {
            padding-top: 130px;
            padding-bottom: 160px;

            .description-label {
                font-size: 1.35em;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .texts-container {
            padding-bottom: 200px;

            .description-label {
                font-size: 1.5em;
            }
        }
    }
}

.company-about-us-screen2 {
    z-index: 1;

    .set-ground {
        .background.right-side {
            position: absolute;
            display: inline-block;

            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;

            background-color: $c-gray-base-light;

            .cloud {
                position: absolute;

                top: 100%;
                left: 15%;

                width: auto;
                height: 62px;
            }
        }
    }

    .contents-container {
        padding-top: 150px;
        // padding-bottom: 200px;

        .images-container {
            margin-bottom: 220px;

            padding-right: 0;
            padding-left: 0;
        }
        .image-container {
            position: relative;

            box-shadow: 25px 25px 50px rgba($c-blue-dark1, .15);
            line-height: 0;

            .image {
                position: relative;
                display: inline-block;

                width: 100%;
                height: auto;
            }
        }
    }

    .texts-container {
        padding-right: 0;
        padding-left: 0;

        &.our-inverstors {
            position: absolute;

            top: 100%;

            margin-top: -100px;

            .title-label {
                margin-bottom: 10px;
            }

            .description-label {
                color: $c-blue-dark1;
            }

            .logos-container {
                margin-top: 40px;
            }
            .logo-container {
                position: relative;

                .logo {
                    position: relative;
                    display: inline-block;

                    width: auto;
                    height: 58px;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .set-ground {
            .background.right-side .cloud {
                left: 25%;

                height: 30px;
            }
        }

        .contents-container {
            padding-top: 60px;

            .images-container {
                margin-bottom: 50px;
            }
        }

        .texts-container {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;

            .texts-wrap {
                .title-label {
                    margin-bottom: 14px;

                    font-size: 2em;
                }

                .description-label {
                    font-size: .95em;
                }
                .description-label br {
                    display: none;
                }
            }
        }

        .image-container {
            margin-top: 20px;
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }

        .texts-container.our-inverstors {
            margin-top: 50px;

            text-align: center;

            .texts-wrap {
                .title-label {
                    font-size: 1.5em;
                }
            }

            .logos-container .logo-container .logo {
                width: 100%;
                height: auto;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .contents-container {
            padding-top: 60px;
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;

            .images-container {
                margin-top: 30px;
                margin-bottom: 150px;

                .image-container {
                    width: 70%;

                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        .texts-container.our-inverstors {
            margin-top: 50px;

            text-align: center;

            .texts-wrap {
                .title-label {
                    font-size: 1.5em;
                }
            }

            .logos-container .logo-container .logo {
                width: 100%;
                height: auto;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .contents-container {
            padding-top: 80px;

            .images-container {
                margin-top: 80px;
                margin-bottom: 180px;
            }
        }

        .texts-container.our-inverstors {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .texts-container.our-inverstors {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
}

.company-about-us-screen3 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        padding-top: 220px;

        justify-content: center;
    }

    .texts-container {
        text-align: center;

        .description-label {
            margin-bottom: 60px;
        }
    }

    .card-container {
        margin-bottom: 50px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .card-wrap {
        position: relative;

        height: 100%;

        padding: 70px 15px;

        background-color: $c-blue;
        border-radius: 10px;
        box-shadow: 20px 25px 75px rgba($c-blue-dark1, .15);

        @include transition(margin .25s);

        .image-container {
            position: relative;
            overflow: hidden;

            width: 175px;
            height: 175px;

            margin-right: auto;
            margin-left: auto;

            background-color: $c-blue-gray;
            border-radius: 50%;

            .image {
                position: relative;
                display: inline-block;

                width: 100%;
                height: auto;
            }
        }

        .user-container {
            margin-top: 25px;

            .user-name {
                color: $c-sky-blue;
                font-size: 12px;
                font-family: 'Poppins';
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1.1;
            }

            .user-position {
                margin-top: 5px;

                color: #fff;
                font-size: 12px;
                font-family: 'Poppins';
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 1.1;
            }

            .user-connected {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-bottom: 0;
            }
            .connected-wrap {
                text-align: center;
            }
            .connected-item {
                position: relative;
                display: inline-block;

                margin-right: 25px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    position: relative;
                    display: inline-block;

                    width: 17px;
                    height: auto;
                }
            }

            hr {
                width: 100%;

                margin-bottom: 20px;

                border: 0px none white;
                border-top: 1px solid rgba(#fff, .25);
            }

            .description-label {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.665;
            }
        }
    }

    @media (max-width: 575.98px) {
        .contents-container {
            padding-top: 250px;

            .texts-container {
                .title-label {
                    font-size: 1.5em;
                }

                .description-label {
                    margin-bottom: 30px;
                }
            }
        }

        .card-container {
            margin-bottom: 30px;
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
        .card-wrap {
            padding: 40px 15px 30px;

            border-radius: 5px;

            .image-container {
                width: 90px;
                height: 90px;
            }

            .user-container .connected-item img {
                width: 24px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .contents-container {
            padding-top: 250px;
        }

        .card-wrap {
            padding: 40px 30px;
        }
        .card-wrap .image-container {
            width: 100px;
            height: 100px;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .contents-container {
            padding-top: 180px;
        }

        .card-wrap {
            padding: 50px 15px;
        }
        .card-wrap .image-container {
            width: 130px;
            height: 130px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .contents-container {
            padding-top: 200px;
        }

        .card-wrap {
            padding: 60px 15px;
        }
        .card-wrap .image-container {
            width: 150px;
            height: 150px;
        }
    }
}

.company-about-us-screen4 {
    .texts-container {
        padding-top: 150px;
        padding-bottom: 100px;

        .title-label {
            margin-bottom: 20px;

            color: #fff;
        }

        .description-label {
            color: rgba(#fff, .75);
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .buttons-container {
            margin-top: 40px;

            .button {
                min-width: 210px;

                box-shadow: 15px 25px 50px rgba($c-blue-dark1, .15);
            }
        }
    }

    .locations-container {
        padding-top: 150px;
        padding-bottom: 50px;

        .locations-wrap {}

        .location-item {
            margin-bottom: 50px;

            .label {
                margin-bottom: 10px;

                font-size: 12px;

                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    width: 16px;
                    height: auto;
                }
            }

            .address-label {
                padding: 0 3px;

                color: #fff;
                font-size: 15px;
                line-height: 1.665;
            }
        }
    }

    .half {
        padding-bottom: 150px;

        .texts-container {
            padding: 100px 0 250px;

            .title-label {
                max-width: 350px;
                margin-right: auto;
                margin-left: auto;

                color: $c-blue-dark1;
                font-size: 25px;
                font-weight: 300;
                text-align: center;
            }

            .buttons-container {
                text-align: center;

                .button {
                    min-width: 250px;
                }
            }
        }
    }

    .contents-container.half.background-blue-dark-side {
        &:before,
        &:after {
            height: 200px;
        }

        .texts-container {
            &:first-child {
                padding-right: 30px;

                &:after {
                    z-index: 1;
                    content: "";
                    position: absolute;

                    top: 0;
                    left: 100%;

                    width: 15px;
                    height: 200px;

                    background-color: $c-blue-dark1;
                }
            }
            &:last-child {
                padding-left: 30px;

                &:after {
                    z-index: 1;
                    content: "";
                    position: absolute;

                    top: 0;
                    right: 100%;

                    width: 15px;
                    height: 200px;

                    background-color: $c-blue-dark1;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .texts-container {
            padding-top: 50px;
            padding-bottom: 20px;

            text-align: center;

            .title-label {
                margin-bottom: 10px;
            }
        }

        .locations-container {
            padding-top: 10px;

            .location-item {
                margin-bottom: 30px;

                .address-label br {
                    display: none;
                }
            }

            .location-item .label {
                .icon {
                    width: 10px;
                }
            }
        }

        .contents-container.half {
            padding-bottom: 60px;
        }
        .contents-container.half.background-blue-dark-side .texts-container {
            z-index: 1;

            padding: 0 $mobile-side-space;

            &:before,
            &:after {
                content: '';
                position: absolute;

                top: 0;

                width: $mobile-side-space;
                height: 100%;

                background-color: $c-blue-dark1;
            }
            &:before {
                left: 0;
            }
            &:after,
            &:first-child:after,
            &:last-child:after {
                left: initial;
                right: 0;

                height: 100%;
            }
            &:last-child:before,
            &:last-child:after {
                height: 50%;
            }

            &:first-child {
                padding-bottom: 30px;
                padding-right: $mobile-side-space;

                background-color: $c-blue-dark1;

                .texts-wrap {
                    background-color: #fff;
                }
            }
            &:last-child {
                padding-left: $mobile-side-space;
            }

            .texts-wrap {
                padding: 40px 25px;

                .title-label {
                    font-size: 20px;
                }

                .buttons-container {
                    margin-top: 30px;
                }
                .buttons-container .button {
                    font-size: 14px;

                    width: auto;
                    max-width: 100%;
                    min-width: 0;
                    height: auto;

                    padding: 12px 20px;

                    white-space: normal;
                    line-height: 1.2;
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .texts-container {
            padding-top: 60px;
            padding-bottom: 30px;
        }
        .locations-container {
            padding-top: 0;
        }

        .contents-container.half {
            padding-bottom: 80px;

            &:before {
                margin-right: -30px;
            }
            &:after {
                margin-left: -30px;
            }

            .texts-container {
                padding-top: 50px;
                padding-bottom: 80px;
            }
            .texts-container:first-child {
                padding-left: 45px;
            }
            .texts-container:last-child {
                padding-right: 45px;
            }

            .texts-container:first-child:after,
            .texts-container:last-child:after,
            &:before,
            &:after {
                height: 100px !important;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .texts-container {
            padding-top: 80px;
            padding-bottom: 50px;
        }
        .locations-container {
            padding-top: 0;
        }

        .contents-container.half {
            padding-bottom: 100px;

            &:before {
                margin-right: -30px;
            }
            &:after {
                margin-left: -30px;
            }

            .texts-container {
                padding-top: 60px;
                padding-bottom: 80px;
            }
            .texts-container:first-child {
                padding-left: 45px;
            }
            .texts-container:last-child {
                padding-right: 45px;
            }

            .texts-container:first-child:after,
            .texts-container:last-child:after,
            &:before,
            &:after {
                height: 120px !important;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .contents-container.half {
            padding-bottom: 120px;

            &:before {
                margin-right: -30px;
            }
            &:after {
                margin-left: -30px;
            }

            .texts-container {
                padding-top: 80px;
                padding-bottom: 100px;
            }
            .texts-container:first-child {
                padding-left: 45px;
            }
            .texts-container:last-child {
                padding-right: 45px;
            }

            .texts-container:first-child:after,
            .texts-container:last-child:after,
            &:before,
            &:after {
                height: 150px !important;
            }
        }
    }
}
