.company-partners-screen1 {
    overflow: hidden;

    margin-top: 130px;

    .contents-container {
        background-color: $c-gray-base-light;
    }

    .texts-container {
        padding-right: 0;
        padding-left: 0;

        line-height: 0;

        .texts-wrap {
            z-index: 1;

            max-width: 1010px;
            
            margin-top: 160px;
            margin-bottom: 50px;
            margin-right: auto;
            margin-left: auto;

            .title-label {
                margin-bottom: 10px;

                color: #000;
                font-size: 50px;
                font-weight: 200;
                text-align: center;
            }

            .description-label {
                color: #000;
                line-height: 1.4;
                text-align: center;
            }
        }
    }

    .decoration {
        position: relative;

        width: 100%;

        margin-top: -40px;

        line-height: 0;

        &.cloud-big {
            top: -52px;

            height: 0;

            margin-top: 0;

            @media (max-width: 575.98px) {
                top: 0;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                top: -10px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                top: -44px;
            }
            @media (min-width: 992px) and (max-width: 1199.98px) {
            }

            .image {
                position: absolute;

                top: 100%;
                left: 50%;

                width: 100%;
                max-width: 1162px;

                margin-bottom: -114px;

                @include transform(translateX(-50%));

                @media (max-width: 575.98px) {
                    left: 6%;

                    width: auto;
                    height: 81px;

                    @include transform(translateX(0));
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    width: auto;
                    height: 102px;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: auto;
                    height: 130px;
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    width: auto;
                    height: 163px;
                }
            }
        }

        &.rancher-ground {
            @media (max-width: 575.98px) {
                margin-top: 0;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                margin-top: 0;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                margin-top: 30px;;
            }
                @media (min-width: 992px) and (max-width: 1199.98px) {
            }

            .ground {
                width: 100%;
                height: auto;

                @media (max-width: 575.98px) {
                    left: 50%;

                    width: auto;
                    height: 108px;

                    @include transform(translateX(-50%));
                }
                @media (min-width: 576px) and (max-width: 767.98px) { //sm
                }
                @media (min-width: 768px) and (max-width: 991.98px) { //md
                }
                @media (min-width: 992px) and (max-width: 1199.98px) { //lg
                }
            }
        }
    }
}

.company-partners-screen2 {
    .contents-container {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .texts-container {
        padding-right: 6%;
        padding-left: 0;
    }

    .list-container {
        position: relative;

        .list-wrap {
            position: relative;
            display: block;

            ul {
                width: 100%;
            }

            .list-item {
                position: relative;
                display: flex;

                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;

                width: 100%;

                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .icon-container {
                position: relative;
                overflow: hidden;

                flex: 1;

                width: 50px;
                max-width: 50px;
                height: 50px;

                margin-right: 40px;

                border-radius: 50%;
                background-color: $c-gray-base-light;

                line-height: 0;

                .icon {
                    position: relative;

                    width: 40%;
                    height: auto;

                    margin: 30%;
                }
            }

            .text-container {
                position: relative;

                flex: 1;

                font-size: 15px;
            }
        }
    }
}

.company-partners-screen3 {
    .head-label {
        padding-left: 0;

        line-height: 150px;

        .label {
            margin-bottom: 0;
        }
    }

    .texts-container {}
    .texts-wrap {
        .title-label {
            margin-top: -50px;
            margin-bottom: 100px;

            color: $c-blue-dark1;
        }
    }

    .partners-type-container {
        padding-right: 0;
        padding-left: 0;
    }
    .partners-type-wrap {
        padding-bottom: 50px;
    }
    .partners-type-item {
        position: relative;

        margin-bottom: 50px;

        .partners-type-item-wrap {
            position: relative;

            width: 100%;
            height: 100%;

            padding: 50px;

            background-color: #fff;
            border-radius: 10px;
            box-shadow: 12px 15px 30px rgba($c-blue, .1);

            .type-label {
                position: relative;
                display: block;

                margin-bottom: 15px;
                padding-bottom: 15px;

                font-size: 22px;
                font-family: 'Poppins';
                font-weight: 400;
                line-height: 1.45;

                border-bottom: 1px solid rgba($c-blue-dark1, .1);

                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    width: 22px;
                    height: auto;

                    margin-right: 10px;
                }
            }

            .description-label {
                margin-bottom: 0;

                color: $c-blue-dark1;
                font-size: 15px;
                line-height: 1.665;
            }
        }
    }
}

.company-partners-screen4 {
    .contents-container {
        padding-bottom: 220px;
    }

    .texts-container {
        padding-top: 100px;
        padding-bottom: 20px;

        .title-label {
            margin-bottom: 0;

            color: $c-blue-dark1;
            text-align: center;
        }

        .buttons-container {
            margin-top: 40px;

            text-align: center;

            .button {
                min-width: 175px;
            }
        }
    }

    .partners-item-container {
        padding-top: 150px;
        padding-right: 25px;
        padding-left: 25px;
    }
    .partner-item-wrap {
        position: relative;
        display: flex;

        justify-items: flex-start;
        align-items: center;

        margin-bottom: 30px;
        padding: 50px;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 12px 15px 30px rgba($c-blue, .1);

        &:last-child {
            margin-bottom: 0;
        }

        .thumbnail-container {
            position: relative;
            display: flex;
            overflow: hidden;

            justify-content: center;
            align-items: center;

            flex: 0 0 200px;

            max-width: 200px;
            min-height: 100px;
            max-height: 200px;

            margin-right: 40px;

            // background-color: #777;

            .thumbnail {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                width: 100%;
                height: auto;
            }
        }

        .information-continaer {
            position: relative;

            flex: 1;

            .title-label {
                margin-bottom: 0;

                color: $c-blue;
                font-size: 25px;
                font-weight: 400;
                line-height: 1.3;
            }

            .infor-label {
                position: relative;
                display: flex;

                width: 100%;

                margin-top: 10px;
            }
            .location-label {
                position: relative;
                display: inline-block;

                flex: 1;

                color: $c-blue-gray;
                font-size: 12px;
                font-weight: 800;
                font-family: 'Poppins';
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            .position-label {
                position: relative;
                display: inline-block;

                flex: 1;

                font-size: 12px;
                font-weight: 800;
                font-family: 'Poppins';
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: right;

                a {
                    margin-left: 30px;

                    color: $c-green;
                }
                a:first-child {
                    margin-left: 0;
                }
            }

            hr {
                width: 100%;

                margin: 20px 0 15px;

                border: 0px none white;
                border-top: 1px solid rgba($c-blue-gray, .25);
            }

            .description-label {
                color: $c-blue-dark1;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.665;
            }
        }
    }
}
