.community-online-meetups-screen1 {
    background-color: $c-gray-base-light;

    .decoration {
        position: relative;

        width: 100%;

        line-height: 0;
    }

    .texts-container {
        padding-right: 0;
        padding-left: 0;

        line-height: 0;

        .texts-wrap {
            z-index: 1;

            margin-top: 200px;
            margin-bottom: 120px;

            .title-label {
                margin-bottom: 35px;
                color: #000;
                font-size: 50px;
                font-weight: 200;
            }
            
            .description-label {
                color: #000;
                line-height: 1.4;
            }
        }
    }

    .lower-container {
        height: 120px;

        margin-top: -120px;

        line-height: 0;

        .decoration {
            position: relative;

            height: 100%;

            &.ground {
                .ground-lower {
                    position: relative;
                    
                    width: auto;
                    height: 75px;

                    margin-top: 45px;
                    margin-left: 60%;
                }

                .ground-upper {
                    position: absolute;

                    bottom: 0;
                    left: 77%;

                    width: auto;
                    height: 130px;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .texts-container {
            padding-left: 0;
            padding-right: 0;

            .texts-wrap {
                margin-top: 140px;
                margin-bottom: 90px;
                padding-right: $mobile-side-space;
                padding-left: $mobile-side-space;

                .title-label {
                    margin-bottom: 10px;
                
                    font-size: 2em;
                }
            }
        }

        .lower-container {
            height: 100px;

            margin-top: -100px;

            .decoration.ground .ground-lower {
                height: 44px;

                margin-top: 56px;
                margin-left: 15%;
            }
            .decoration.ground .ground-upper {
                left: 54%;

                height: 100px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .texts-container {
            .texts-wrap {
                margin-top: 150px;
                margin-bottom: 80px;
                padding-right: 25px;
                padding-left: 25px;

                .title-label {
                    margin-bottom: 15px;

                    font-size: 2em;
                }
            }
        }

        .lower-container .decoration.ground .ground-lower {
            margin-left: 45%;

            height: 55px;
            margin-top: 65px;
        }
        .lower-container .decoration.ground .ground-upper {
            left: 70%;

            height: 100px;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .texts-container {
            .texts-wrap {
                margin-top: 180px;
                margin-bottom: 110px;
                padding-right: 25px;
                padding-left: 25px;

                .title-label {
                    margin-bottom: 20px;

                    font-size: 2.4em;
                }
            }
        }

        .lower-container .decoration.ground .ground-lower {
            margin-left: 45%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .texts-container {
            .texts-wrap {
                margin-top: 200px;
                margin-bottom: 110px;
                padding-right: 25px;
                padding-left: 25px;

                .title-label {
                    margin-bottom: 25px;

                    font-size: 2.8em;
                }
            }
        }

        .lower-container .decoration.ground .ground-lower {
            margin-left: 45%;
        }
    }
}

.community-online-meetups-screen2 {
    .contents-container {
        .texts-container {
            padding-top: 150px;
            padding-bottom: 100px;

            &.left {
                padding-left: 0;
            }
            &.right {
                padding-right: 0;
            }

            .title-label {
                line-height: 1.4;
            }
        }
    }

    @media (max-width: 575.98px) {
        .contents-container .texts-container {
            padding-top: 10px;
            padding-bottom: 0;

            &.left,
            &.right {
                padding-left: $mobile-side-space;
                padding-right: $mobile-side-space;
            }

            &:first-child {
                padding-top: 50px;
            }
            &:last-child {
                padding-bottom: 50px;
            }

            .title-label {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .contents-container .texts-container {
            padding-top: 20px;
            padding-bottom: 0;

            &.left,
            &.right {
                padding-left: 30px;
                padding-right: 30px;
            }

            &:first-child {
                padding-top: 70px;
            }
            &:last-child {
                padding-bottom: 70px;
            }

            .title-label {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .contents-container .texts-container {
            padding-top: 100px;
            padding-bottom: 100px;

            &.left {
                padding-left: $mobile-side-space;
            }
            &.right {
                padding-right: $mobile-side-space;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .contents-container .texts-container {
            padding-top: 120px;
            padding-bottom: 100px;

            &.left {
                padding-left: $mobile-side-space;
            }
            &.right {
                padding-right: $mobile-side-space;
            }
        }
    }
}

.community-online-meetups-screen3,
.community-online-meetups-screen4 {
    .texts-container {
        padding-top: 50px;
        padding-bottom: 70px;

        text-align: center;
    }

    .text-empty {
        margin-top: -50px;
        margin-bottom: 100px;
        text-align: center;
        width: 100%;
    }

    .cards-container {
        margin-top: 30px;
        padding-right: 0;
        padding-bottom: 100px;
        padding-left: 0;
    }
    .cards-wrap {
        justify-content: center;
    }
    .card-container {
        margin-bottom: 30px;
    }
    .card-item {
        padding: 45px 35px;

        background-color: $c-gray;

        border-radius: 1em;

        .text-label {
            position: relative;

            min-height: 5.82em;

            margin-bottom: 0;

            color: #fff;
            font-family: 'Poppins';
            font-size: 22px;
            font-weight: 400;
            line-height: 1.455;

            @include textElipsis(4, 1.455);
        }

        hr {
            width: 90px;

            margin: 1.5em 0;

            border: 0px none rgba(#fff, .25);
            border-top: 1px solid rgba(#fff, .25);
        }

        .date-label {
            color: $c-green;
            font-size: 12px;
            font-weight: 800;
            letter-spacing: 1px;

            .icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                width: 15px;
                height: 15px;

                margin-right: 10px;
            }
        }

        .buttons-container {
            margin-top: 25px;
        }
    }

    .pagination-container {
        margin-top: 25px;

        .pagination {
            position: relative;

            text-align: center;
        }

        .page-item {
            position: relative;
            display: inline-block;

            margin: 0 5px;

            &.disabled {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.2;
            }
        }
    }

    @media (max-width: 575.98px) {
        .texts-container {
            padding-top: 60px;
            padding-bottom: 20px;

            text-align: left;
        }

        .cards-container {
            padding-right: $mobile-side-space;
            padding-bottom: 60px;
            padding-left: $mobile-side-space;
        }
        .card-container {
            margin-bottom: 30px;
        }
        .card-item {
            padding: 40px 25px;

            border-radius: 5px;

            .text-label {
                min-height: 0;
            }

            hr {
                width: 50px;

                margin: 20px 0;
            }

            .buttons-container {
                margin-top: 30px;

                text-align: left;

                .button {
                    width: auto;
                    height: auto;

                    font-size: 14px;
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .texts-container {
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .cards-container {
            padding-bottom: 60px;
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
        .card-container {
            margin-bottom: 30px;
        }
        .card-item {
            max-width: 400px;
            margin-right: auto;
            margin-left: auto;

            .text-label {
                min-height: 0;
                max-height: none;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .texts-container {
            padding-top: 100px;
            padding-bottom: 60px;
        }

        .cards-container {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .texts-container {
            padding-top: 120px;
            padding-bottom: 80px;
        }

        .cards-container {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
}
.community-online-meetups-screen4 {
    .card-item {
        background-color: $c-gray-base-light;

        .text-label {
            color: $c-gray;
        }

        hr {
            border-top-color: $c-gray-mid-light;
        }
    }
}

.upcoming-hubspot-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .hbspt-form {
        width: 100%;
        text-align: center;

        form {
            display: flex;
            align-items: center;
            justify-content: center;

            .hs-form-field {
                margin: 0;
            }
        }

        .hs-input {
            position: relative;
            display: inline-block;
            border-radius: 0;
            flex: 0 0 auto;
            width: 100%;
            max-width: 260px;
            height: 50px;
            padding: 0 20px;
            font-size: 15px;
            border: 0;
            box-sizing: border-box;
            border: 1px solid #ccc;

        }

        .hs-error-msgs {
            position: absolute;
            width: 400px;
        }

        .hs-button {
            height: 50px;
            color: white;
            font-family: poppins;
            font-weight: 800;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            box-shadow: 12px 25px 50px rgba(0,117,168,.075);
            border: none;
            background: #0075a8;
            border-radius: 0;
            margin-top: 5px;
            box-sizing: border-box;


            &:hover {
                border: none !important;
            }

            &:active {
                background: #0075a8 !important;
                border: none !important;
            }
        }
    }

}