.community-kubernetes-master-class-screen1 {
    overflow: hidden;
  
    background-color: $c-gray-base-light;
  
    .set-ground {
        margin: 0;
  
        .decoration-container {
            >div,
            >img {
                position: absolute;
            }

            .ground-upper {
                right: 0;
                bottom: 0;

                width: auto;
                height: 140px;

                @media (max-width: 575.98px) {
                    width: auto;
                    height: 77px;
                }
            }

            .ground-lower {
                bottom: 0;
                right: 10%;

                width: auto;
                height: 76px;

                @media (max-width: 575.98px) {
                    left: 40%;

                    width: auto;
                    height: 34px;
                }
            }
        }
    }
  
    .texts-container {
        padding-top: 200px;
        padding-left: 0;
        padding-bottom: 110px;

        line-height: 0;

        @media (max-width: 575.98px) {
            padding-top: 180px;
            padding-right: 25px;
            padding-bottom: 110px;
            padding-left: 25px;
        }

        .texts-wrap {
            .title-label {
                max-width: 500px;
                margin-bottom: 10px;

                color: #000;
                font-size: 50px;
                font-weight: 200;

                @media (max-width: 575.98px) {
                    margin-bottom: 10px;

                    font-size: 30px;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    font-size: 2em;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    font-size: 2.5em;
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 3em;
                }
            }

            .description-label {
                margin-top: 0;
                margin-bottom: 30px;

                color: #000;
                line-height: 1.4;

                @media (max-width: 575.98px) {
                    font-size: 14px;

                    line-height: 1.72;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    font-size: 1.3em;

                    line-height: 1.5;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    font-size: 1.4em;

                    line-height: 1.5;
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    font-size: 1.5em;

                    line-height: 1.5;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        .set-ground .decoration-container .ground-lower {
            left: -5%;
        }

        .texts-container {
            padding-top: 130px;
            padding-bottom: 80px;
            padding-right: 25px;
            padding-left: 25px;

            .title-label {
                max-width: 380px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .texts-container {
            padding-top: 150px;
            padding-bottom: 100px;
            padding-right: 25px;
            padding-left: 25px;

            .title-label {
                max-width: 380px;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .texts-container {
            padding-top: 180px;
            padding-bottom: 100px;
            padding-right: 25px;
            padding-left: 25px;

            .title-label {
                max-width: 450px;
            }
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .texts-container {
            padding-right: 25px;
            padding-left: 25px;

            .title-label {
                max-width: 500px;
            }
        }
    }
}

.community-kubernetes-master-class-screen2 {
    .contents-container {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .texts-container {
        &.left {
            padding-left: 0;
        }
    }
    .texts-wrap {
        .title-label {}

        .description-label {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 575.98px) {
        .contents-container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .texts-container.left {
            padding-left: $mobile-side-space;
        }
        .texts-container.right {
            padding-right: $mobile-side-space;
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .contents-container {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .texts-container.left {
            padding-left: $mobile-side-space;
        }
        .texts-container.right {
            padding-right: $mobile-side-space;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .contents-container {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .texts-container.left {
            padding-left: $mobile-side-space;
        }
        .texts-container.right {
            padding-right: $mobile-side-space;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .contents-container {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .texts-container.left {
            padding-left: $mobile-side-space;
        }
        .texts-container.right {
            padding-right: $mobile-side-space;
        }
    }
}

.community-kubernetes-master-class-screen3 {
    .contents-container {
        padding-top: 200px;
        padding-bottom: 150px;
    }

    .texts-container {
        padding-right: 0;
        padding-left: 0;

        text-align: center;

        .description-label {
            max-width: 820px;

            margin-right: auto;
            margin-left: auto;
        }
    }

    .cards-container {
        margin-top: 20px;
        padding-right: 0;
        padding-left: 0;

        .cards-wrap {
            justify-content: center;
        }

        .card-item {
            margin-top: 30px;
        }
        .card-item-wrap {
            overflow: hidden;

            height: 100%;

            padding: 50px 36px;

            background-color: $c-blue-dark1;
            border-radius: 10px;

            .title-label {
                color: #fff;
                font-family: 'Poppins';
                font-size: 22px;
                font-weight: 400;
                line-height: 1.45;
            }

            .user-container {
                position: relative;
                display: flex;

                flex-wrap: nowrap;

                align-items: center;

                margin-top: 10px;

                .thumbnail-container {
                    position: relative;
                    overflow: hidden;

                    flex: 0 0 50px;

                    height: 50px;

                    margin-right: 20px;

                    background-color: rgba($c-gray-mid-light, .5);
                    border-radius: 50%;
                }
                .thumbnail {
                    position: absolute;
                    display: inline-block;

                    top: 50%;
                    left: 50%;

                    width: 110%;
                    height: auto;

                    @include transform(translate(-50%, -50%));
                }

                .information-container {
                    position: relative;
                    display: inline-block;

                    flex: 1;
                }
                .label {
                    margin-bottom: 0;

                    color: #fff;
                    line-height: 1.5;
                }
                .name-label {
                    color: $c-emerald;
                }
            }

            hr {
                width: 30%;
          
                margin: 50px 0 25px;
          
                border: 0px none white;
                border-top: 1px solid rgba(#fff, .25);
          
                @media (max-width: 575.98px) {
                  max-width: 40px;
          
                  margin: 15px 0;
                }
            }

            .date-label {
                position: relative;
                display: inline-block;
        
                margin-right: 30px;
        
                color: $c-green;
                font-size: 12px;
                font-weight: 800;
                letter-spacing: 1px;
                text-transform: uppercase;
        
                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
            
                    width: 16px;
                    height: 16px;
            
                    margin-top: -3px;
                    margin-right: 10px;
                }
            }

            .button-container {
                margin-top: 45px;
            }
        }
    }

    @media (max-width: 575.98px) {
        .contents-container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .texts-container {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
        .texts-container .texts-wrap {
            .title-label {
                line-height: 1.4;
            }
        }

        .cards-wrap {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .contents-container {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .texts-container .texts-wrap {
            .title-label {
                line-height: 1.4;
            }
        }

        .cards-wrap {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .contents-container {
            padding-top: 110px;
            padding-bottom: 110px;
        }
        .cards-wrap {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .contents-container {
            padding-top: 130px;
            padding-bottom: 130px;
        }
        .cards-wrap {
            padding-right: $mobile-side-space;
            padding-left: $mobile-side-space;
        }
    }
}

.community-kubernetes-master-class-screen4 {
    .blank > div {
        height: 150px;
    }

    .contents-container {}

    .texts-container {
        .title-label {
            margin-bottom: 20px;

            color: $c-blue-dark1;

            text-align: center;
        }
    }

    .articles-container {
        margin-top: 70px;

        .buttons-container {
            margin-top: 100px;
            margin-bottom: 250px;

            text-align: center;

            .button {
                max-width: 310px;
            }
            .icon.right {
                right: 20px;

                .svg-linear {
                    stroke-width: 1.5px;
                }
            }
        }
    }
    .article-item {
        margin-top: 60px;

        &.hidden {
            display: none;
        }

        .date-label {
            margin-bottom: 15px;

            color: $c-blue-gray;
        }

        .subject-label {
            margin-bottom: 15px;

            color: $c-blue-dark1;
            font-size: 22px;
            font-weight: 300;
            line-height: 1.455;
        }

        .button-container {
            a {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 575.98px) {
        .blank>div {
            height: 50px;
        }

        .article-item {
            margin-top: 50px;

            .subject-label {
                font-size: 18px;
            }

            .button-container a {
                font-size: 14px;
            }
        }

        .articles-container .buttons-container {
            margin-top: 50px;
            margin-bottom: 50px;

            .button {
                height: 40px;

                font-size: 14px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .blank>div {
            height: 70px;
        }

        .articles-container .buttons-container {
            margin-top: 70px;
            margin-bottom: 100px;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .blank>div {
            height: 100px;
        }

        .articles-container .buttons-container {
            margin-top: 80px;
            margin-bottom: 150px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .articles-container .buttons-container {
            margin-top: 80px;
            margin-bottom: 200px;
        }
    }
}
