.company-contact-us-screen1 {
    overflow: hidden;

    background-color: $c-gray-base-light;

    .decoration {
        position: relative;

        width: 100%;

        padding-top: 250px;
        padding-bottom: 140px;

        line-height: 0;

        .cloud {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }

        .items {
            position: absolute;

            bottom: 0;
            right: 0;

            width: 52%;
            height: auto;
        }
    }

    @media (max-width: 575.98px) {
        margin-top: 135px;

        .decoration {
            padding-top: 80px;
            padding-bottom: 360px;

            .cloud {
                position: absolute;

                top: 5%;
                left: 50%;

                width: 150%;

                @include transform(translateX(-50%));
            }

            .items {
                position: relative;

                width: 90%;
                height: auto;
                margin: 0 5%;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
}

.company-contact-us-screen2 {
    .contents-container {
        padding-bottom: 200px;
    }

    .form-container {
        margin-top: -520px;
        padding-right: 0;
        padding-left: 0;
    }

    .form-wrap {
        padding: 90px 76px;

        background-color: $c-blue-dark1;

        .title-label {
            margin-bottom: 15px;

            color: #fff;
            font-size: 25px;
            font-weight: 400;
        }

        .description-label {
            color: #fff;

            margin-bottom: 40px;
        }

        .form-wrap {
            margin-top: 50px;
        }

        .hs-error-msgs {
            transform: translate3d(0, 27px, 0);

            label {
                position: static;
                transform: translate3d(0, 0, 0);
                color: white;
            }
        }

        .hs-form-field {
            position: relative;
            display: inline-block;

            width: 100% !important;
            margin-bottom: 20px;

            &>label {
                z-index: 1;
                position: absolute;
                display: inline-block;

                top: 24px;
                left: 20px;

                margin-bottom: 0;
                padding-left: 0;

                line-height: 50px;

                color: $c-blue-gray;
                font-size: 15px;
                font-family: 'Roboto';
                font-weight: 300;
                text-transform: initial;
                letter-spacing: 0;
                pointer-events: none;

                @include transform(translateY(-50%));
            }

            &.required label:after {
                content: '*';
                position: relative;
                display: inline-block;
            }

            .hs-input {
                position: relative;
                display: inline-block;

                width: 100%;
                height: 50px;

                padding: 10px 30px;

                color: $c-blue-dark1;
                font-size: 15px;
                line-height: 1;

                background-color: $c-gray-base-light;
                border-radius: 0;
                border: 0;
            }
            textarea.hs-input {
                height: 150px;
            }

            &.hs-country {
                label {
                    display: none;
                }
            }

            .select-box {
                position: relative;
                display: inline-block;

                width: 100%;
                height: 50px;

                padding: 0 30px;

                color: $c-blue;
                font-size: 15px;
                line-height: 50px;

                background-color: $c-gray-base-light;
                border-radius: 0;
                border: 0;

                .icon {
                    position: absolute;
                    display: inline-block;

                    top: 50%;
                    right: 20px;

                    width: 12px;
                    height: auto;

                    @include transform(translateY(-50%));
                }

                .svg-linear {
                    fill: none;
                    stroke: $c-blue;
                }
            }
        }

        .hs-richtext {
            color: white;
            line-height: 1.4;
        }
        .hs-richtext a {
            position: relative;

            color: $c-sky-blue;

            &:before {
                content: "";
                position: absolute;

                bottom: -2px;

                width: 100%;
                height: 10px;

                background-color: rgba($c-sky-blue, 0.1);

                @include transition(all 0.25s);
            }
            &:hover:before {
                bottom: -3px;
        
                height: 1px;
        
                background-color: rgba($c-sky-blue, 0.2);
            }
        }

        .hs-submit {
            margin-top: 30px;

            text-align: left;

            .hs-button {
                min-width: 175px;
                vertical-align: top;
                height: 50px;
                margin: 0 15px 0 0;
                padding: 1em 2em;
                color: #fff;
                background-color: #0075a8;
                font-size: 12px;
                font-weight: 800;
                line-height: 0;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                box-shadow: 12px 25px 50px rgba(0, 117, 168, .075);
                border: none;
                box-sizing: border-box;
                transition: all .25s;
            }
        }
    }

    .texts-container {
        padding-top: 80px;
        padding-right: 0;

        .title-label {
            margin-bottom: 40px;
        }
    }

    .locations-container {
        padding-top: 50px;

        .locations-wrap {}

        .location-item {
            margin-bottom: 50px;

            .label {
                margin-bottom: 10px;

                color: $c-gray;
                font-size: 12px;

                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    width: 16px;
                    height: auto;
                }
            }

            .address-label {
                padding: 0 3px;

                color: $c-blue;
                font-size: 15px;
                line-height: 1.665;
            }
        }
    }

    @media (max-width: 575.98px) {
        .contents-container {
            padding-right: $mobile-side-space;
            padding-bottom: 60px;
            padding-left: $mobile-side-space;
        }
    
        .form-container {
            margin-top: -380px;
        }
        .form-wrap {
            padding: 30px;
        
            .title-label {
                margin-bottom: 10px;
        
                font-size: 20px;
            }
        
            .description-label {
                margin-bottom: 20px;
        
                font-size: 14px;
                line-height: 1.5;
            }
        
            fieldset.form-columns-1 .input,
            fieldset.form-columns-2 .input {
                margin-right: 0;
            }
            fieldset.form-columns-1 .input input,
            fieldset.form-columns-2 .input input {
                width: 100%;
            }
            .form-columns-1 .hs-form-field .hs-input,
            .form-columns-2 .hs-form-field .hs-input {
                width: 100% !important;
            }
        
            .form-columns-1 .hs-form-field .hs-input[type=checkbox],
            .form-columns-2 .hs-form-field .hs-input[type=checkbox] {
                width: auto !important;
            }
        
            .hs-form-checkbox {
                margin-bottom: 10px;
            }
        
            .hs-richtext {
                margin-top: -.5em;
                margin-bottom: 1em;

                color: rgba(#fff, .75);
                font-size: 1em;
                font-family: 'Poppins';
                font-weight: 300;
                line-height: 1.75;

                p {
                    margin-top: 0;
                    margin-bottom: 10px;

                    font-size: .9em;
                    font-family: 'Poppins';
                    line-height: 1.6;
                }

                a {
                    color: $c-sky-blue;
                }
            }
    
            .hs-submit {
                margin-top: 25px;
                text-align: left;
        
                input[type="submit"] {
                    min-width: 0;
                    max-width: 100%;
                    height: 40px;
                    
                    padding: 0 15px;
            
                    font-size: 14px;
                    font-weight: 800;
                }
            }
        }
    
        .texts-container {
            padding-top: 50px;
            padding-left: 0;
    
            .title-label {
                margin-bottom: 30px;
        
                font-size: 24px;
            }
        
            .list-item {
                margin-bottom: 30px;
        
                .icon-container {
                    flex: 0 0 26px;
                    height: 26px;
            
                    margin-right: 10px;
                }
        
                .text-container {
                    font-size: 18px;
                }
            }
        }

        .locations-container {
            padding-top: 10px;

            .location-item {
                margin-bottom: 30px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
}

.company-contact-us-screen3 {
    .contents-container {
        padding-bottom: 220px;
    }

    .head-label {
        padding-left: 0;

        line-height: 150px;

        .label {
            margin-bottom: 0;
        }
    }

    .texts-container {}
    .texts-wrap {
        .title-label {
            margin-top: -50px;
            margin-bottom: 100px;

            color: $c-blue-dark1;
        }
    }

    .partners-type-container {
        padding-right: 0;
        padding-left: 0;
    }
    .partners-type-wrap {
        padding-bottom: 50px;
    }
    .partners-type-item {
        position: relative;

        margin-bottom: 50px;

        .partners-type-item-wrap {
            position: relative;

            width: 100%;
            height: 100%;

            padding: 50px;

            background-color: #fff;
            border-radius: 10px;
            box-shadow: 12px 15px 30px rgba($c-blue, .1);

            .type-label {
                position: relative;
                display: block;

                margin-bottom: 15px;
                padding-bottom: 15px;

                font-size: 22px;
                font-family: 'Poppins';
                font-weight: 400;
                line-height: 1.45;

                border-bottom: 1px solid rgba($c-blue-dark1, .1);

                .icon {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    width: 22px;
                    height: auto;

                    margin-right: 10px;
                }
            }

            .description-label {
                margin-bottom: 0;

                color: $c-blue-dark1;
                font-size: 15px;
                line-height: 1.665;
            }
        }
    }
}
