.community-videos-and-podcasts-screen1 {
  background-color: $c-gray-base-light;

  .decoration {
    position: relative;

    width: 100%;

    line-height: 0;
  }

  .texts-container {
    padding-right: 0;
    padding-left: 0;

    line-height: 0;

    .texts-wrap {
      z-index: 1;

      margin-top: 165px;
      margin-bottom: 100px;

      .title-label {
        margin-bottom: 20px;

        color: #000;
        font-size: 50px;
        font-weight: 200;
      }

      .description-label {
        color: #000;
        line-height: 1.4;
      }
    }
  }

  .lower-container {
    height: 120px;

    margin-top: -120px;

    line-height: 0;

    .decoration {
      position: relative;

      height: 100%;

      &.ground {
        .ground-lower {
          position: relative;

          width: auto;
          height: 75px;

          margin-top: 45px;
          margin-left: 60%;
        }

        .ground-upper {
          position: absolute;

          bottom: 0;
          left: 77%;

          width: auto;
          height: 130px;
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    .texts-container {
      .texts-wrap {
        margin-top: 180px;
        margin-bottom: 100px;
        padding-right: 25px;
        padding-left: 25px;

        .title-label {
          margin-bottom: 14px;
      
          font-size: 2em;
        }

        h3.description-label {
          font-size: 1.05em;
          line-height: 1.5;
        }
        .description-label {
          font-size: .95em;
        }
        .description-label br {
          display: none;
        }
      }
    }

    .lower-container {
      height: 100px;

      margin-top: -100px;

      .decoration.ground .ground-lower {
        height: 44px;

        margin-top: 56px;
        margin-left: 15%;
      }
      .decoration.ground .ground-upper {
        left: 54%;

        height: 100px;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}

.community-videos-and-podcasts-screen2 {
  .texts-container {
    padding-top: 150px;
    padding-bottom: 100px;

    .title-label {
      color: $c-blue-dark1;
      text-align: center;
    }
  }

  .video-container {
    margin-bottom: 30px;

    &.hidden {
      display: none;
    }
  }

  .video-wrap {
    box-shadow: 10px 10px 25px rgba($c-blue-dark1, .25);

    .thumbnail-container {
      position: relative;
    }

    .thumbnail-wrap {
      position: relative;

      height: 340px;
      width: 100%;
      background-position: center;
      background-size: cover;

      line-height: 0;

      &:after {
        content: '';
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        /* IE6-9 */
      }

      .thumbnail {
        position: relative;
        display: inline-block;

        width: 100%;
        height: auto;
      }
    }

    .play-button {
      z-index: 1;
      position: absolute;
      display: inline-block;

      top: 19%;
      left: 50%;

      width: 125px;
      height: 125px;

      padding: 10px;

      background-color: rgba(#313131, .75);
      border-radius: 50%;

      @include transform(translateX(-50%));

      .icon {
        position: relative;

        width: 100%;
        height: auto;

        .svg-face {
          fill: $c-green;
          stroke: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
        }
      }

      .icon.linear-round {
        border: 2px solid $c-green;
        border-radius: 50%;
      }
    }

    .subject-label {
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;

      padding: 40px 50px;

      color: #fff;
      font-family: 'Poppins';
      font-size: 22px;
      font-weight: 500;
      line-height: 1.455;
    }
  }

  .buttons-container {
    margin-top: 70px;
    margin-bottom: 150px;

    text-align: center;

    .button {
      max-width: 310px;

      .icon.right {
        right: 20px;
      }
    }
  }

  @media (max-width: 575.98px) {
    .texts-container {
      padding-top: 50px;
      padding-bottom: 10px;
    }

    .video-wrap {
      .play-button {
        top: 30%;

        width: 80px;
        height: 80px;

        padding: 6px;

        .icon.linear-round {
          border-width: 1px;
        }
      }

      .subject-label {
        padding: 30px 25px;

        font-size: 16px;
      }
    }

    .buttons-container {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}

.community-videos-and-podcasts-screen3 {
  .contents-container {
    padding-bottom: 150px;
  }

  .head-label {
    padding-left: 40px;
    line-height: 100px;

    .label {
      margin-bottom: 0;
    }
  }

  .texts-container {
    padding-right: 0;
    padding-left: 0;

    .title-label {
      color: #fff;
    }
  }

  .videos-container {
    padding-right: 0;
    padding-left: 0;
  }

  .videos-wrap {
    margin-top: 80px;
  }

  .video-container {
    margin-bottom: 30px;

    &.hidden {
      display: none;
    }
  }

  .video-wrap {
    box-shadow: 10px 10px 25px rgba($c-blue-dark4, .5);

    .thumbnail-container {
      position: relative;
    }

    .thumbnail-wrap {
      position: relative;

      width: 100%;

      line-height: 0;

      &:after {
        content: '';
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
        /* IE6-9 */
      }

      .thumbnail {
        position: relative;
        display: inline-block;

        width: 100%;
        height: auto;
      }
    }

    .information-container {
      position: absolute;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      padding: 100px 50px;

      background-color: rgba(#000, .25);
    }

    .logo {
      position: relative;
      display: inline-block;

      width: auto;
      height: 75px;

      margin-bottom: 20px;
    }

    .subject-label {
      color: #fff;
      font-family: 'Poppins';
      font-size: 25px;
      font-weight: 400;
      line-height: 1.4;
    }

    hr {
      width: 100%;

      margin: 1.5em 0;

      border: 0px none rgba(#fff, .25);
      border-top: 1px solid rgba(#fff, .25);
    }
  }

  .buttons-container {
    margin-top: 70px;
    margin-bottom: 150px;

    text-align: center;

    .button {
      max-width: 310px;

      box-shadow: 12px 25px 50px rgba($c-blue-dark4, .25);

      &:hover {
        background-color: $c-blue;
      }

      .icon.right {
        right: 20px;
      }
    }
  }

  @media (max-width: 575.98px) {
    .head-label {
      padding-top: 50px;
      padding-bottom: 0;
      padding-left: $mobile-side-space;

      background-color: $c-blue-dark1;

      line-height: 2;
    }

    .texts-container {
      padding-top: 10px;
      padding-right: $mobile-side-space;
      padding-bottom: 10px;
      padding-left: $mobile-side-space;

      .title-label {
        margin-bottom: 0;
      }
    }

    .videos-container {
      margin-top: 0;
      padding-right: $mobile-side-space;
      padding-top: 20px;
      padding-left: $mobile-side-space;
    }
    .videos-wrap {
      flex-wrap: nowrap;
      
      margin-top: 0;

      .information-container {
        padding:  80px 20px 40px;
      }
    }
    .video-wrap {
      .logo {
        width: auto;
        max-width: 50%;
        height: 45px;
        max-height: 45px;

        margin-bottom: 10px;
      }

      .subject-label {
        min-height: 8em;

        font-size: 16px;

        @include textElipsis(5, 1.6);
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .button {
        width: auto;
      }
    }

    .buttons-container {
      margin-top: 20px;
      margin-bottom: 60px;

      .button {
        max-width: 240px;

        height: 40px;

        padding: 0 15px;

        font-size: 14px;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}

.community-videos-and-podcasts-screen4 {
  // padding-top: 150px;
  padding-bottom: 250px;

  .head-label {
    padding-right: 0;
    padding-left: 0;

    line-height: 150px;

    .label {
      margin-bottom: 0;
    }
  }

  .texts-container {
    margin-top: -60px;
    padding-right: 80px;
    padding-left: 100px;

    .title-label {
      margin-bottom: 0;

      color: $c-blue-dark1;
    }
  }

  .sliders-container {
    margin-top: 90px;
    padding-right: 0;
    padding-left: 0;
  }

  .slide-wrap {
    padding-right: 180px;

    .slick-list {
      overflow: visible;
    }
  }

  .slide-item {
    margin-right: 35px;

    line-height: 0;
  }

  .slider-pager {
    position: relative;
    display: flex;

    flex-wrap: wrap;

    justify-content: flex-end;
    align-items: center;

    width: 100%;

    margin-top: 70px;

    @media (max-width: 575.98px) {
      margin-top: 0;
    }

    .a-button {
      position: relative;
      display: inline-block;

      flex: 1;

      margin-right: 15px;
      margin-left: 15px;

      color: $c-blue;
      font-size: 12px;
      font-weight: 800;
      letter-spacing: 1px;
      font-family: 'Poppins';
      text-transform: uppercase;
    }

    .btn-prev,
    .btn-next {
      position: relative;
      display: inline-block;

      width: 75px;
      height: 75px;

      cursor: pointer;

      @include transition(background-color 0.25s);

      @media (max-width: 575.98px) {
        width: 45px;
        height: 45px;
      }

      .icon {
        width: 50%;

        margin: 25%;
      }

      svg {
        position: relative;

        width: 50%;
        height: auto;

        margin: 25%;

        .arw {
          fill: none;
          stroke: $c-blue-dark1;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;

          @include transition(stroke 0.25s);
        }
      }

      &:hover,
      &.active {
        background-color: $c-green;

        .arw {
          stroke: #fff;
        }
      }
    }
  }

  .thumbnail-item {
    position: relative;
    display: inline-block;

    width: 100%;
    height: 350px;

    background-color: $c-blue-gray-dark1;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 10px 25px rgba($c-blue-dark4, .25);

    line-height: 0;

    &.set-blinder {
      &:before {
        z-index: 1;
        content: '';
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: rgba(#000, .6);
      }

      &:after {
        z-index: 1;
        content: '';
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
        /* IE6-9 */

        opacity: .5;
      }
    }

    .thumbnail {
      position: relative;
      display: inline-block;

      width: 100%;
      height: auto;

      margin: 0;
    }

    .thumbnail-description {
      z-index: 2;
      position: absolute;

      right: 50px;
      bottom: 50px;
      left: 50px;

      .description-label {
        color: #fff;
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 575.98px) {
    padding-bottom: 60px;

    .head-label {
      padding-top: 50px;
      padding-bottom: 0;
      padding-left: $mobile-side-space;

      background-color: $c-gray-base-light;

      line-height: 2;
    }

    .contents-container {
      background-color: transparent;
    }

    .texts-container {
      margin-top: 0;
      padding-top: 10px;
      padding-right: $mobile-side-space;
      padding-bottom: 10px;
      padding-left: $mobile-side-space;

      background-color: $c-gray-base-light;

      .title-label {
        margin-bottom: 0;
        padding-top: 10px;
      }
    }
    
    .sliders-container {
      margin-top: 0;
      padding-top: 30px;

      background-color: $c-gray-base-light;
    }
    .slider-pager {
      margin-top: 30px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}
