// decoration.
.decoration {
  position: relative;
  display: inline-block;

  img {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  .image {
    position: relative;
    display: inline-block;

    &.center {
      position: absolute;

      top: 50%;
      left: 50%;

      @include transform(translate(-50%, -50%));
    }
  }

  &.floating {
    position: absolute;

    &.cloud {
      top: -64px;
      right: -2%;

      .image {
        width: auto;
        height: 177px;
      }
    }
  }

  &.center {
    text-align: center;
  }

  &.cloud-big {
    width: 100%;

    .image {
      width: 100%;
      height: auto;
    }
  }
}


// background handling.
.background {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  &.half {
    width: 50%;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
    left: initial;
  }

  .background-item {
    position: absolute;

    width: 100%;
    height: auto;

    &.left {
      left: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
}

.background-white {
  background-color: #fff;
}
.background-white-side {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    // margin-right: -1px;

    background-color: #fff;
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    // margin-right: -1px;

    background-color: #fff;
  }
}
.background-white-side-left {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    // margin-right: -1px;

    background-color: #fff;
  }
}
.background-white-side-right {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    // margin-right: -1px;

    background-color: #fff;
  }
}

.background-base-gray-light {
  background-color: $c-gray-base-light;
}
.background-base-gray-side {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-gray-base-light;
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-gray-base-light;
  }
}
.background-base-gray-side-left {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-gray-base-light;
  }
}
.background-base-gray-side-right {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-gray-base-light;
  }
}

.background-blue {
  background-color: $c-blue;
}
.background-blue-side {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-blue;
  }
  &:after {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-blue;
  }
}
.background-blue-side-left {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-blue;
  }
}
.background-blue-side-right {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-blue;
  }
}

.background-blue-dark {
  background-color: $c-blue-dark1;
}
.background-blue-dark-side {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-blue-dark1;
  }
  &:after {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-blue-dark1;
  }
}
.background-blue-dark-side-left {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    right: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-right: -1px;

    background-color: $c-blue-dark1;
  }
}
.background-blue-dark-side-right {
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: 0;
    left: 100%;

    // width: 50%;
    width: 1000px;
    height: 100%;

    margin-left: -1px;

    background-color: $c-blue-dark1;
  }
}
