.hero-type1 {
  margin-top: 130px;

  overflow: hidden;

  background-color: $c-gray-base-light;

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 136px;
  }

  .decoration {
    position: relative;

    width: 100%;

    margin-top: -40px;

    line-height: 0;

    &.cloud-big {
      top: -52px;

      height: 0;

      margin-top: 0;

      @media (max-width: 575.98px) {
        top: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        top: -10px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        top: -44px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }

      .image {
        position: absolute;

        top: 100%;
        left: 50%;

        width: 100%;
        max-width: 1162px;

        margin-bottom: -114px;

        @include transform(translateX(-50%));

        @media (max-width: 575.98px) {
          left: 6%;

          width: auto;
          height: 81px;

          @include transform(translateX(0));
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          width: auto;
          height: 102px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          width: auto;
          height: 130px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          width: auto;
          height: 163px;
        }
      }
    }

    &.rancher-ground {
      @media (max-width: 575.98px) {
        margin-top: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 0;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 30px;;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }

      .ground {
        width: 100%;
        height: auto;

        @media (max-width: 575.98px) {
          left: 50%;

          width: auto;
          height: 108px;

          @include transform(translateX(-50%));
        }
        @media (min-width: 576px) and (max-width: 767.98px) { //sm
        }
        @media (min-width: 768px) and (max-width: 991.98px) { //md
        }
        @media (min-width: 992px) and (max-width: 1199.98px) { //lg
        }
      }
    }
  }

  .texts-container {
    line-height: 0;

    .texts-wrap {
      z-index: 1;

      max-width: 1010px;

      margin-top: 150px;
      margin-right: auto;
      margin-left: auto;

      @media (max-width: 575.98px) {
        margin-top: 45px;
        padding-right: 30px;
        padding-left: 30px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 60px;
        padding-right: 30px;
        padding-left: 30px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 80px;
        padding-right: 30px;
        padding-left: 30px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        margin-top: 120px;
        padding-right: 30px;
        padding-left: 30px;
      }

      .title-label {
        color: #000;
        font-size: 50px;
        font-weight: 200;
        text-align: center;

        @media (max-width: 575.98px) {
          font-size: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 2em;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 2.5em;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          font-size: 3em;
        }
      }

      .description-label {
        color: #000;
        font-size: 25px;
        line-height: 1.4;
        text-align: center;

        @media (max-width: 575.98px) {
          font-size: 14px;

          line-height: 1.72;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 1.3em;

          line-height: 1.5;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 1.4em;

          line-height: 1.5;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          font-size: 1.5em;

          line-height: 1.5;
        }
      }
    }
  }
}

.hero-type2 {
  overflow: hidden;

  background-color: $c-gray-base-light;

  .set-ground {
    margin: 0;

    .decoration-container {
      >div,
      >img {
        position: absolute;
      }

      .ground-upper {
        right: 0;
        bottom: 0;

        width: 60%;
        height: auto;

        @media (max-width: 575.98px) {
          width: auto;
          height: 77px;
        }
      }

      .ground-lower {
        bottom: 0;
        left: -10%;

        width: 90%;
        height: auto;

        @media (max-width: 575.98px) {
          left: 40%;

          width: auto;
          height: 34px;
        }
      }

      .kubernetes-rise {
        overflow: hidden;

        right: 25%;
        bottom: 10%;

        width: 320px;
        height: 320px;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);

        @media (max-width: 575.98px) {
          right: 45%;
          bottom: -30px;

          width: 115px;
          height: 115px;
        }

        img {
          position: absolute;

          top: 50%;
          left: 50%;

          width: 70%;
          height: auto;

          @include transform(translate(-50%, -50%));
        }
      }

      .cloud {
        top: 120px;

        width: 100%;
        max-width: 270px;
        height: auto;

        @media (max-width: 575.98px) {
          top: initial;

          bottom: 100px;
          right: -8%;

          max-width: 140px;
        }
      }
    }
  }

  .texts-container {
    padding-top: 200px;
    padding-left: 0;
    padding-bottom: 180px;

    line-height: 0;

    @media (max-width: 575.98px) {
      padding-top: 180px;
      padding-right: 25px;
      padding-bottom: 110px;
      padding-left: 25px;
    }

    .texts-wrap {
      .title-label {
        margin-bottom: 30px;

        color: #000;
        font-size: 50px;
        font-weight: 200;

        @media (max-width: 575.98px) {
          margin-bottom: 10px;

          font-size: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 2em;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 2.5em;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          font-size: 3em;
        }
      }

      .description-label {
        margin-top: 0;
        margin-bottom: 30px;

        color: #000;
        line-height: 1.4;

        @media (max-width: 575.98px) {
          font-size: 14px;

          line-height: 1.72;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 1.3em;

          line-height: 1.5;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 1.4em;

          line-height: 1.5;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          font-size: 1.5em;

          line-height: 1.5;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.hero-type3 {

  background-color: $c-gray-base-light;

  .decoration {
    position: relative;

    width: 100%;

    line-height: 0;

    &.cloud-big {
      min-height: 130px;

      background-color: #fff;

      .image {
        position: absolute;

        top: 100%;
        left: 50%;

        max-width: 1162px;

        @include transform(translateX(-50%));
      }
    }
  }

  .texts-container {
    line-height: 0;

    .texts-wrap {
      z-index: 1;

      margin-top: 75px;
      margin-bottom: 150px;
      padding-right: 5%;

      .title-label {
        margin-bottom: 35px;
        color: #000;
        font-size: 50px;
        font-weight: 200;
      }

      .description-label {
        color: #000;
        line-height: 1.4;
      }
    }
  }

  .lower-container {
    height: 150px;

    margin-top: -150px;

    line-height: 0;

    .decoration {
      position: relative;

      height: 100%;

      &.ground {
        .ground-lower {
          position: relative;

          width: auto;
          height: 75px;

          margin-top: 75px;
          margin-left: 30%;
        }

        .ground-upper {
          position: absolute;

          bottom: 0;
          left: 46.5%;

          width: auto;
          height: 130px;
        }
      }
    }
  }

}

.hero-type4 {
  background-color: $c-gray-base-light;

  .set-ground {
    // position: absolute;

    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;

    margin: 0;

  }

  .decoration-container {

    >div,
    >img {
      position: absolute;
    }

  }

  .ground-upper {
    right: 0;
    bottom: 0;

    width: 60%;
    height: auto;
  }

  .ground-lower {
    bottom: 0;
    left: -10%;

    width: 90%;
    height: auto;
  }

  .rancher-rise {
    overflow: hidden;

    right: 25%;
    bottom: 10%;

    width: 320px;
    height: 320px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);

    img {
      position: absolute;

      top: 50%;
      left: 50%;

      width: 60%;
      height: auto;

      @include transform(translate(-50%, -50%));
    }
  }

  .cloud {
    top: 120px;

    width: 100%;
    max-width: 270px;
    height: auto;
  }

  .texts-container {
    padding-top: 280px;
    padding-left: 0;
    padding-bottom: 180px;

    line-height: 0;

  }

  .title-label {
    color: #000;
    font-size: 50px;
    font-weight: 200;
  }

  .description-label {
    color: #000;
    line-height: 1.4;
  }
}
