.resources-learning-path-cards {
  margin-bottom: 100px;

  .card-item {
    margin-bottom: 30px;
  }

  .card-wrap {
    height: 100%;
    box-shadow: 15px 25px 75px rgba(0,117,168,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cards-container {
    position: relative;
    z-index: 1;
  }
}
