// -----------------------------------------------------------------------------
// This file contains styles that are specific to the partners page and partial page.
// -----------------------------------------------------------------------------
.partner {
  display: flex;
  position: relative;

  img {
    max-height: 75px;
  }

  .btn {
    position: absolute;
    right: -3px;
    top: -3px;
  }

  &-section-title {
    text-align: center;
    margin-bottom: 60px;
  }
}
