.simple-text-hero {
    background-color: $c-gray-base-light;

    .head-ground {
        bottom: initial;

        height: 130px;

        background-color: #fff;
    }

    .contents-container {
    }

    .texts-container {
        padding-top: 100px;
        padding-bottom: 180px;

        .title-label {
            color: #fff;
            text-align: center;
        }

        .description-label {
            color: #fff;
            text-align: center;
        }
    }

    .list-container {
        position: relative;

        margin-top: -100px;
        // margin-bottom: 100px;
        padding: 15px 50px;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 15px 25px 75px rgba($c-blue-dark3, 0.1);
    }

    .list-wrap {}

    .list-item {
        padding-top: 30px;
        padding-bottom: 30px;

        border-bottom: 1px solid #eaeff0;

        &:last-child {
            border-bottom: 0;
        }

        .title-label {
            margin-bottom: 0;
            padding-left: 18px;

            color: $c-blue-dark1;
            font-size: 22px;
            font-weight: 300;
        }

        .check-item {
            position: relative;
            display: block;
            vertical-align: middle;

            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            
            .check-icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                width: 80%;
                max-width: 20px;
                height: auto;

                margin-right: 10px;
            }

            .check-name {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                color: $c-blue;
                font-size: 12px;
                font-weight: 800;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
        }
    }
}

.products-landing-items {
    background-color: $c-gray-base-light;

    &.no-background {
        background-color: transparent;
    }

    .head-label {
        margin-top: 150px;

        .title-label {
            font-size: 50px;
            text-align: center;
        }
    }

    .item-container {
        margin-top: 100px;
        padding-bottom: 50px;

        &:last-child {
            padding-bottom: 220px;
        }
    }

    .texts-container {
        .title-label {
            margin-bottom: 20px;

            font-size: 40px;
            font-weight: 200;
        }

        .description-label {}

        .buttons-container {
            margin-top: 40px;

            .button {
                width: 40%;
                max-width: 210px;
            }
        }
    }

    .thumbnail-container {
        position: relative;

        .thumbnail-item {
            position: relative;

            width: 100%;

            margin-top: .9em;

            background-color: #787878;

            line-height: 0;

            .thumbnail {
                position: relative;
                display: inline-block;

                width: 100%;
                height: auto;
            }
        }
    }
}

// custom footer.
.get-started-container {
    .rancher-logo{
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            border-left: 1px solid #f2f5f5;
        }
    }
}