.products .main>header {
    position: relative;
}
.text-center-sm {
    @media (max-width: 768px) {
        text-align: center;
    }
}

.hosted-rancher-faq {
    .accordion {
        .card {
            .card-header {
                border-bottom: solid 1px #ddd;
                padding: 20px 0;
                position: relative;
                button {
                    background: transparent;
                    border: 0;
                }
                &::after {
                    content: '\203A';
                    position: absolute;
                    top: 30%;
                    font-size: 2em;
                    right: 20px;
                    transform: rotate(90deg);
                }
            }
            .collapse {
                display: none;
                &.show {
                    display: block;
                }
            }
            
            &:last-child {
                .card-header {
                    border-bottom: none;
                }
            }

            .card-body {
                padding: 30px 15px;
                h4 {
                    font-weight: bold;
                }
            }
        }
    }
}

.hosted-rancher-hero.community-ebooks-screen1 {
    &.bg-primary {
        background-color: $c-blue;
    }
    .position-relative {
        position: relative;
    }
    h4{
        line-height: normal;
        color: white !important;
    }
    .texts-wrap {
        margin-bottom: 0;
        color: white;
        h3{
           font-weight: 600;
        }
    }
    .content-wrapper {
        margin-bottom: 60px;
    }
    .label{
        font-size: 14px;
    }
    .lower-container{
        pointer-events: none;
        @media (max-width: 575px) {
            position: static;
            height: auto;
            margin-top: -80px;
        }
    }
    .hero-buttons a{
        display: inline-block;
        margin-bottom: 20px;
        height: auto;
        padding: 1.5em;
        white-space: normal;
        line-height: normal;
        border: 2px solid $c-green;
    }
    .hosted-rancher {
        position: absolute;
        right: 0;
        left: auto;
        bottom: 0;
        width: 200%;
        transform: translateX(50%);
            @media (max-width: 767px) {
            position: relative;
            padding-top: 0;
            width: 100%;
            transform: translateX(0%);
        }
    }
}
.hosted-rancher-testimonial{
    .testimonial{
        display: flex;
        .quoteImg{
            img{
                width: 80px;
                height: 80px;
            }
        }
        .label{
            font-size: 14px;
        }
        .quote{
            margin: 30px 0 0 30px;
            h3 {
                font-style: italic;
            }
        }
    }

}

.hosted-rancher-developer-services{
    .developer_icons_wrapper{
        margin-top: 20px;

        .developer_icons{
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: auto;
                max-height: 120px;
                max-width: 175px;
            }

            @media (max-width: 768px) {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.hosted-rancher-architecture {
    img {
        max-width: 100%;
    }
}

.simple-text-hero {
    padding-top: 100px;
    background-color: $c-gray-base-light;

    .head-ground {
        bottom: initial;
        height: 100px;
        background-color: #fff;
    }

    .decoration-cloud-top {
        z-index: 1;
        position: absolute;
        display: inline-block;

        top: 0;
        right: -50%;

        width: auto;
        height: 100px;

        // @include transform(translateX(-50%));
    }
    .decoration-cloud-bottom {
        position: absolute;
        display: inline-block;

        bottom: 0;
        left: -30%;

        width: auto;
        height: 106px;

        // @include transform(translateX(-50%));
    }

    .texts-container {
        z-index: 2;

        padding-top: 130px;
        padding-bottom: 130px;

        h2, p {
            z-index: 2;
            position: relative;
        }
    }

    .list-container {
        z-index: 3;

        position: relative;

        margin-top: -100px;
        // margin-bottom: 100px;
        padding: 15px 50px;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 15px 25px 75px rgba($c-blue-dark3, 0.1);
    }

    .list-wrap {}

    .list-item {
        padding-top: 30px;
        padding-bottom: 30px;

        border-bottom: 1px solid #eaeff0;

        &:last-child {
            border-bottom: 0;
        }

        .title-label {
            margin-bottom: 0;
            padding-left: 18px;

            color: $c-blue-dark1;
            font-size: 22px;
            font-weight: 300;
        }

        .check-item {
            position: relative;
            display: block;
            vertical-align: middle;

            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            
            .check-icon {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                width: 80%;
                max-width: 20px;
                height: auto;

                margin-right: 10px;
            }

            .check-name {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                color: $c-blue;
                font-size: 12px;
                font-weight: 800;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
        }

    }

    @media (max-width: 575.98px) {
        .decoration-cloud-top {
            display: none;
        }
        .decoration-cloud-bottom {
            display: none;
        }

        .texts-container {
            padding-top: 80px;
            padding-bottom: 60px;

            .title-label {
                line-height: 1.4;

                .split-mobile {
                    display: block;

                    align: center;
                }
            }
        }

        .list-contents-container {
            background-color: $c-blue-dark1;
        }

        .list-container {
            margin-top: -40px;
            padding: 0;
            padding-bottom: 50px;

            background-color: transparent;
        }
        .list-item {
            margin-bottom: 10px;
            padding: 30px;
            
            background-color: #fff;

            text-align: center;

            .title-label {
                padding-left: 0;

                text-align: center;
            }

            .check-item {
                display: inline-block;
                vertical-align: middle;

                margin-top: 20px;
                margin-right: 25px;
                margin-bottom: 0;

                text-align: center;

                &:last-child {
                    margin-right: 0;
                }
            }

            .check-item .check-icon {
                max-width: 26px;

                margin-right: 7px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        .decoration-cloud-top {
            right: -15%;
        }
        .decoration-cloud-bottom {
            left: -15%;
        }

        .list-container {
            padding: 20px;
        }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        .decoration-cloud-top {
            right: -15%;
        }
        .decoration-cloud-bottom {
            left: -15%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
}

.products-landing-items {
    background-color: $c-gray-base-light;

    &.no-background {
        background-color: transparent;
    }

    .head-label {
        margin-top: 150px;

        @media (max-width: 575.98px) {
            margin-top: 50px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            margin-top: 70px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            margin-top: 100px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
            margin-top: 120px;
        }

        .title-label {
            font-size: 50px;
            text-align: center;

            @media (max-width: 575.98px) {
                margin-bottom: 14px;
            
                font-size: 25px;
              }
              @media (min-width: 576px) and (max-width: 767.98px) {
                margin-bottom: 16px;
            
                font-size: 2.4em;
              }
              @media (min-width: 768px) and (max-width: 991.98px) {
                margin-bottom: 18px;
            
                font-size: 2.9em;
              }
              @media (min-width: 992px) and (max-width: 1199.98px) {
                margin-bottom: 20px;
            
                font-size: 3.3em;
              }
        }
    }

    .item-container {
        padding-top: 100px;
        padding-bottom: 50px;

        @media (max-width: 575.98px) {
            padding-top: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            padding-top: 40px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            padding-top: 60px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
            padding-top: 80px;
        }

        &:last-child {
            padding-bottom: 220px;
            
            @media (max-width: 575.98px) {
                padding-bottom: 60px;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                padding-bottom: 80px;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                padding-bottom: 120px;
            }
            @media (min-width: 992px) and (max-width: 1199.98px) {
                padding-bottom: 160px;
            }
        }
    }

    .texts-container {
        .title-label {
            margin-bottom: 20px;

            font-size: 40px;
            font-weight: 200;

            @media (max-width: 575.98px) {
                margin-bottom: 14px;
            
                font-size: 20px;
                font-weight: 300;
                line-height: 1.2;
              }
              @media (min-width: 576px) and (max-width: 767.98px) {
                margin-bottom: 16px;
            
                font-size: 2.4em;
              }
              @media (min-width: 768px) and (max-width: 991.98px) {
                margin-bottom: 18px;
            
                font-size: 2.9em;
              }
              @media (min-width: 992px) and (max-width: 1199.98px) {
                margin-bottom: 20px;
            
                font-size: 3.3em;
              }
        }

        .description-label {}

        .buttons-container {
            margin-top: 40px;

            @media (max-width: 575.98px) {
                margin-top: 30px;
            }

            .button {
                width: 40%;
                max-width: 210px;

                @media (max-width: 575.98px) {
                    width: 45%;
                    max-width: 139px;
                    height: 40px;

                    margin-right: 1%;
                    padding: 0 15px;

                    font-size: 14px;
                    line-height: 1.1;

                    box-sizing: border-box;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                }
            }
        }
    }

    .thumbnail-container {
        position: relative;

        @media (max-width: 575.98px) {
            margin-top: 30px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
        }

        .thumbnail-item {
            position: relative;
            overflow: hidden;

            width: 100%;

            margin-top: .9em;

            border-radius: 50%;
            box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);

            line-height: 0;

            @media (max-width: 575.98px) {
                width: 70%;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
            }
            @media (min-width: 992px) and (max-width: 1199.98px) {
            }

            .thumbnail {
                position: relative;
                display: inline-block;

                width: 100%;
                height: auto;
            }
        }
    }
}

.community-ebooks-screen1 .lower-container {
    position: absolute;
    bottom: 0;
}

body.products-rancher {
    @media (min-width: 1024px) {
        overflow-x: visible !important;        
    }

    .grid-container--padding-bottom {
        padding-bottom: 8rem;
    }

    .hero-type2 .grid-container {
        padding-bottom: 0 !important;
    }
}

.rancher-note-item.product-rancher {
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    .grid-container {
        padding-bottom: 0;
    }
    .icon-container {

        flex: 0 0 80px !important;
        margin-right: 10px;
    }

    .content-container {
        position: relative !important;
        top: 25px;

        @media (min-width: 768px) {
            top: -80px;
        }

        .texts-container {
            box-shadow: $box-shadow;
        }
    }
}

.products .kubecake-wrapper {
    background: #f1f1f4;
    padding-top: 80px;

    @media(max-height: 700px) {

    .max-sized {
            max-width: 1000px;

            & > .col-8 {
                flex: 0 0 60%;
                max-width: 60%;                
            }

            & > .col-4 {
                flex: 0 0 40%;
                max-width: 40%;

                font-size: 80% !important;
            }
        }
    }

    .position-sticky {
        position: sticky;
        top: 100px;
        padding-top: 7vh;

        @media(max-height: 700px) {
            top: 125px;
            padding-top: 0;
        }
    }

    @media (min-width: 1024px) {
        .full-height {
            display: flex;
            justify-content: center;
            margin-top: 120px;
            height: calc(100vh - 120px);
            flex-direction: column;

            &:not(:first-child) > div {
                transform: translateY(-25%);
            }

            &:last-child > div {
                transform: translateY(50%);
            }
        }
    }


    .rancher-logo {
        align-items: center;
        justify-content: center;
        padding: 1rem;
        display: none;

        @media (min-width: 1024px) {
            display: flex;
        }
    }

    .bg-primary {
        background-color: #0075a8;
    }

    .bg-primary-dark {
        background: #33485e;
    }

    .border-bottom {
        border-bottom: 1px solid white;
    }

    .border-right {
        border-right: 1px solid white;
    }

    .bg-green {
        background: #99c355;
    }

    .container-label {
        padding: 0.5rem 1rem;
        color: white;
        text-align: center;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }
}

.products .features-capabilities {
    margin-top: 8rem;

    .feature-icon {
        background: $c-sky-blue-light;
        height: 72px;
        width: 72px;
        max-width: 100%;
        border-radius: 50%;
        padding: 1rem;
        margin: 0;

        img {
            width: 100%;
            height: auto;
            opacity: 0.9;
            fill: $c-blue;
        }
    }
}

.products .rancher-support {
    background-color: $c-blue-dark1;
    padding-top: 8rem;
    color: white;
}

.products .hosted-rancher {
    padding-top: 8rem;

    .image {
        max-height: 96px;
        max-width: 96px;
        margin: 1.5rem auto;

        svg {
            fill: $c-blue;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            flex: 1;
        }
    }

}

.hosted-rancher-cta {
    padding-top: 8rem;

    .text-white {
        color: white;
    }
}
.rancher-screen2 {
    .play-button {
        background-color: #7bbfc7 !important;
        border: none;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin: 1rem;
            fill: #fff;
            transition: fill 150ms ease-in-out;
            flex: 1;
            transform: translateX(6px);
        }

        &:hover svg {
            fill: #29669b;
        }
    }
}