.products-support-cta-screen1 {
    background-color: $c-gray-base-light;

    .decoration {
        position: relative;

        width: 100%;

        line-height: 0;
    }

    .texts-container {
        padding-right: 0;
        padding-left: 0;

        line-height: 0;

        .texts-wrap {
            z-index: 1;

            margin-top: 210px;
            margin-bottom: 160px;

            .title-label {
                margin-bottom: 35px;
                color: #000;
                font-size: 50px;
                font-weight: 200;
            }
            
            .description-label {
                color: #000;
                font-size: 25px;
                font-weight: 100;
                line-height: 1.4;
            }
        }
    }

    .lower-container {
        height: 120px;

        margin-top: -120px;

        line-height: 0;

        .decoration {
            position: relative;

            height: 100%;

            &.ground {
                .ground-lower {}

                .ground-upper {}
            }
        }
    }
}

.products-support-cta-screen2 {
    .contents-container {
        padding: 200px 0;
    }

    .texts-container {
        padding-right: 40px;
        padding-left: 0;

        .title-label {
            color: $c-blue-dark1;
            line-height: 1.25;
        }

        .description-label {
            color: rgba($c-gray, .75);
        }
    }

    .form-container {
        padding-right: 40px;
        padding-left: 60px;
    }
    .form-wrap {
        .form-item {
            position: relative;
            display: flex;

            flex-wrap: nowrap;
            align-content: center;

            margin-bottom: 50px;
            padding-top: 20px;

            &:first-child {
                padding-top: 0;
            }

            label {
                position: relative;
                display: inline-block;

                flex: 0 0 30%;
                max-width: 30%;
                height: 50px;

                margin-bottom: 0;
                padding-left: 15px;

                line-height: 50px;

                color: $c-blue-dark1;
                font-family: 'Poppins';
                font-size: 25px;
                font-weight: 400;
                text-transform: initial;
                letter-spacing: 0;
            }
            &.required {
                label:after {
                    content: '*';
                    position: relative;
                    display: inline-block;
                }
            }

            .number:before {
                content: '';
                position: absolute;

                top: 0;
                left: -10%;

                color: rgba($c-blue, .05);
                font-weight: 500;
                font-size: 300%;
                letter-spacing: -.025em;
            }
            &:nth-child(1) .number:before {content: '01';}
            &:nth-child(2) .number:before {content: '02';}
            &:nth-child(3) .number:before {content: '03';}
            &:nth-child(4) .number:before {content: '04';}
            &:nth-child(5) .number:before {content: '05';}
            &:nth-child(6) .number:before {content: '06';}
            &:nth-child(7) .number:before {content: '07';}
            &:nth-child(8) .number:before {content: '08';}
            &:nth-child(9) .number:before {content: '09';}
            &:nth-child(10) .number:before {content: '10';}

            .input {
                position: relative;
                display: inline-block;

                flex: 0 0 70%;
                max-width: 70%;

                height: 50px;

                padding: 10px 30px;

                color: $c-blue-dark1;
                font-size: 15px;
                line-height: 1;

                background-color: $c-gray-base-light;
                border-radius: 5px;
                border: 0;
            }

            .select-box {
                position: relative;
                display: inline-block;

                flex: 0 0 70%;
                max-width: 70%;

                height: 50px;

                padding: 0 30px;

                color: $c-blue;
                font-size: 15px;
                line-height: 50px;

                background-color: $c-gray-base-light;
                border-radius: 5px;
                border: 0;

                .icon {
                    position: absolute;
                    display: inline-block;

                    top: 50%;
                    right: 20px;

                    width: 12px;
                    height: auto;

                    @include transform(translateY(-50%));
                }
                .svg-linear {
                    fill: none;
                    stroke: $c-blue;
                }
            }
        }

        .buttons-container {
            margin-top: 50px;

            text-align: right;

            .button {
                min-width: 210px;
            }
        }
    }
}
