.k3s-rancher-hero {
    background-color: $c-gray-base-light;


    .artwork {
      position: relative;
      bottom: 0;
      width: 100%;
      margin-top: -50%;

      @media (min-width: 768px){
        position: absolute;
        margin-top: auto;
        }
    }

    .decoration {
        position: relative;
        width: 100%;
        height: 100%;
        bottom: 0;
        line-height: 0;

        @media (min-width: 768px){
          position: absolute;
        }
    }

    .cloud {
      width: 200px;
      position: absolute;

      &.floating-bottom {
        top: 20%;
      }

      &.floating-top {
        left: -50%;
        top: 50%;
      }
    }

    .texts-container {
        position: relative;
        z-index: 2;

        .texts-wrap {
            z-index: 1;

            margin-top: 200px;
            margin-bottom: 120px;

            .title-label {
                margin-bottom: 35px;
                color: #000;
                font-size: 50px;
                font-weight: 200;
            }
            
            .description-label {
                color: #000;
                line-height: 1.4;
            }
        }
    }

    .lower-container {
        height: 120px;

        margin-top: -120px;

        line-height: 0;

        .decoration {
            position: relative;

            height: 100%;

            &.ground {
                .ground-lower {
                    position: relative;
                    
                    width: auto;
                    height: 75px;

                    margin-top: 45px;
                    margin-left: 60%;
                }

                .ground-upper {
                    position: absolute;

                    bottom: 0;
                    left: 77%;

                    width: auto;
                    height: 130px;
                }
            }
        }
    }
  }