.rancher-2_6-hero-outer-wrap {
  background-color: $c-blue-dark1;
}

.rancher-2_6-hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  &.bg-primary {
    background-image: url(../img/products/2.6/bg-spaceship-bull-anim.svg);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-color: $c-blue-dark1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width:1024px) {
      margin-top: 81px;
    }
  }
  .c-blue-ribbon {
    background: $c-blue;
    color: $c-white;
    &:hover {
      background: $c-white;
      color: $c-blue;
    }
  }
  h1 {
    span {
      background-color: rgba(25, 32, 114, .8);
    }
  }

  h4 {
    line-height: normal;
    margin-bottom: 40px;
  }

  .cloud.floating {
    max-width: 300px;
    position: absolute;
    left: -15vw;
    top: -20px;
  }

  .spaceship-and-bull {
    position: absolute;

    &.small.spaceship-and-bull {
      top: 20px;
      left: -5vw;
      transform: scale(50%);
    }

    &.large.spaceship-and-bull {
      top: 250px;
      left: -6vw;
    }
  }

  .cloud-large-container {
    position: relative;

    .cloud.floating {
      position: absolute;
      left: -70px;
      top: -92px;
      max-width: 440px;
    }
  }

  .texts-wrap {
    margin-bottom: 0;

    h3 {
      font-weight: 600;
    }
  }

  .content-wrapper {
    margin-bottom: 3rem;
  }

  .label {
    font-size: 14px;
  }

  .lower-container {
    pointer-events: none;
  }

  .hero-buttons a {
    display: inline-block;
    margin-bottom: 20px;
    height: auto;
    padding: 1.5em;
    white-space: normal;
    line-height: normal;

    &:nth-child(2) {
        background-color: $c-blue-light2;
        color: $c-blue;

        &:hover {
            background-color: #fff;
        }
    }
  }

  .rancher-2_5-badge-animation {
    width: 300%;

    @media (min-width: 768px) {
      position: absolute;
      left: 0;
      bottom: 3rem;
    }
  }
}

.rancher-2_6-whats-new {
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    @media screen and (max-width:1024px){
      padding: 20px 0;
    }
    a {
      display: inline-block;
      height: auto;
      padding: 1.5em;
    }

    h4 {
      font-weight: 400;
    }
  }

  .title-label {
    padding-bottom: 20px;
  }

  .button {
      align-self: flex-start;
    @media (max-width: 576px) {
      text-align: center;
    }
  }

  .row {
    .col-md-4 {
      padding-top: 20px;

      h4 {
        margin-bottom: 20px;
        @media screen and (max-width:575.98px){
          font-size: 1.05em;
        }
      }

      a {
        background: transparent;
        border-style: solid;
        border-width: 2px;
        color: $c-dark-grey;
        text-align: center;
        width: 100%;
      }

      &:before {
        content: '';
        height: 6px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
      }

      &:nth-child(1) {
        &:before {
          background-color: $cs--orange-light;
        }

        .button {
          border-color: $c-dark-grey;
        }
      }

      &:nth-child(2) {
        &:before {
          background-color: $cs--gray-dark;
        }

        .button {
          border-color: $c-dark-grey;
        }
      }

      &:nth-child(3) {
        &:before {
          background-color: $cs--blue-dark1;
        }

        .button {
          border-color: $c-dark-grey;
        }
      }
    }
  }
}

.rancher-2_6-testimonial {
  .testimonial {
    // display: flex;
    max-width: 800px;
    margin: auto;

    .quoteImg {
      img {
        width: 300px;
        height: auto;
        display: block;
        margin: auto;
      }
    }

    .label {
      font-size: 14px;
    }

    .quote {
      margin: 30px 0 0 30px;
      @media screen and (max-width:1024px) {
        margin: 30px 0 0 0;
      }
      h2 {
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.45;
        @media screen and (max-width:1024px) {
          font-size: 1.2em;
        }
        @media screen and (max-width:768px) {
          font-size: 1em;
        }
      }
    }
  }
}

.rancher-2_6-features.background-blue-lucky-point {
  color: $c-white;
  background: $c-blue-dark1;
  p {
    color: $c-white;
  }
  .label {
    color: #fff;
  }

  .texts-container {
    margin-bottom: 40px;
    @media screen and (max-width:768px){
      margin-bottom: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .title {
    text-align: center;
    @media screen and (max-width:767px){
      font-size: 1.50em;
    }
  }

  ul {
    list-style: square;
    padding-left: 1rem;

    li {
      list-style: inherit;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      line-height: 1.66;
    }
  }

  .feature {
    align-items: center;
    padding: 30px 0;
    &:last-child {
      @media screen and (max-width:1024px) {
        padding-bottom: 0;
      }
    }
    .label {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .feature-text-wrapper {
      margin-bottom: 40px;
    }

    .feature-content {
      @extend p;

      margin-bottom: 40px;
    }
  }

  button.linear {
    border: none;
    background-color: $c-blue-light2;
    color: $c-blue;
    min-width: 290px;

    &:hover {
      background-color: #fff;
      color: $c-blue;
    }
  }
}




.rancher-2_5-other-info {
  article {
    margin-bottom: 20px;
  }

  a {
    height: auto;
    padding: 1.5em;
  }

  .buttton {
    display: block;
    text-align: center;
  }

  h4 {
    font-weight: 400;
    line-height: normal;
  }

  p {
    margin: 20px 0;
  }

  .lead {
    font-size: 24px;
    @media screen and (max-width:1440px) {
      font-size: 22px;
    }
    @media screen and (max-width:1024px) {
      font-size: 19px;
    }
  }
}

.rancher-2_6-architectural-overview .row {
  align-items: center;

  
  .img-col {
    text-align: center;
    img {
      max-width: 300px;
      border: 1px solid #bbb;
    }
  }
}
