.products-request-a-demo-cta-screen1 {
  background-color: $c-gray-base-light;

  .decoration {
    position: relative;

    width: 100%;

    line-height: 0;
  }

  .texts-container {
    padding-right: 0;
    padding-left: 0;

    line-height: 0;

    .texts-wrap {
      z-index: 1;

      margin-top: 270px;
      margin-bottom: 350px;

      .title-label {
        margin-bottom: 35px;
        color: #000;
        font-size: 50px;
        font-weight: 200;
      }

      .description-label {
        color: #000;
        font-size: 25px;
        font-weight: 100;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 575.98px) {
    .lower-container {
      height: 140px;

      margin-top: -140px;

      .decoration {
        .ground-upper {
          width: auto;
          height: 77px;
        }

        .ground-lower {
          left: 25%;

          width: auto;
          height: 60px;
        }

        .rise {
          top: initial;
          bottom: 5%;

          width: 115px;
          height: 115px;
        }

        .cloud {
          top: initial;
          right: -12%;
          bottom: 100%;
          left: initial;

          max-width: 160px;
        }
      }
    }

    .texts-container {
      padding-top: 180px;
      padding-right: 25px;
      padding-bottom: 110px;
      padding-bottom: 400px;
      padding-left: 25px;
    }
    .texts-container .texts-wrap {
      margin-top: 0;
      margin-bottom: 0;

      .title-label {
        margin-bottom: 10px;

        font-size: 30px;
      }

      .description-label {
        margin-bottom: 10px;

        font-size: 14px;

        line-height: 1.72;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}

.products-request-a-demo-cta-screen2 {
  .contents-container {
    padding-bottom: 200px;
  }

  .form-container {
    margin-top: -690px;
    padding-right: 0;
    padding-left: 0;
  }

  .form-wrap {
    padding: 90px 76px;

    background-color: $c-blue-dark1;

    .title-label {
      margin-bottom: 15px;

      color: #fff;
      font-size: 25px;
      font-weight: 400;
    }

    .description-label {
      color: #fff;

      margin-bottom: 40px;
    }

    .form-wrap {
      margin-top: 50px;
    }

    .hs-error-msgs {
      transform: translate3d(0, 27px, 0);

      label {
        position: static;
        transform: translate3d(0, 0, 0);
        color: white;
      }
    }

    .hs-form-field {
      position: relative;
      display: inline-block;

      width: 100% !important;
      margin-bottom: 20px;

      &>label {
        z-index: 1;
        position: absolute;
        display: inline-block;

        top: 24px;
        left: 20px;

        margin-bottom: 0;
        padding-left: 0;

        line-height: 50px;

        color: $c-blue-gray;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 300;
        text-transform: initial;
        letter-spacing: 0;
        pointer-events: none;

        @include transform(translateY(-50%));
      }

      &.required {
        label:after {
          content: '*';
          position: relative;
          display: inline-block;
        }
      }

      .hs-input {
        position: relative;
        display: inline-block;

        width: 100%;
        height: 50px;

        padding: 10px 30px;

        color: $c-blue-dark1;
        font-size: 15px;
        line-height: 1;

        background-color: $c-gray-base-light;
        border-radius: 0;
        border: 0;
      }

      &.hs-country {
        label {
          display: none;
        }
      }

      .select-box {
        position: relative;
        display: inline-block;

        width: 100%;
        height: 50px;

        padding: 0 30px;

        color: $c-blue;
        font-size: 15px;
        line-height: 50px;

        background-color: $c-gray-base-light;
        border-radius: 0;
        border: 0;

        .icon {
          position: absolute;
          display: inline-block;

          top: 50%;
          right: 20px;

          width: 12px;
          height: auto;

          @include transform(translateY(-50%));
        }

        .svg-linear {
          fill: none;
          stroke: $c-blue;
        }
      }
    }

    .hs-richtext {
      color: white;
    }

    .hs-submit {
      margin-top: 30px;

      text-align: left;

      .hs-button {
        min-width: 175px;
        vertical-align: top;
        height: 50px;
        margin: 0 15px 0 0;
        padding: 1em 2em;
        color: #fff;
        background-color: #0075a8;
        font-size: 12px;
        font-weight: 800;
        line-height: 0;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        box-shadow: 12px 25px 50px rgba(0, 117, 168, .075);
        border: none;
        box-sizing: border-box;
        transition: all .25s;
      }
    }

  }

  .browser-container {
    padding-right: 0;
    padding-left: 0;

    .browser-item {
      margin-top: -270px;

      width: 122.5%;
    }
  }

  @media (max-width: 575.98px) {
    .contents-container {
      padding-bottom: 60px;
    }

    .form-container {
      margin-top: -40px;
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;
    }
    .form-wrap {
      padding: 40px 25px;

      .title-label {
        margin-bottom: 10px;
      }

      fieldset.form-columns-1 .input,
      fieldset.form-columns-2 .input {
        margin-right: 0;
      }
      fieldset.form-columns-1 .input input,
      fieldset.form-columns-2 .input input {
        width: 100%;
      }
      .form-columns-1 .hs-form-field .hs-input,
      .form-columns-2 .hs-form-field .hs-input {
        width: 100% !important;
      }

      .hs-richtext {
        margin-top: -.5em;
        margin-bottom: 1em;

        color: rgba(#fff, .75);
        font-size: 1em;
        font-family: 'Poppins';
        font-weight: 300;
        line-height: 1.75;

        p {
          margin-top: 20px;
          margin-bottom: 10px;

          font-size: .9em;
          font-family: 'Poppins';
          line-height: 1.6;
        }

        a {
          color: $c-sky-blue;
        }
      }

      .hs-submit {
        margin-top: 25px;
        text-align: left;

        input[type="submit"] {
          min-width: 0;
          max-width: 100%;
          height: 40px;
          
          padding: 0 15px;

          font-size: 14px;
          font-weight: 800;
        }
      }
    }

    .browser-container {
      margin-top: -380px;
      margin-bottom: 60px;
      padding-left: $mobile-side-space;

      .browser-item {
        margin-top: 0;
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }
}

.products-request-a-demo-cta-screen3 {
  .contents-container {
    padding-bottom: 60px;
  }

  .texts-container {
    color: $c-blue-dark1;
    text-align: center;
  }

  .logos-container {
    padding-top: 70px;
    padding-right: 0;
    padding-bottom: 120px;
    padding-left: 0;
  }

  .logo-container {
    margin: 40px 0;
    padding: 0;
  }

  .logo-item {
    line-height: 0;
    text-align: center;

    img {
      position: relative;
      display: inline-block;

      width: 100%;
      max-width: 180px;
      height: auto;
    }
  }

  @media (max-width: 575.98px) {
    .contents-container {
      padding-bottom: 60px;
    }

    .texts-container {
      padding-top: 0;
      padding-right: $mobile-side-space;
      padding-bottom: 0;

      text-align: left;

      .title-label {
        line-height: 1.6;
      }
    }

    .logos-container {
      margin-right: 15px;
      margin-left: 15px;
      padding-top: 10px;
      padding-right: $mobile-side-space;
      padding-bottom: 0;
      padding-left: $mobile-side-space;
    }
    .logo-container {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) { //sm
  }
  @media (min-width: 768px) and (max-width: 991.98px) { //md
  }
  @media (min-width: 992px) and (max-width: 1199.98px) { //lg
  }
}
