.products-rancher-rancher-puts-your-security-first-screen1 {
    margin-top: 100px;

    .texts-container {
        padding-top: 170px;

        .title-label {
            color: #fff;
            font-size: 50px;
            text-align: center;
        }

        .description-label {
            margin-bottom: 0;

            color: #fff;
            font-size: 25px;
            font-weight: 100;
            text-align: center;
            line-height: 1.4;
        }
    }

    .middle-image-container {
        margin-top: 150px;
        margin-bottom: -275px;
        padding-right: 0;
        padding-left: 0;

        .decoration {
            &.ground {
                position: absolute;

                bottom: 275px;
                left: 0;

                width: 100%;

                .left {
                    position: absolute;

                    right: 96%;
                    bottom: 0;

                    width: auto;
                    height: 221px;
                }

                .right {
                    position: absolute;

                    left: 96%;
                    bottom: 0;

                    width: auto;
                    height: 180px;
                }
            }
        }
    }

    .rancher-security {
        position: relative;
        overflow: hidden;

        background-color: #fff;
        box-shadow: 15px 25px 75px rgba($c-blue-dark1, .2);
        border-radius: 10px;

        line-height: 0;
        text-align: center;

        &:before {
            content: '';
            position: absolute;

            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: $c-gray-base-light;
        }

        .flow {
            position: relative;
            overflow: hidden;

            width: auto;
            max-height: 550px;
        }
    }
}

.products-rancher-rancher-puts-your-security-first-screen2 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        position: relative;

        padding-top: 475px;

        .decoration-cloud {
            position: absolute;

            top: 4%;
            right: -11%;

            width: auto;
            height: 114px;
        }

        .decoration-ground {
            z-index: 1;
            position: absolute;

            bottom: 0;
            left: -35%;

            width: auto;
            height: 90px;
        }
    }

    .texts-container {
        padding-top: 150px;
        // padding-right: 0;
        padding-bottom: 140px;
        padding-left: 0;

        .title-label {
            line-height: 1.25;
        }
    }

    .texts-wrap {
        width: 58%;
    }

    .thumbnail-container {
        position: relative;
        overflow: hidden;

        width: 300%;
        max-width: 700px;

        margin-top: 220px;
        margin-bottom: -220px;
        margin-left: -40%;

        border-radius: 10px;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }

    .lower-container {
        padding-right: 0;
        padding-left: 0;

        .thumbnail-container {
            overflow: hidden;

            width: 200%;
            max-width: 818px;
            max-height: 475px;

            margin-bottom: -230px;
            margin-left: 14.5%;
        }
    }
}

.products-rancher-rancher-puts-your-security-first-screen3 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        padding-top: 410px;
        padding-bottom: 200px;
    }

    .title-wrap {
        padding-left: 0;
    }

    .title-label {}

    .description-wrap {
        margin-top: 20px;
    }
    .description-label {
        &:last-child {
            margin-bottom: 0;
        }

        &.center {
            text-align: center;
        }
    }

    .thumbnail-container {
        padding-top: 100px;
        padding-bottom: 50px;

        background-image: url('/imgs/products/rancher/rancher-puts-your-security-first/screen3-thumbnail-background.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 200%;
        max-width: 1038px;

        margin-right: auto;
        margin-left: auto;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: 20px 25px 50px rgba($c-blue, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-rancher-puts-your-security-first-screen4 {
    .contents-container {
        padding-top: 150px;
        padding-bottom: 150px;

        >.rancher-logo {
            position: absolute;

            right: 5%;
            bottom: 100%;

            width: 120px;
            height: auto;
        }

        >.ground {
            z-index: 1;
            position: absolute;

            right: 70%;
            bottom: 0;

            width: auto;
            height: 85px;
        }
    }

    .title-label {
        color: #fff;
    }

    .description-label {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .thumbnail-container {
        position: relative;
        overflow: hidden;

        width: 200%;
        max-width: 1036px;

        padding: 40px 0;

        background-color: #fff;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);
        border-radius: 10px;

        line-height: 0;
        text-align: center;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }

    .capture1 {
        margin-top: 60px;
        margin-bottom: 40px;

        .decoration {
            position: absolute;

            top: -18%;
            left: -10%;

            width: 100%;
            max-width: 265px;

            .cloud {
                position: relative;
                display: inline-block;

                width: 100%;
                height: auto;
            }
        }

        .thumbnail-container {
            max-height: 100%;

            line-height: 0;

            .thumbnail {
                max-width: 905px;
            }
        }
    }
}

.products-rancher-rancher-puts-your-security-first-screen5 {
    .contents-container {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .thumbnail-container {
        padding-top: 70px;
        padding-bottom: 70px;

        background-image: url('/imgs/products/rancher/rancher-puts-your-security-first/screen5-thumbnail-background.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }

    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 100%;
        max-width: 450px;

        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;

        border-radius: 10px;
        background-color: #fff;
        box-shadow: 20px 25px 50px rgba($c-blue, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-rancher-puts-your-security-first-screen6 {
    .blind-container {
        line-height: 0;

        .blind-wrap {
            padding-right: 0;
            padding-left: 0;
        }

        .blinder {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }

    .contents-container {
        padding-top: 90px;
        padding-bottom: 250px;
    }

    .thumbnail-container {
        position: relative;

        .thumbnail-wrap {
            position: relative;
            display: inline-block;
            overflow: hidden;

            border-radius: 10px;

            box-shadow: 25px 25px 50px rgba($c-blue-dark1, .15);

            line-height: 0;
        }

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}
