.products-rancher-easy-provisioning-screen1 {
    margin-top: 100px;

    .contents-container {
    }
    
    .texts-container {
        padding-top: 170px;
        padding-bottom: 70px;

        .title-label {
            margin-bottom: 30px;

            color: #fff;
            font-size: 50px;
            text-align: center;
        }

        .description-label {
            margin-bottom: 0;

            color: #fff;
            font-size: 25px;
            font-weight: 100;
            text-align: center;
            line-height: 1.4;
        }
    }

    .middle-image-container {
        margin-top: 70px;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;

        .decoration {
            &.ground {
                position: absolute;

                bottom: 0;
                left: 0;

                width: 100%;

                .left {
                    position: absolute;

                    right: 96%;
                    bottom: 0;

                    width: auto;
                    height: 221px;
                }

                .right {
                    position: absolute;

                    left: 96%;
                    bottom: 0;

                    width: auto;
                    height: 180px;
                }
            }
        }
    }
}

.products-rancher-easy-provisioning-screen2 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        position: relative;

        padding-top: 150px;

        .decoration-cloud {
            position: absolute;

            top: 4%;
            right: -11%;

            width: auto;
            height: 114px;
        }

        .decoration-ground {
            z-index: 1;
            position: absolute;

            bottom: 0;
            left: -35%;

            width: auto;
            height: 90px;
        }
    }

    .texts-container {
        padding-top: 150px;
        // padding-right: 0;
        padding-bottom: 150px;
        padding-left: 0;
    }

    .texts-wrap {
        width: 60%;
    }

    .thumbnail-container {
        position: relative;
        overflow: hidden;

        width: 300%;
        max-width: 600px;

        margin-top: 200px;
        margin-left: -40%;
        padding-top: 50px;
        padding-bottom: 50px;

        background-color: #fff;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);
        border-radius: 10px;

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-easy-provisioning-screen3 {
    .contents-container {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .thumbnail-container {
        position: relative;

        margin-top: 80px;
        margin-bottom: 80px;

        &:before {
            content: '';
            position: absolute;

            top: 50%;
            left: 50%;

            width: 100%;
            height: 100%;

            margin-top: -6%;

            background-image: url('/imgs/products/rancher/easy-provisioning/screen3-thumbnail-background.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include transform(translate(-50%, -50%));
        }
    }

    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 80%;
        max-width: 400px;

        margin-top: 6%;
        margin-right: auto;
        margin-left: auto;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 20px 25px 50px rgba($c-blue, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }

    .texts-container {
        .description-label {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.products-rancher-easy-provisioning-screen4 {
    .decoration {
        padding-right: 0;
        padding-left: 0;

        line-height: 0;

        .cloud {
            z-index: 1;
            position: relative;

            width: calc(100% + 2px);
            height: auto;

            margin-left: -1px;
        }
    }

    .contents-container {
        padding-top: 80px;
        padding-bottom: calc(80px + 280px);
    }

    .texts-container {

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        .title-label {
            color: #fff;
        }

        .description-label {
            color: #fff;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .thumbnail-container {
        margin-top: -280px;
        padding-right: 0;
        padding-left: 0;
    }
    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 100%;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-easy-provisioning-screen5 {
    .contents-container {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .thumbnail-container {
        position: relative;

        margin: 80px 0;
        padding: 0;

        &:before {
            content: '';
            position: absolute;

            top: 50%;
            left: 50%;

            width: 135%;
            height: 135%;

            background-image: url('/imgs/products/rancher/easy-provisioning/screen5-thumbnail-background.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include transform(translate(-50%, -50%));
        }
    }

    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 100%;
        max-height: 525px;

        margin-right: auto;
        margin-left: auto;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 20px 25px 50px rgba($c-blue, .15);

        line-height: 0;
        text-align: center;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }

    .texts-container {
        .description-label {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.products-rancher-easy-provisioning-screen6 {
    .contents-container {}

    .texts-container {
        padding-top: 220px;
        padding-right: 16%;
        padding-bottom: 220px;
        padding-left: 0;

        > .ground-lower {
            position: absolute;

            bottom: 100%;
            right: 60%;

            width: auto;
            height: 60px;
        }
        > .rancher-logo {
            position: absolute;

            bottom: 100%;
            right: 74%;
            
            width: auto;
            height: 22px;

            margin-bottom: 50px;
        }
        > .ground-upper {
            position: absolute;

            bottom: 100%;
            right: 88%;

            width: auto;
            height: 106px;
        }

        > .cloud {
            z-index: 1;
            position: absolute;

            bottom: -1px;
            left: 50%;

            width: auto;
            height: 96px;
        }

        .title-label {
            margin-bottom: 30px;

            color: #fff;
        }
    
        .description-label {
            color: #fff;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .thumbnail-container {
        z-index: 1;

        padding-right: 0;
        padding-left: 0;

        .thumbnail-wrap {
            position: relative;
            display: inline-block;
            overflow: hidden;

            left: 50%;

            width: 300%;
            max-width: 600px;

            border-radius: 10px;
            box-shadow: 15px 25px 75px rgba($c-blue-dark1, .2);

            line-height: 0;

            @include transform(translateX(-50%));
        }

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-easy-provisioning-screen7 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        padding-top: 200px;
        // padding-bottom: 200px;
    }

    .title-label {}

    .description-label {
        &:last-child {
            margin-bottom: 0;
        }

        &.center {
            text-align: center;
        }
    }

    .sub-title-label {
        margin-top: 40px;

        color: $c-blue;
        font-size: 25px;
        text-align: center;
    }

    .thumbnail-container {
        padding-top: 100px;
        padding-bottom: 100px;

        background-image: url('/imgs/products/rancher/easy-provisioning/screen7-thumbnail-background.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        width: 200%;
        max-width: 1038px;

        margin-right: auto;
        margin-left: auto;

        background-color: #fff;
        border-radius: 10px;
        box-shadow: 20px 25px 50px rgba($c-blue, .15);

        line-height: 0;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
        }
    }
}

.products-rancher-easy-provisioning-screen8 {
    .set-ground {
        z-index: -1;
    }

    .contents-container {
        position: relative;

        padding-top: 150px;
        padding-bottom: 250px;

        .decoration-cloud {
            position: absolute;

            top: 4%;
            left: -9%;

            width: auto;
            height: 114px;
        }

        .decoration-ground {
            z-index: 1;
            position: absolute;

            bottom: 0;
            left: 80%;

            width: auto;
            height: 90px;
        }
    }

    .texts-container {
        padding-top: 150px;
        // padding-right: 0;
        padding-bottom: 150px;
        padding-left: 0;
    }

    .texts-wrap {
        padding-right: 10%;
        padding-left: 43%;
    }

    .thumbnail-container {
        z-index: 1;
        position: relative;
        overflow: hidden;

        width: 300%;
        max-width: 700px;

        margin-left: -40%;
        padding-top: 20px;
        padding-bottom: 20px;

        background-color: #fff;
        box-shadow: 20px 25px 50px rgba($c-blue-dark1, .15);
        border-radius: 10px;

        line-height: 0;
        text-align: center;

        .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            max-width: 540px;
            height: auto;
        }
    }
}
