.rancher {
  &-note-item {
    position: relative;

    .background-white-side-right {
      &:before {
        margin-left: 0;
      }
    }

    .content-container {
      position: relative;
    }
    .texts-container {
      display: flex;

      flex-wrap: wrap;

      // margin-top: 10px;
      padding: 50px 40px;

      .icon-container {
        position: relative;

        flex: 0 0 80px;

        .icon {
          position: relative;

          width: 50%;
          height: auto;
        }
      }
    }
    .texts-wrap {
      position: relative;

      flex: 1;

      .description-label {
        margin-bottom: 0;

        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 400;
        line-height: 1.5;
      }

      .buttons-container {
        margin-top: 10px;
      }
    }

    &.floating {
      .content-container {
        position: absolute;

        bottom: 0;

        width: 100%;
      }
    }

    @media (max-width: 575.98px) {
      .texts-container {
        margin-top: -40px;
        padding: 30px;

        // background-color: transparent;

        &:before {
          display: none;
        }

        .icon-container {
          flex: 0 0 40px;
        }

        .description-label {
          margin-top: -5px;

          font-size: 16px;
          line-height: 1.5;
        }

        .buttons-container {
          margin-top: 25px;

          text-align: left;
        }
        .button {
          margin-top: 0;

          width: auto;
          height: auto;

          font-size: 14px;
        }
      }

      &.floating {
        .content-container {
          position: relative;

          width: calc(100% - 32px);

          margin-left: 16px;
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .texts-container {
        padding: 40px 30px;

        .icon-container {
          flex: 0 0 50px;
        }

        .texts-wrap {
          flex: 0 0 100%;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .texts-container {
        .icon-container {
          flex: 0 0 60px;
        }

        .texts-wrap {
          flex: 0 0 100%;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
  }

  &-screen2 {
    z-index: 1;

    background-color: #fff;

    @media (max-width: 575.98px) {
      background-color: transparent;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .label {
        line-height: 1.5;
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }

    .contents-container {
      padding-top: 200px;
      padding-bottom: 180px;

      @media (max-width: 575.98px) {
        padding-top: 50px;
        padding-bottom: 55px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .video-round-item {
      position: relative;
      display: inline-block;

      width: 100%;

      @media (max-width: 575.98px) {
        margin-top: 40px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .video-thumbnail {
      position: relative;
      display: inline-block;
      overflow: hidden;

      width: 100%;

      background-color: $c-blue-gray;
      box-shadow: 20px 25px 50px rgba($c-blue, .15);
      border-radius: 50%;

      line-height: 0;

      .thumbnail-item {
        position: relative;
        display: inline-block;
        overflow: hidden;

        width: 100%;
        height: auto;

        border-radius: 50%;
      }

      &.float-thumbnail {
        padding-bottom: 100%;

        .thumbnail-item {
          top: 50%;
          left: 50%;

          @include transform(translate(-50%, -50%));
        }
      }
    }

    .video-button {
      position: relative;
      display: inline-block;

      &.top,
      &.right,
      &.bottom,
      &.left {
        position: absolute;
      }

      &.top {
        top: 0;
      }

      &.right {
        right: 0;

        margin-right: -5px;
      }

      &.bottom {
        bottom: 0;

        margin-bottom: -5px;
      }

      &.left {
        left: 0;
      }

      button {
        &.button {
          width: 95px;
          height: 95px;

          background-color: $c-green;
          border: 5px solid #fff;
          border-radius: 50%;

          @include borderBox();

          .icon {
            position: absolute;

            top: 50%;
            left: 50%;

            width: 50px;
            height: auto;

            margin: 0;

            .svg-face {
              fill: #fff;
            }

            @include transform(translate(-50%, -50%));
          }
        }
      }
      @media (max-width: 575.98px) {
        &.bottom {
          bottom: 10%;
        }
        &.right {
          right: 10%;
        }

        button.button {
          width: 45px;
          min-width: 0;
          height: 45px;

          padding: 0;

          border-width: 2px;
        }
        button.button .icon {
          width: 65%;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .label {
      @media (max-width: 575.98px) {
        line-height: 2;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .title-label {
      margin-bottom: 15px;

      line-height: 1.25;
    }

    .buttons-container {
      margin-top: 40px;

      .button {
        &.has-icon-left {
          .icon {
            &.left {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      @media (max-width: 575.98px) {
        .button {
          max-width: 260px;

          font-size: 14px;

          .icon {
            width: 2em;
            height: 2em;
          }
          .icon.right {
            right: 15px;
          }
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) { //sm
      }
      @media (min-width: 768px) and (max-width: 991.98px) { //md
      }
      @media (min-width: 992px) and (max-width: 1199.98px) { //lg
      }
    }
  }

  &-screen4 {
    .set-ground {
      &.vertical-half {
        margin-left: 0;

        height: 50%;
      }
    }

    .contents-container {
      padding: 200px 0;

      .label,
      .title-label {
        text-align: center;
      }

      .label {
        position: absolute;

        top: 0;
        left: 50%;

        width: 100%;

        @include transform(translateX(-50%));
      }
    }

    .decoration {
      top: 50%;
      left: 50%;

      width: 82%;

      margin-top: 8px;

      @include transform(translate(-50%, -50%));

      .rancher-logo {
        position: absolute;

        top: 50%;
        left: 50%;

        width: 60%;

        margin-top: -8px;

        @include transform(translate(-50%, -50%));
      }
    }

    .card-container {
      position: relative;

      height: calc(100% - 62px);

      margin-top: 62px;
      margin-bottom: 0;
      padding: 50px;

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 15px 25px 75px rgba($c-blue-dark1, .1);

      ul {}

      li {
        position: relative;

        margin-bottom: 27px;

        font-size: 15px;
        line-height: 1.667;

        &:last-child {
          margin-bottom: 0;
        }

        .icon {
          position: absolute;

          top: 3px;
          left: 0;

          width: 25px;
          height: 25px;
        }
      }

      .check-left {
        li {
          padding-left: 45px;
        }
      }
    }

    @media (max-width: 575.98px) {
      .contents-container {
        padding: 0;
      }

      .middle-container {
        overflow: hidden;

        background-color: $c-gray-base-light;

        .title-label {
          padding: 60px 5% 65px;

          line-height: 1.4;
        }

        .decoration {
          top: 100%;
          left: 50%;

          margin-top: 0;

          text-align: center;

          @include transform(translate(-50%, -50%));
        }
        .decoration.floating .cloud {
          width: 60%;
          height: auto;
        }
        .decoration.floating .rancher-logo {
          top: initial;
          bottom: 50%;

          width: 100%;
          max-width: 90px;
          height: auto;

          @include transform(translate(-50%, 0));
        }
      }

      .left-container,
      .right-container {
        .label {
          padding-top: 40px;
        }

        .card-container {
          margin-top: 75px;
          padding: 38px 23px;
        }
        .card-container li {
          margin-bottom: 21px;
          padding-left: 45px;

          font-size: 16px;
          font-weight: 300;
          line-height: 1.625;
        }
        .card-container li:last-child {
          margin-bottom: 0;
        }
        .card-container li .icon {
          width: 30px;
          height: 30px;
        }
      }
      .right-container {
        margin-top: 20px;
      }
    }
    @media (min-width: 576px) and (max-width: 991.98px) {
      .contents-container {
        padding-top: 300px;
      }

      .middle-container {
        margin-top: -200px;

        .title-label {
          z-index: 3;
        }

        .decoration.decoration.floating {
          z-index: 1;

          width: 25%;

          margin-top: 5%;
        }
      }

      .left-container,
      .right-container {
        z-index: 2;
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .contents-container {
        padding-top: 100px;
      }
    }
  }

  &-screen5 {
    .contents-container {
      margin-bottom: 200px;
      padding-right: 40px;
      padding-left: 40px;

      &:first-child {
        margin-bottom: 100px;
      }

      @media (max-width: 575.98px) {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

        &:first-child {
          margin-top: 80px;
          margin-bottom: 40px;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .title-label {
      @media (max-width: 575.98px) {
        font-size: 25px;
        line-height: 1.4;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .sub-title-label {
      margin-top: 0;
      margin-bottom: 15px;

      font-family: 'Poppins';
      font-weight: 300;

      @media (max-width: 575.98px) {
        margin-bottom: 10px;

        font-size: 22px;
        line-height: 1.4;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .buttons-container {
      margin-top: 70px;

      .button {
        min-width: 210px;
      }

      &.sub {
        margin-top: 2px;

        .button {
          min-width: 0;
          height: auto;
        }
      }

      @media (max-width: 575.98px) {
        margin-top: 30px;

        .button {
          width: auto;
          min-width: 0;
          height: 40px;

          padding: 0 20px;

          line-height: 40px;
        }
        button.text {
          height: auto;

          padding: 0;

          line-height: 1.2;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .text-with-thumbnail {
      position: relative;
      display: flex;

      flex-wrap: wrap;

      padding-left: 0;
      padding-right: 0;

      &:nth-child(2n) {
        padding-right: 15px;
      }

      &:nth-child(2n-1) {
        padding-left: 15px;
      }

      .thumbnail-container {
        position: relative;

        flex: 1;

        max-width: 220px;
      }

      .thumbnail-item {
        position: relative;
        display: inline-block;
        overflow: hidden;

        width: 175px;
        height: 175px;

        // background-color: $c-blue-gray;
        box-shadow: 20px 25px 50px rgba($c-blue, .05);
        border-radius: 50%;

        img {
          position: absolute;
          display: inline-block;

          top: 50%;
          left: 50%;

          width: 100%;
          height: auto;

          @include transform(translate(-50%, -50%));
        }
      }

      .texts-container {
        position: relative;

        flex: 1;
      }
    }

    .browser1,
    .browser2 {
      .content .item {
        max-height: 350px;
      }
    }

    .thumbnail-container {
      .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        border-radius: 10px;
      }

      .thumbnail {
        position: relative;
        display: inline-block;

        width: 100%;
        height: auto;
      }
    }

    @media (max-width: 575.98px) {
      .browser {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .thumbnail-container {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .text-with-thumbnail {
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }
      .text-with-thumbnail .thumbnail-container {
        flex: 0 0 95px;

        max-width: 95px;
        height: 95px;
      }
      .text-with-thumbnail .thumbnail-container .thumbnail-item {
        width: 100%;
        height: 100%;
      }
      .text-with-thumbnail .texts-container {
        flex: 0 0 100%;
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }
  }

  &-screen6 {
    @media (max-width: 575.98px) {
      z-index: 2;
    }

    .contents-container {
      padding-top: 70px;
      padding-bottom: 70px;

      .title-label {
        margin-bottom: 0;

        color: #fff;
        line-height: 1.25;
      }

      .description-label {
        margin-bottom: 0;

        color: #fff;
      }

      .thumbnail-container {
        .thumbnail-wrap {
          position: relative;

          width: 100%;

          .thumbnail {
            position: relative;
            display: inline-block;

            width: 100%;
            height: auto;
          }
        }
      }

      @media (max-width: 575.98px) {
        padding-top: 65px;
        padding-bottom: 65px;

        .description-label {
          margin-top: 20px;
        }

        .thumbnail-container {
          margin-top: 30px;
        }
        .thumbnail-container .thumbnail-wrap {
          text-align: center;
        }
        .thumbnail-container .thumbnail-wrap .thumbnail {
          width: 84%;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .label {
          margin-bottom: 20px;
        }
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .label {
          margin-bottom: 30px;
        }
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }
  }

  &-screen7 {
    // background-color: $c-gray-base-light;

    .contents-container {
      padding: 350px 0;

      @media (max-width: 575.98px) {
        margin-top: 60px;

        padding: 30px 0;

        &:before {
          content: '';
          position: absolute;

          bottom: 0;
          left: 0;

          width: 100%;
          height: 100px;

          background: #f2f5f5;
          background: -moz-linear-gradient(top, #f2f5f5 0%, #ffffff 100%);
          background: -webkit-linear-gradient(top, #f2f5f5 0%, #ffffff 100%);
          background: linear-gradient(to bottom, #f2f5f5 0%, #ffffff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f5', endColorstr='#ffffff', GradientType=0);
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .card-container {
      padding: 0 20px;

      @media (max-width: 575.98px) {
        margin-bottom: 30px;
        padding: 0 $mobile-side-space;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .card-item {
      position: absolute;

      top: 50%;
      left: 50%;

      width: calc(100% - 30px);

      vertical-align: middle;

      margin: 15px 0;
      margin-top: 0;
      padding: 50px 30px 40px;

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 15px 25px 75px rgba($c-blue-dark1, .1);

      text-align: center;

      @include transition(all .25);

      @include transform(translate(-50%, -50%));

      @media (max-width: 575.98px) {
        margin: 0;
        padding: 30px 22px 40px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        // position: relative;

        // top: initial;
        // left: initial;

        // width: 100%;

        // @include transform(translate(0, 0));
      }

      .thumbnail-container {
        text-align: center;
      }

      .thumbnail-wrap {
        position: relative;
        display: inline-block;

        width: 100%;

        margin-bottom: 30px;

        border-radius: 50%;

        line-height: 0;

        opacity: 1;

        // @include transition(all .25s);

        .thumbnail {
          position: relative;
          display: inline-block;

          width: 100%;
          height: auto;
        }
      }

      .title-label {
        margin-bottom: 0;

        font-size: 25px;
        font-weight: 300;
        line-height: 1.4;
        text-align: center;

        @include textElipsis(2, 1.4);

        @media (max-width: 575.98px) {
          font-size: 1.2em;

          @include textElipsis(4, 1.4);
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 1.2em;

          @include textElipsis(4, 1.4);
        }
      }

      .description-label {
        position: relative;

        margin-bottom: 0;

        height: 11.69em;
        max-height: 0 !important;

        font-size: 15px;
        font-weight: 400;
        line-height: 1.67;
        text-align: center;

        opacity: 0;

        @include textElipsis(7, 1.67);
        @include transition(opacity .25s);

        @media (max-width: 575.98px) {
          font-size: 1em;
          line-height: 1.7;
        }
      }

      hr {
        width: 90px;

        margin: 0 auto;

        border: 0px none white;
        border-top: 1px solid $c-sky-blue;

        opacity: 0;

        // @include transition(max-width .25s, margin .25s, opacity .25s);

        @media (max-width: 575.98px) {
          max-width: 40px;

          margin: 15px 0;
        }
      }

      .button {
        margin-top: 30px;

        @media (max-width: 575.98px) {
          margin-top: 0;
        }
      }

      @media (max-width: 575.98px) {
        position: relative;

        top: initial;
        left: initial;

        width: 100%;

        margin: 0;
        padding: 30px 20px 40px;

        @include transform(translate(0, 0));
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }
  }

  &-screen8 {
    .thumbnail-container {
      z-index: 1;

      padding-right: 0;
      padding-left: 0;

      .thumbnail-wrap {
        position: relative;
        overflow: hidden;

        max-height: 550px;

        margin-top: 200px;
        margin-right: -20%;

        box-shadow: 10px 15px 50px rgba($c-blue, .1);

        line-height: 0;

        .thumbnail {
          position: relative;

          width: 100%;
          height: auto;
        }
      }
    }

    .texts-container {
      z-indeX: 1;

      padding-top: 200px;
      padding-bottom: 200px;
      padding-left: 0;

      &:after {
        content: '';
        position: absolute;

        top: 0;
        right: 100%;

        width: 25%;
        height: 100%;

        background-color: $c-gray-base-light;
      }

      .ground-cloud {
        position: absolute;

        left: -20%;
        bottom: 100%;

        width: auto;
        height: 62px;
      }
    }

    @media (max-width: 575.98px) {
      .contents-container {
        padding-top: 60px;
      }

      .texts-container {
        z-index: 1;

        padding: 40px 25px;

        &:after {
          display: none;
        }

        .ground-cloud {
          left: 30%;

          height: 30px;
        }

        .buttons-container .button {
          max-width: 210px;
        }
      }

      .thumbnail-container {
        z-index: 0;

        margin-top: -40px;

        .thumbnail-wrap {
          margin-top: 0;
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .texts-container {
        padding-top: 50px;
        padding-bottom: 50px;

        &:after {
          content: '';
          width: 10%;
        }

        .ground-cloud {
          left: 0;

          height: 40px;
        }
      }

      .thumbnail-container {
        .thumbnail-wrap {
          margin-top: 12%;
        }
        .thumbnail-wrap .thumbnail {
          left: 50%;

          width: 150%;

          @include transform(translateX(-50%));
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .texts-container {
        padding-top: 100px;
        padding-bottom: 100px;

        &:after {
          content: '';
          width: 16.6666%;
        }
      }

      .thumbnail-container {
        .thumbnail-wrap {
          margin-top: 20%;
        }
        .thumbnail-wrap .thumbnail {
          left: 50%;

          width: 125%;

          @include transform(translateX(-50%));
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .texts-container {
        padding-top: 120px;
        padding-bottom: 120px;

        &:after {
          content: '';
          width: 16.6666%;
        }
      }
    }
  }

  &-screen9 {
    z-index: 1;

    color: #fff;

    .label-container {
      background-color: $c-blue-dark1;

      .head-label {
        padding-left: 0;

        line-height: 100px;

        &:before {
          left: initial;
          margin-right: 0;
          border-right: 1px solid $c-gray-base-light;
        }
      }

      // @media (max-width: 575.98px) {
      //   background-color: transparent;

      //   .head-label {
      //     background-color: transparent;
      //   }
      // }

      .label {
        margin-bottom: 0;

        // @media (max-width: 1279px) {
        //   padding: 0 15px;
        // }

        // @media (max-width: 575.98px) {
        //   margin-top: 0;
        //   margin-right: auto;
        //   margin-bottom: 44px;
        //   margin-left: auto;

        //   max-width: 220px;

        //   line-height: 2;
        //   text-align: center;
        // }
      }
    }

    .texts-container {
      padding: 100px 0 35px;

      &:after {
        border-left: 0;
      }

      &:first-child {
        margin-bottom: 0;
      }
    }

    .easy-steps {
      .title-label {
        b {
          font-weight: 400;
        }
      }

      .description-label {
        color: rgba(#fff, .5);
      }

      .description-label.more-container {
        margin-top: 70px;
      }
    }

    .a-underline {
      color: $c-sky-blue;

      span::before {
        background-color: rgba($c-sky-blue, .15);
      }
    }

    .a-underline:hover {
      span:before {
        background-color: rgba($c-sky-blue, .3);
      }
    }

    .easy-steps-detail {
      .row {
        margin-bottom: 25px;
        padding-bottom: 25px;

        border-bottom: 1px solid rgba(#fff, .25);

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;

          border: 0;
        }
      }

      .title-container {
        padding-left: 0;

        .number-label {
          position: absolute;

          color: rgba(#fff, .1);
          font-family: 'Poppins';
          font-size: 75px;
          font-weight: 400;
          line-height: 75px;
        }

        .title-label {
          margin-left: 30px;

          font-family: 'Poppins';
          font-size: 25px;
          font-weight: 400;
          line-height: 75px;
        }
      }

      .description-container {
        padding-right: 0;

        .description-label {
          color: rgba(#fff, .85);
          font-size: 15px;
          line-height: 1.6;
        }

        .description-label.code {
          padding: 20px;

          color: $c-blue;
          font-family: 'Source Code Pro', monospace;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.675;

          background-color: #fff;
          border-radius: 10px;
        }
      }
    }

    .background-lower {
      position: relative;

      width: 100%;

      text-align: right;
      line-height: 0;

      .item-container {
        position: relative;
        display: inline-block;

        line-height: 0;

        &:before {
          width: 4000px;
        }

        .lower {
          position: relative;
          display: inline-block;

          width: auto;
          height: 65px;
        }
      }
    }

    @media (max-width: 575.98px) {
      z-index: 1;

      margin-top: 0;

      background-color: transparent;


      .label-container {
          background-color: $c-blue-dark1;
      }
      .label-container .head-label {
        background-color: transparent;
      }
      .label-container .label {
        max-width: 100%;

        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 60px;
        padding-right: $mobile-side-space;
        padding-bottom: 0;
        padding-left: $mobile-side-space;

				line-height: 2;
				text-align: left;
      }
      .label-container .label br {
        display: none;
      }

      .texts-container {
        padding: 20px 0;

			  background-color: $c-blue-dark1;
      }

      .easy-steps {
        padding-right: $mobile-side-space;
			  padding-left: $mobile-side-space;
      }
      .easy-steps .description-label {
        font-size: 1em;
				font-weight: 400;
				line-height: 1.6;
      }
      .easy-steps .description-label.more-container {
        margin-top: 20px;

				color: #fff;

				font-size: .925em;
				line-height: 2.2;
				font-weight: 400;
      }

      .a-underline:first-child::after {
        content: '';
        display: block;

        clear: both;
      }

      .easy-steps-detail {
        margin-top: 35px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }
      .easy-steps-detail .row {
        margin-bottom: 10px;
				padding-bottom: 0;

				border-bottom: 0;
      }
      .easy-steps-detail .title-container {
        padding-right: $mobile-side-space;
				padding-left: $mobile-side-space;
      }
      .easy-steps-detail .title-container .number-label {
        font-size: 3.25em;
        font-weight: 500;
        line-height: 1.5em;
      }
      .easy-steps-detail .title-container .title-label {
        margin-left: 20px;
        margin-bottom: 0;

        font-size: 1.4em;
        font-weight: 500;
      }
      .easy-steps-detail .description-container {
        margin-top: -5px;
				padding-right: $mobile-side-space;
				padding-left: 35px;
      }
      .easy-steps-detail .description-container .description-label {
        color: rgba(#fff, .75);
        font-size: 1em;
        line-height: 1.75;
      }
      .easy-steps-detail .description-container .description-label.code {
        color: #0075a8;
				font-size: .9em
      }

      .background-lower {
        margin-top: -1px;
      }
      .background-lower .item-container .lower {
        width: auto;
        height: 50px;
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .label-container {
        .head-label {
          padding-left: $mobile-side-space;
        }
        .head-label .label {
          margin-top: 40px;
          margin-bottom: 40px;

          line-height: 1.5;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .label-container {
        .head-label {
          padding-left: $mobile-side-space;
        }
        .head-label .label {
          margin-top: 40px;
          margin-bottom: 40px;

          line-height: 1.5;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .label-container {
        .head-label {
          padding-left: $mobile-side-space;
        }
        .head-label .label {
          margin-top: 40px;
          margin-bottom: 40px;

          line-height: 1.5;
        }
      }
    }
  }

  &-screen10 {
    margin-top: -65px;

    // background-image: url('../../../static/imgs/background-learn-how-rancher-works.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (max-width: 575.98px) {
      background-color: $c-gray-base-light;
      background-image: none;
    }

    .row {
      padding: 225px 0;

      @media (max-width: 575.98px) {
        margin-top: 60px;

        padding: 45px 0 60px;

        &:before {
          content: '';
          position: absolute;

          bottom: 0;
          left: 0;

          width: 100%;
          height: 100px;

          background: #f2f5f5;
          /* Old browsers */
          background: -moz-linear-gradient(top, #f2f5f5 0%, #ffffff 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #f2f5f5 0%, #ffffff 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #f2f5f5 0%, #ffffff 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f5', endColorstr='#ffffff', GradientType=0);
          /* IE6-9 */
        }
      }
    }

    .texts-container {
      .title-label {
      }
    }

    .card-container {
      padding: 0 20px;
    }
    @media (max-width: 575.98px) {
      .texts-container .title-label {
        margin-bottom: 30px;

        br {
          display: none;
        }
      }

      .card-container {
        margin-bottom: 30px;
        padding: 0 $mobile-side-space;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .row {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .align-items-center {
        align-items: flex-start !important;
      }

      .texts-container {
        text-align: center;

        .label {
          margin-bottom: 20px;
        }

        .title-label br {
          display: none;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .row {
        padding-top: 150px;
        padding-bottom: 150px;
      }

      .align-items-center {
        align-items: flex-start !important;
      }

      .texts-container {
        text-align: center;

        .label {
          margin-bottom: 30px;
        }

        .title-label br {
          display: none;
        }
      }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }

    .card-item {
      vertical-align: middle;

      margin: 15px 0;
      padding: 50px 30px 40px;

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 15px 25px 75px rgba($c-blue-dark1, .1);

      @include transition(margin .25s, padding .25s, background-color .25s);

      @media (max-width: 575.98px) {
        margin: 0;
        padding: 30px 22px 40px;
      }

      .title-label {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.4;
      }

      .description-label {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.67;

        @media (max-width: 575.98px) {
          font-size: 1em;
          line-height: 1.7;
        }
      }

      hr {
        width: 30%;

        margin: 30px 0;

        border: 0px none white;
        border-top: 1px solid $c-sky-blue;

        @include transition(max-width .25s, margin .25s);

        @media (max-width: 575.98px) {
          max-width: 40px;

          margin: 15px 0;
        }
      }

      .button {
        @media (max-width: 575.98px) {
          margin-top: 0;

          text-align: left;
        }
      }
    }

    // .card-container.active .card-item,
    // .card-container:hover .card-item {
    //   margin: -15px;
    //   padding: 80px 60px 70px;
    //   color: #fff;

    //   background-color: $c-blue;

    //   @media (max-width: 575.98px) {
    //     margin: 0;
    //     padding: 30px 22px 40px;
    //   }

    //   .button {
    //     color: #fff;

    //     span:before {
    //       bottom: -5px;

    //       height: 1px;

    //       background-color: rgba(#fff, 1);
    //     }

    //     &:hover {
    //       span:before {
    //         background-color: rgba($c-sky-blue, 1);
    //       }
    //     }
    //   }
    // }
  }
}



.rancher-screen3 {
  color: #fff;

  background-color: $c-blue-dark1;

  .label-container {
    .head-label {
      padding-right: 0;
      padding-left: 0;
      
      line-height: 150px;
    }
        
    .label {
      margin-bottom: 0;
    }
            
    .head-button {
      padding-right: 0;
      padding-left: 0;

      text-align: right;

      .decoration {
        width: 360px;

        line-height: 0;
      }
      .decoration.floating {
        top: 50%;
        left: 0;

        @include transform(translate(-16.5%, -50%));
      }

      .buttons-container {
        display: inline-block;

        .button {
          min-width: 210px;

          margin: 50px 0;
        }
      }
    }
  }

  .texts-container {
    padding: 100px 0;

    &:first-child {
      margin-bottom: 0;
    }
  }
  .list-container {
    .list-wrap {}
    .list-item {
      position: relative;

      // margin-bottom: 20px;
      padding: 20px 0;

      border-bottom: 1px solid rgba(#ddd, .25);

      cursor: pointer;

      &:last-child {
        margin-bottom: 0;

        border-bottom: 0;
      }

      .title-label {
        font-family: 'Poppins';
        font-weight: 500;

        opacity: .25;

        @include transition(all .25s);
      }

      .description-label {
        font-weight: 400;

        opacity: .25;

        @include transition(all .25s);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .icon {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        width: 40px;
        height: 40px;

        opacity: 0;
        
        @include transition(all .25s);

        &.right {
          position: absolute;

          top: 50%;
          right: -35px;

          @include transform(translateY(-50%));
        }

        .svg-linear {
          fill: none;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          
          @include transition(all .25s);
        }
      }
      &:hover {
        .title-label,
        .description-label {
          opacity: .5
        }

        .icon {
          opacity: .5;
        }
        .icon.right {
          right: -45px;
        }
      }
      &.active {
        .title-label,
        .description-label {
          opacity: 1;
        }

        .icon {
          opacity: 1;
        }

        .icon.right {
          right: -55px;
        }
      }
    }
    &.has-arrow {
      .list-item {
        // margin-right: 70px;

        .description-label {
          margin-top: 15px;
        }
      }
    }
  }
  
  .active-container {
    padding: 100px 0;

    @media (max-width: 575.98px) {
      padding: 45px $mobile-side-space;

      background-color: $c-blue-dark1;
    }
  }
  .active-image-conainer {
    position: relative;
  }
  .active-image-wrap {
    position: relative;
    display: flex;

    flex-wrap: wrap;

    padding: 40px 85px;

    background-color: rgba(#fff, .025);
    border-radius: .75em;

    .active-item {
      flex: 1;

      opacity: .25;

      @include transition(opacity .25s);

      &.active {
          opacity: 1;
      }

      &:first-child {
          margin-right: auto;
      }

      .title-label {
        position: absolute;
        display: inline-block;

        color: #fff;
        font-size: 28px;
        font-family: 'Poppins';
        font-weight: 500;
        line-height: 1;

        white-space: nowrap;
        
        &.box {
          padding: 12px 30px;

          font-size: 18px;
          
          background-color: #429bd4;
          border-radius: 3em;
        }
      }
      &.item-devops {
        position: relative;
        
        flex: 0 0 47.5%;
        max-width: 47.5%;
        
        .title-label {
          top: 50%;
          left: 0;

          margin-left: -14%;
          
          @include transform(translate(-50%, -50%) rotate(-90deg));
        }
      }
      &.item-central_it {
        position: relative;

        flex: 0 0 47.5%;
        max-width: 47.5%;

        .title-label {
          top: 50%;
          left: 100%;

          margin-left: 14%;

          @include transform(translate(-50%, -50%) rotate(90deg));
        }
      }
      &.item-infrastructure {
        flex: 0 0 100%;
        max-width: 100%;

        margin-top: 2%;

        .title-label.box {
          top: 100%;
          left: 50%;

          @include transform(translate(-50%, -50%));
        }
      }

      .active-image {
        position: relative;
        display: inline-block;

        width: 100%;
        height: auto;

        line-height: 0;
      }
    }

    @media (max-width: 575.98px) {
      padding: 30px 50px;
    }
    @media (min-width: 576px) and (max-width: 767.98px) { //sm
    }
    @media (min-width: 768px) and (max-width: 991.98px) { //md
    }
    @media (min-width: 992px) and (max-width: 1199.98px) { //lg
    }
  }

  @media (max-width: 575.98px) {
    z-index: 1;

    margin-top: 36px;

    background-color: transparent;

    .label-container {
      .head-label {
        padding-top: 40px;
        padding-right: $mobile-side-space;
        padding-bottom: 40px;
        padding-left: $mobile-side-space;

        line-height: 1;

        background-color: $c-blue-dark1;

        .label {
          line-height: 1.2;
        }
      }

      .head-button {
        position: relative;

        padding-right: $mobile-side-space;

        background-color: $c-blue-dark1;

        .decoration {
          display: none
        }

        .buttons-container {
          position: relative;

          top: 50%;

          width: 100%;

          @include transform(translateY(-50%));

          .button {
            margin: auto 0;
            padding: 12px 20px;
            
            width: 100%;
            min-width: 100%;
            height: auto;
            
            font-size: 14px;

            white-space: normal;
          }
        }
      }
    }

    .list-container.has-arrow .list-item:last-child {
      padding-bottom: 0;
    }
    .list-container.has-arrow .list-item .title-label {
      opacity: 1;
    }
    .list-container.has-arrow .list-item .description-label {
      margin-bottom: 0;

      opacity: .75;
    }

    .active-container {
      padding-top: 0;
      padding-bottom: 50px;
      padding-right: $mobile-side-space;
    }
    .active-image-wrap {
      padding: 40px 56px;

      .active-item {
        opacity: 1;

        .title-label {
          font-size: 16px;
        }
      }
    }

    .texts-container {
      padding: 45px $mobile-side-space;
      padding-top: 0;

      background-color: $c-blue-dark1;
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .label-container {
      .head-label {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

        line-height: 1;

        .label {
          line-height: 1.2;
        }
      }

      .head-button {
        position: relative;

        padding-right: $mobile-side-space;

        .decoration {
          width: 200px;
        }

        .buttons-container {
          position: relative;

          top: 50%;

          @include transform(translateY(-50%));

          .button {
            margin: auto 0;
          }
        }
      }
    }

    .active-container {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: $mobile-side-space;
    }
    .active-image-wrap {
      padding: 40px 56px;

      .active-item {
        &.item-devops,
        &.item-central_it,
        &.item-infrastructure {
          flex: 0 0 100%;
          max-width: 100%;
        }

        &.item-central_it {
          order: 1;

          text-align: center;
        }
        &.item-central_it .title-label {
          position: relative;
          display: block;

          top: 0;
          left: 0;

          margin-bottom: 10px;
          margin-left: 0;

          text-align: center;

          @include transform(translate(0, 0) rotate(0));
        }
        &.item-central_it .active-image {
          max-width: 180px;
        }

        &.item-devops {
          order: 2;

          text-align: center;
        }
        &.item-devops .title-label {
          position: relative;
          display: block;

          top: 0;
          left: 0;

          margin-top: 20px;
          margin-bottom: 10px;
          margin-left: 0;

          text-align: center;

          @include transform(translate(0, 0) rotate(0));
        }
        &.item-devops .active-image {
          max-width: 180px;
        }

        &.item-infrastructure {
          order: 3;

          margin-top: 20px;
        }
        &.item-infrastructure .title-label {
        }

        .title-label {
          font-size: 20px;
        }
      }
    }

    .texts-container {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .label-container {
      .head-label {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

        line-height: 1;

        .label {
          line-height: 1.2;
        }
      }

      .head-button {
        position: relative;

        padding-right: $mobile-side-space;

        .decoration {
          width: 200px;
        }

        .buttons-container {
          position: relative;

          top: 50%;

          @include transform(translateY(-50%));

          .button {
            margin: auto 0;
          }
        }
      }
    }

    .active-container {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: $mobile-side-space;
    }
    .active-image-wrap {
      padding: 40px 56px;

      .active-item .title-label {
        font-size: 20px;
      }
    }
    .texts-container {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .label-container {
      .head-label {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

        line-height: 1;

        .label {
          line-height: 1.2;
        }
      }

      .head-button {
        position: relative;

        padding-right: $mobile-side-space;

        .decoration {
          width: 200px;
        }

        .buttons-container {
          position: relative;

          top: 50%;

          @include transform(translateY(-50%));

          .button {
            margin: auto 0;
          }
        }
      }
    }

    .active-container {
      padding-right: $mobile-side-space;
    }
    .texts-container {
      padding-right: $mobile-side-space;
      padding-left: $mobile-side-space;
    }
  }
}
