.ndvr {
	h2.title-label {
		margin: 2rem 0;
	}

	.customers-screen3 {
		background-color: white !important;
	}

	.community-videos-and-podcasts-screen4 .sliders-container {
		margin-top: 0;
	}

	.in-page-menus-container {
		display: flex;

		.menu-wrap {
		    display: flex;
		    flex-wrap: wrap;
		    flex: 1;

			.menu-item {
				display: flex;
			    flex: 1 1 150px;
			    font-family: $font-set;
			    font-size: 14px;
			    background-color: $c-gray-mid-light;
			    border: 1px solid white;
			    justify-content: center;
			    align-items: center;
			    transition: all 300ms $animate-cubic-in-out;

				&:first-child {
					border-left: none;
				}

				&:last-child {
					border-right: none;
				}

			    &:hover, &.active {
			    	cursor: pointer;
			    	background-color: $c-blue;
			    }

			    a {
			    	color: white;
			    	text-transform: uppercase;
			    	color: white;
			    	font-weight: 500;
			    	display: flex;
					justify-content: center;
					align-items: stretch;
					padding: 20px;
					flex: 1;
			    }
			}
		}
	}
}