// -----------------------------------------------------------------------------
// This file contains styles that are specific to the testimonials page and partial page.
// -----------------------------------------------------------------------------

.testimonials {
  position: relative;

  img {
    max-height: 75px;
    filter: grayscale(100%);
    transition: ease-in-out all .3s;

    &:hover {
      filter: grayscale(0);
    }
  }
}

.testimonial {
  border: solid thin $light-grey;
  box-shadow: 0 0 15px $shadow;
  background-color: white;
}

//homepage testimonials
.hp-testimonials {
  position: relative;


  img {
    max-height: 75px;
    filter: grayscale(100%);
    transition: ease-in-out all .3s;

    &:hover {
      filter: grayscale(0);
    }
  }

  .testimonial, .testimonial blockquote {
    text-align: left;
    color: $link-color;
  }
}
