.why-rancher {
  &-screen2 {
    z-index: 1;

    .contents-container {
      padding-top: 100px;
      // padding-bottom: 180px;

      @media (max-width: 575.98px) {
        padding-top: 45px;
        // padding-bottom: 70px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 70px;
        // padding-bottom: 70px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 100px;
        // padding-bottom: 100px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-top: 150px;
        // padding-bottom: 150px;
      }
    }

    .video-container {
      @media (max-width: 575.98px) {
        text-align: center;
      }
    }
    .video-round-item {
      position: relative;
      display: inline-block;

      width: 100%;

      @media (max-width: 575.98px) {
        width: 65%;

        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;

        text-align: center;
      }
    }
    .video-thumbnail {
      position: relative;
      display: inline-block;
      overflow: hidden;

      width: 100%;

      background-color: $c-blue-gray;
      box-shadow: 20px 25px 50px rgba($c-blue, .15);
      border-radius: 50%;

      line-height: 0;

      .thumbnail-item {
        position: relative;
        display: inline-block;
        overflow: hidden;

        width: 100%;
        height: auto;

        border-radius: 50%;
      }

      &.float-thumbnail {
        padding-bottom: 100%;

        .thumbnail-item {
          top: 50%;
          left: 50%;

          @include transform(translate(-50%, -50%));
        }
      }
    }
    .video-button {
      position: relative;
      display: inline-block;

      @media (max-width: 575.98px) {
        width: 45px;
        height: 45px;
      }

      &.top,
      &.right,
      &.bottom,
      &.left {
        position: absolute;
      }

      &.top {
        top: 0;
      }

      &.right {
        right: 0;

        margin-right: -5px;

        @media (max-width: 575.98px) {
          right: 6%;

          margin-right: 0;
        }
      }

      &.bottom {
        bottom: 0;

        margin-bottom: -5px;

        @media (max-width: 575.98px) {
          bottom: 6%;

          margin-bottom: 0;
        }
      }

      &.left {
        left: 0;
      }

      .button {
        position: relative;

        width: 95px;
        height: 95px;

        background-color: $c-green;
        border: 5px solid #fff;
        border-radius: 50%;

        @include borderBox();

        @media (max-width: 575.98px) {
          width: 100%;
          height: 100%;

          padding: 0;

          border-width: 2px;
        }

        .icon {
          position: absolute;

          top: 50%;
          left: 50%;

          width: 60%;
          height: auto;

          margin: 0;

          .svg-face {
            fill: #fff;
          }

          @include transform(translate(-50%, -50%));
        }
      }
    }

    .thumbnail-container {
      padding-left: 15px;
      padding-right: 50px;

      @media (max-width: 575.98px) {
        padding-right: 15px;
      }
      @media (min-width: 576px) and (max-width: 1199.98px) {
        padding-right: 15px;
      }
    }
    .thumbnail-wrap {
      position: relative;

      @media (max-width: 575.98px) {
        text-align: center;
      }
      @media (min-width: 576px) and (max-width: 1199.98px) {
        text-align: center;
      }
      
      .thumbnail {
        position: relative;
        display: inline-block;

        width: 100%;
        height: auto;

        @media (min-width: 576px) and (max-width: 767.98px) { //sm
          max-width: 400px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) { //md
          max-width: 400px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) { //lg
          max-width: 400px;
        }
      }
    }

    .texts-container {
      .title-label {
        margin-bottom: 40px;

        @media (max-width: 575.98px) {
          margin-bottom: 20px;

          line-height: 1.4;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          margin-bottom: 20px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-bottom: 25px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &-screen3 {
    padding-top: 100px;
    background-color: $c-gray-base-light;

    @media (max-width: 575.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .link-items {}
    .link-item {
      @media (max-width: 575.98px) {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) { //sm
        margin-bottom: 50px;
      }
    }
    .link-wrap {
      .logo-container {
        position: relative;

        line-height: 0;
        text-align: center;
      }
      .background {
        position: relative;
        display: inline-block;

        width: 80%;
        max-width: 270px;
        height: auto;

        margin-right: auto;
        margin-left: auto;

        @media (max-width: 575.98px) {
          width: 33.3333%;
        }
      }

      .logo {
        position: absolute;

        top: 50%;
        left: 50%;

        width: 100%;
        height: auto;

        @include transform(translate(-50%, -50%));
      }
      .forrester {
        max-width: 174px;

        @media (max-width: 575.98px) {
          max-width: 87px;
        }
      }
      .backed_by_the_best {
        max-width: 92px;

        @media (max-width: 575.98px) {
          max-width: 46px;
        }
      }
      .kubernetes {
        max-width: 200px;

        @media (max-width: 575.98px) {
          max-width: 100px;
        }
      }

      .label {
        max-width: 250px;

        margin-top: 30px;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;

        color: $c-blue;
        line-height: 1.6675;
        text-align: center;

        @media (max-width: 575.98px) {
          line-height: 2;
        }
      }
    }
  }

  &-screen4 {
    .texts-container {
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

      @media (max-width: 575.98px) {
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
      }
      @media (min-width: 768px) and (max-width: 991.98px) {

      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
      }
    }

    .buttons-container {
      position: relative;

      margin-top: 50px;

      padding-top: 200px;
      padding-right: 20px;
      padding-bottom: 200px;
      padding-left: 20px;

      @media (max-width: 575.98px) {
        display: flex;
        flex-wrap: wrap;

        margin-top: 0;
        padding-top: 0;
        padding-right: 15px;
        padding-bottom: 100px;
        padding-left: 15px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 100px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-top: 0;
        padding-top: 60px;
        padding-right: $mobile-side-space;
        padding-bottom: 100px;
        padding-left: $mobile-side-space;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        margin-top: 0;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }
      @media (min-width: 1200px) and (max-width: 1279px) {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    .button {
      position: relative;
      display: flex;

      flex-wrap: nowrap;

      justify-content: flex-start;
      align-items: center;

      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: 575.98px) {
        flex: 0 0 100%;

        max-width: 100%;

        text-align: left;
      }
    }
    .button.text {
      height: auto;

      margin-bottom: 50px;

      @media (max-width: 575.98px) {
        margin-bottom: 20px;
      }
      @media (max-width: 575.98px) {
        margin-bottom: 20px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-bottom: 25px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-bottom: 30px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        margin-bottom: 40px;
      }
    }
    .button .icon {
      position: relative;
      overflow: hidden;

      flex: 0 0 50px;

      max-width: 50px;
      height: 50px;

      margin-right: 15px;
      margin-left: 0;

      background-color: $c-gray-base-light;
      border-radius: 50%;

      @media (max-width: 575.98px) {
        flex: 0 0 36px;

        max-width: 36px;
        height: 36px;
      }

      img {
        position: relative;
        display: inline-block;
  
        width: 100%;
        height: auto;
      }
    }
    .text-label {
      position: relative;

      flex: 1;

      white-space: nowrap;

      span:before {
        display: none;
      }

      @media (max-width: 575.98px) {
        font-size: 14px;
        line-height: 1.4;

        letter-spacing: -.025em;
      }
    }
  }

  &-screen5 {
    .contents-container {
      padding-bottom: 200px;

      @media (max-width: 575.98px) {
        padding-bottom: 60px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-bottom: 100px;
      }
    }

    .head-label {
      padding: 0;

      line-height: 150px;

      @media (max-width: 575.98px) {
        // padding-top: 60px;
        padding-bottom: 30px;
        padding-left: $mobile-side-space;

        line-height: 1;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-left: $mobile-side-space;

        background-color: $c-blue;
        line-height: 100px;

        &:before,
        &:after {
          display: none;
        }
      }
      @media (min-width: 768px) and (max-width: 1199.98px) {
        padding-left: $mobile-side-space;

        line-height: 100px;
      }
      @media (min-width: 1200px) and (max-width: 1240px) {
        padding-left: $mobile-side-space;

        line-height: 100px;
      }
      @media (min-width: 1240.99px) and (max-width: 1280px) {
        line-height: 100px;
      }

      .label {
        margin: 0;

        @media (max-width: 575.98px) {
          padding-top: 50px;
          padding-bottom: 0;

          line-height: 1.2;
        }
        @media (min-width: 576px) and (max-width: 767.98px) { //sm
          padding-top: 50px;
          padding-bottom: 0;

          line-height: 1.2;
        }
        @media (min-width: 768px) and (max-width: 991.98px) { //md
        }
        @media (min-width: 992px) and (max-width: 1199.98px) { //lg
        }
      }
    }

    .image-container {
      position: relative;

      line-height: 0;

      @media (max-width: 575.98px) {
        margin-top: -35px;
        padding-right: 0;
        padding-left: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: -35px;
        padding: 0;
      }

      .image {
        position: absolute;

        top: 0;
        right: 0;

        width: auto;
        height: 100%;

        @media (max-width: 575.98px) {
          position: relative;

          width: 100%;
          height: auto;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          position: relative;

          width: 100%;
          height: auto;
        }
      }
    }

    .texts-container {
      padding-right: 0;
      padding-bottom: 150px;
      padding-left: 100px;

      @media (max-width: 575.98px) {
        padding-top: 30px;
        padding-right: $mobile-side-space;
        padding-bottom: 40px;
        padding-left: $mobile-side-space;

        &:before {
          display: none;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding: 30px;

        &:before {
          display: none;
        }
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        padding-right: 30px;
        padding-left: 30px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-right: 40px;
        padding-bottom: 100px;
        padding-left: 40px;
      }
      @media (min-width: 1200px) and (max-width: 1280px) {
        padding-right: 50px;
        padding-bottom: 100px;
        padding-left: 50px;
      }

      .title-label {
        margin-bottom: 50px;

        color: #fff;

        @media (max-width: 575.98px) {
          margin-bottom: 15px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          margin-bottom: 20px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          margin-bottom: 30px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          margin-bottom: 40px;
        }
      }

      .description-label {
        margin-bottom: 15px;

        color: #fff;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-screen6 {
    .blank-bottom {
      padding-bottom: 150px;

      @media (max-width: 575.98px) {
        padding-bottom: 50px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-bottom: 70px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        padding-bottom: 100px;
      }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-bottom: 120px;
      }
    }

    .contents-container {
      @media (max-width: 575.98px) {
        background-color: transparent;

        &:before {
          display: none;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        background-color: transparent;
      }
    }

    .texts-container {
      padding-top: 100px;

      @media (max-width: 575.98px) {
        padding-top: 0;
        padding-bottom: 0;

        background-color: $c-blue-dark1;

        &:first-child {
          padding-top: 60px;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 0;
        padding-bottom: 0;

        background-color: $c-blue-dark1;
      }

      &:first-child {
        padding-left: 0;

        @media (max-width: 575.98px) {
          padding-left: $mobile-side-space;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          padding-top: 60px;
          padding-left: $mobile-side-space;
        }
        @media (min-width: 768px) and (max-width: 1239.98px) {
          padding-left: $mobile-side-space;
        }
      }

      @media (max-width: 575.98px) {
        padding-right: $mobile-side-space;

        .label {
          max-width: 250px;

          line-height: 2;
        }
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .label {
          margin-bottom: 30px;

          white-space: nowrap;
        }
      }

      .title-label {
        color: #fff;
        line-height: 1.25;

        @media (max-width: 575.98px) {
          font-size: 1.7em;
        }
      }

      .description-label {
        margin-bottom: 15px;

        color: #fff;

        &:first-child {
          margin-top: 50px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
      @media (max-width: 575.98px) {
        .description-label:first-child {
          margin-top: 0;
        }
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .description-label:first-child {
          margin-top: 0;
        }
      }
    }

    .sliders-container {
      margin-top: 60px;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;

      @media (max-width: 575.98px) {
        z-index: 1;

        margin-top: 0;

        background-color: $c-blue-dark1;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        z-index: 1;

        margin-top: 0;

        background-color: $c-blue-dark1;
      }

      &:last-child {
        margin-top: 70px;
        margin-bottom: 80px;

        @media (max-width: 575.98px) {
          z-index: 0;

          margin: 0;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          z-index: 0;

          margin: 0;
        }
      }
    }
    .slides-wrap {
      position: relative;

      @media (max-width: 575.98px) {
        margin-top: 40px;

        width: 185%;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 40px;

        width: 185%;
      }

      &.show .slick-list {
        overflow: visible;
      }
    }
    .slide-item {
      position: relative;

      margin-right: 30px;

      background-color: $c-blue-dark1;
      box-shadow: 10px 15px 25px rgba($c-blue, .15);

      line-height: 0;

      &:before {
        z-index: 1;
        content: '';
        position: absolute;
        display: inline-block;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

        opacity: .75;
      }

      @media (max-width: 575.98px) {
        margin-right: 18px;

        box-shadow: 8px 8px 16px rgba($c-blue-dark1, .25);
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-right: 18px;

        box-shadow: 8px 8px 16px rgba($c-blue-dark1, .25);
      }

      .thumbnail {
        position: relative;

        width: 100%;
        height: auto;
      }

      .thumbnail-description {
        z-index: 2;
        position: relative;

        width: 100%;

        margin-bottom: 0;
        padding: 30px 50px;

        color: #fff;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.4;

        @media (max-width: 575.98px) {
          font-size: 16px;

          padding: 22px;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
          font-size: 17px;

          padding: 24px;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
          font-size: 18px;

          padding: 28px;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
          font-size: 20px;

          padding: 30px;
        }
      }
      .thumbnail-description.above {
        position: absolute;

        top: 0;
        left: 0;

        width: auto;
      }
      .thumbnail-description.bottom {
        top: initial;
        bottom: 0;
      }
    }

    .slider-pager {
      position: relative;
      display: flex;
      flex: 1;

      justify-content: flex-end;

      width: 100%;

      @media (max-width: 575.98px) {
        margin-top: 0;
        padding-top: 35px;
        padding-bottom: 35px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-top: 0;
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }

    .btn-prev,
    .btn-next {
      position: relative;
      display: inline-block;
      flex: 0 0 75px;

      width: 75px;
      max-width: 75px;
      height: 75px;

      cursor: pointer;

      @include transition(background-color .25s);

      @media (max-width: 575.98px) {
        max-width: 45px;
        height: 45px;

        padding: 0;
      }

      .icon {
        width: 50%;

        margin: 25%;
      }

      svg {
        position: relative;

        width: 50%;
        height: auto;

        margin: 25%;
      }
      .arw {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;

        @include transition(stroke .25s);

        .left {}
      }

      &:hover,
      &.active {
        background-color: $c-green;

        .arw {
          stroke: #fff;
        }
      }
    }
  }

  &-screen7 {
    .contents-container {
      padding-top: 200px;
      padding-bottom: 200px;

      @media (max-width: 575.98px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 80px;
        padding-bottom: 80px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }

    .texts-container {
      .label {
        text-align: center;
      }

      .title-label {
        text-align: center;
      }

      .description-label {
        text-align: center;
      }
    }

    .cards-container {
      position: relative;

      margin-top: 100px;
      padding: 0;

      @media (max-width: 1279px) {
        padding-right: 30px;
        padding-left: 30px;
      }

      @media (max-width: 575.98px) {
        z-index: 1;

        margin-top: 35px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;

        >.row >.col-6 {
          margin-bottom: 20px;
          padding-right: 8px;
          padding-left: 8px;
        }
      }
    }

    .card-container {
      position: relative;

      margin-top: 0;
      margin-bottom: 0;

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 15px 25px 75px rgba($c-blue, .1);

      @include transition(margin .25s);

      @media (max-width: 575.98px) {
        margin-bottom: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        margin-bottom: 30px;
      }

      &:hover {
        margin-top: -20px;
        margin-bottom: 20px;

        @media (max-width: 575.98px) {
          margin-top: 0;
        }
      }

      &:first-child {
        margin-left: 1px;
      }

      &:last-child {
        margin-right: 1px;
      }

      .image-container {
        .background {
          position: absolute;

          top: 0;
          left: 0;

          width: 100%;
          height: auto;
        }

        .icon {
          position: relative;
          display: inline-block;

          width: 100%;
          height: auto;
        }
      }

      .text-container {
        padding: 50px 10px 40px;

        text-align: center;

        @media (max-width: 575.98px) {
          padding: 35px 5px 30px;
        }

        p {
          margin: 0;
          margin-top: 10px;
          padding: 0;

          color: $c-blue-dark2;
          font-size: 22px;
          font-family: 'Poppins';
          font-weight: 400;
          line-height: 1;

          cursor: default;

          @media (max-width: 1279px) {
            font-size: 1em;
          }
          @media (max-width: 575.98px) {
            font-size: .8em;
            font-weight: 500;
          }
        }
        p.point-label {
          margin: 0;

          color: $c-blue;
          font-size: 50px;
          font-weight: 600;

          @media (max-width: 1279px) {
            font-size: 2em;
          }
        }

        hr {
          width: 33.3333%;

          margin: 1.5em auto;

          border: 0px none white;
          border-top: 1px solid #d0d4d7;
        }

        .button {
          height: auto;

          margin: 0;

          font-family: 'Roboto';

          @media (max-width: 1279px) {
            font-size: 1em;
          }

          @media (max-width: 575.98px) {
            font-size: .9em;
          }
        }
      }
    }
  }

  &-screen8 {
    background-color: $c-gray-base-light;

    @media (max-width: 575.98px) {
      z-index: 1;

      margin-top: 36px;

      background-color: transparent;
    }

    .head-label {
      padding-left: 0;

      line-height: 100px;

      @media (max-width: 575.98px) {
        padding-left: $mobile-side-space;

        text-align: left;

        background-color: $c-gray-base-light;
      }
    }

    .label {
      margin: 0;

      @media (max-width: 1279px) {
        margin: 30px 0;
        padding: 0 15px;
      }

      @media (max-width: 575.98px) {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        padding-top: 60px;

        max-width: 250px;

        line-height: 2;
        text-align: left;

        br {
          display: none;
        }
      }
    }

    .texts-container {
      padding: 100px 0 160px;

      @media (max-width: 575.98px) {
        padding: 30px 0 60px;

        background-color: $c-gray-base-light;
      }

      &:first-child {
        margin-bottom: 0;
      }
    }

    .easy-steps {
      @media (max-width: 1279px) {
        padding: 0;
        padding-left: 30px;
      }

      @media (max-width: 575.98px) {
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }

      .title-label {
        b {
          font-weight: 400;
        }
      }
      @media (max-width: 575.98px) {
        .title-label br {
          display: none;
        }
      }

      p {
        color: rgba($c-gray, .75);

        @media (max-width: 575.98px) {
          font-size: 1em;
          font-weight: 300;
          line-height: 1.6;
        }
      }

    }

    .more-container {
      margin-top: 70px;

      @media (max-width: 575.98px) {
        margin-top: 15px;

        p {
          color: rgba($c-gray, 1);

          font-size: .925em;
          line-height: 2.2;
          font-weight: 300;
        }
        a {
          font-weight: 400;
        }
      }

      .a-underline {
        color: $c-sky-blue;

        span:before {
          background-color: rgba($c-sky-blue, .15);
        }

        &:hover {
          span:before {
            background-color: rgba($c-sky-blue, .3);
          }
        }
      }
      @media (max-width: 575.98px) {
        .a-underline:first-child::after {
          content: '';
          display: block;

          clear: both;
        }
      }
    }

    .easy-steps-detail {
      @media (max-width: 1279px) {
        padding: 0;
        padding-right: 30px;
      }

      @media (max-width: 575.98px) {
        margin-top: 35px;
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }

      .row {
        margin-bottom: 25px;
        padding-bottom: 25px;

        border-bottom: 1px solid rgba($c-gray, .25);

        @media (max-width: 575.98px) {
          margin-bottom: 25px;
          padding-bottom: 0;

          border-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;

          border: 0;
        }
      }
    }

    .title-container {
      padding-left: 0;

      @media (max-width: 575.98px) {
        padding-right: $mobile-side-space;
        padding-left: $mobile-side-space;
      }

      .number-label {
        position: absolute;

        color: rgba($c-blue, .1);
        font-family: 'Poppins';
        font-size: 75px;
        font-weight: 400;
        line-height: 75px;

        @media (max-width: 575.98px) {
          font-size: 3.25em;
          font-weight: 500;
          line-height: 1.5em;
        }
      }

      .title-label {
        margin-left: 30px;

        color: $c-blue;
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 400;
        line-height: 75px;

        @media (max-width: 575.98px) {
          margin-left: 20px;
          margin-bottom: 0;

          font-size: 1.4em;
          font-weight: 500;
        }
      }
    }

    .description-container {
      padding-right: 0;

      @media (max-width: 575.98px) {
        margin-top: -5px;
        padding-right: $mobile-side-space;
        padding-left: 35px;
      }

      .description-label {
        color: rgba($c-gray, .75);
        font-size: 15px;
        line-height: 1.6;

        @media (max-width: 575.98px) {
          font-size: 1em;
          line-height: 1.75;
        }

        &.code {
          padding: 20px;

          color: $c-blue;
          font-family: 'Source Code Pro', monospace;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.675;

          background-color: #fff;
          border-radius: 10px;

          @media (max-width: 575.98px) {
            color: #0075a8;
            font-size: .9em;
          }
        }
      }
    }
  }
}

.why-rancher .analyst-report {
  margin-top: 100px;
  margin-bottom: 100px;

  blockquote {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 6px solid $c-blue;
  }
}

.what-is-rancher {
  .article-item-detail {
    ul {
      font-weight: 300;
      margin-left: 0;
      line-height: 1.5;

      li {
        list-style: disc;
      }
    }
  }

  .tab-content:not(:first-of-type) {
    margin-bottom: 40px;
    margin-top: 40px;
  }


  .content-tabs {
    .nav-tabs {   
        display: flex;

        li {
          background: $c-blue;
          flex: 1 1 100px;
          margin-right: 4px;
          transition: all 200ms ease-out;
          
          &:last-of-type {
            margin-right: 0;
          }

          a {
            padding: .75rem 2rem;
            display: block;
          }

          &:not(.active) a {
            color: $c-gray-light;
          }

          &.active {
          background: $c-gray-light;
          box-shadow: 0 -2px 0 $c-blue;
        }
      }
    }

    .tab-pane {
      padding: 2rem;
      display: none;
      background: $c-gray-light;

      &.active {
        display: block;
      }
    }
  }
}
