.writing-program-research-assistant-screen1 {
    margin-top: 100px;

    background-color: $c-gray-base-light;
    
    .decoration {
        position: relative;
    
        width: 100%;
    
        line-height: 0;
    }
    
    .texts-container {
        padding-left: 0;

        line-height: 0;
    
        .texts-wrap {
            z-index: 1;
        
            margin-top: 110px;
            margin-bottom: 100px;
        
            .title-label {
                margin-bottom: 20px;

                color: #000;
                font-size: 50px;
                font-weight: 200;
                text-align: center;
            }
        
            .sub-title-label {
                margin-bottom: 20px;

                color: #000;
                line-height: 1.4;
                text-align: center;
            }

            .description-label {
                margin-bottom: 30px;

                color: rgba($c-gray, .75);
                font-size: 15px;
                font-weight: 400;
                line-height: 1.665;
                text-align: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .lower-container {
        height: 150px;
    
        margin-top: -150px;
    
        line-height: 0;
    
        .decoration {
            position: relative;
        
            height: 100%;
        
            &.ground {
                .ground-lower {
                    position: relative;
            
                    width: auto;
                    height: 75px;
            
                    margin-top: 75px;
                    margin-left: 30%;
                }
        
                .ground-upper {
                    position: absolute;
            
                    bottom: 0;
                    left: 46.5%;
            
                    width: auto;
                    height: 130px;
                }
            }
        }
    }
}

.writing-program-research-assistant-screen2 {
    .texts-container {
        padding-top: 150px;
        padding-bottom: 60px;

        .title-label {
            margin-bottom: 20px;

            color: #fff;
            text-align: center;
        }

        .description-label {
            color: rgba(#fff, .75);
            text-align: center;
        }
    }

    .detail-container {
        padding-bottom: 30px;
    }
    .detail-item {
        margin-bottom: 60px;
        padding-bottom: 60px;

        border-bottom: 1px solid rgba(#fff, .25);

        > div {
            padding-right: 0;
            padding-left: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        .title-label {
            margin-top: -.5em;
            padding-right: 5%;

            color: #fff;
            font-size: 25px;
            font-weight: 400;
            line-height: 2;
        }

        .description-label {
            margin-bottom: 30px;

            color: rgba(#fff, .75);
            font-size: 15px;
            font-weight: 300;
            line-height: 1.665;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .list-container {
            position: relative;
            display: inline-block;

            width: 100%;

            margin-bottom: 30px;

            &.type-dot {
                padding-left: 15px;
            }
        }
        .list-item {
            position: relative;
            display: block;

            margin-bottom: 2px;

            color: rgba(#fff, .75);
            font-size: 15px;
            font-weight: 300;
            line-height: 1.665;

            &:last-child {
                margin-bottom: 0;
            }

            > .list-container {
                margin-left: 10px;
            }
        }
        .type-dot .list-item:before {
            content: '•';
            position: absolute;

            top: .05em;
            left: -15px;
        }
    }
}

.writing-program-research-assistant-screen3 {
    .texts-container {
        padding-top: 150px;
        padding-bottom: 60px;

        text-align: center;

        .title-label {}

        .description-label {
            color: rgba($c-gray, .75);
            font-weight: 300;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .buttons-container {
            margin-top: 40px;

            .button {
                min-width: 210px;

                box-shadow: 15px 25px 50px rgba($c-blue-dark1, .15);
            }
        }
    }
    .half .texts-container {
        padding: 50px 0 100px;

        .title-label {
            color: $c-blue;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 1.6666;
        }
        
        .description-label {
            max-width: 390px;
            min-height: 5.325em;
            
            margin-right: auto;
            margin-left: auto;
            
            color: $c-blue-dark1;
            font-weight: 300;

            @include textElipsis(3, 1.775);
        }
    }

    .contents-container.half.background-base-gray-side {
        &:before,
        &:after {
            height: 75px;
        }

        .texts-container {
            &:after {
                z-index: 1;
                content: "";
                position: absolute;

                top: 0;
                right: 100%;

                width: 15px;
                height: 75px;

                margin-right: calc(-15px / 2);

                background-color: #f2f5f5;
            }

            &:first-child {
                padding-right: calc(-15px / 2);

                &::after {
                    display: none;
                }
            }
            &:last-child  {
                padding-right: calc(-15px / 2);
            }
        }
    }

    .description-container {
        padding-bottom: 210px;

        .description-label {
            color: rgba($c-gray, .75);
            text-align: center;
        }
    }
}
